.coupon-content {
	height: auto;
	width: 1100px;
	margin-top: 28px;
	margin-bottom: 33px;
	margin-left: 50px;
}

.coupon-content .coupon-nav-view {
	position: relative;
	height: auto;
	width: 1100px;
	padding-right: 16px;
}

.coupon-content .coupon-nav-view ul {
	padding: 10px 0;
	overflow: hidden;
}

.coupon-content .coupon-nav-view  .selectTitle {
	width: 100px;
	color: #000;
	float: left;
	padding: 12px;
	font-size: 14px;
}

.coupon-content .coupon-nav-view ul li {
	width: 50px;
	text-align: center;
	color: #6d6c6c;
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 35px;
}

.coupon-content .coupon-nav-view ul li:hover,
.coupon-content .coupon-nav-view ul li.active {
	background-color: #009ada;
	color: white;
	border-radius: 2px;
}
.coupon-content-detail{
	margin: 0 50px;
}

.has-line{
	border-bottom: 1px #ccc solid;
}
.ccc-tab > ul.ttabs > li a{
	text-decoration: none;
	margin: 0;
	color: #999;
}
.ccc-tab > ul.ttabs > li a:hover,
.ccc-tab > ul.ttabs > li a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #009ada;
	border-radius: 2px;
	margin: 0;
}
.ccc-tab > ul.ttabs .active {
  border-bottom: none;
  margin-bottom: 0px;
}
.ccc-tab > ul.ttabs .active a{
	background-color: #009ada;
	color: white;
	border-radius: 2px;
	border-bottom: none;
	margin-bottom: 0px;
	text-decoration: none;
}


.ccc-tab > ul.stabs > li a{
	text-decoration: none;
	margin: 0;
	color: #999;
}
.ccc-tab > ul.stabs > li a:hover,
.ccc-tab > ul.stabs > li a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #009ada;
	border-radius: 2px;
	margin: 0;
}
.ccc-tab > ul.stabs .active {
  border-bottom: none;
  margin-bottom: 0px;
}
.ccc-tab > ul.stabs .active a{
	background-color: #009ada;
	color: white;
	border-radius: 2px;
	border-bottom: none;
	margin-bottom: 0px;
	text-decoration: none;
}
/*jo*/

.couponWrapper {
	float: left;
	color: #fff;
	margin: 20px 24px;
}

.couponWrapper .INTEREST {
	background: url(/ccc/newAccount/img/coupon/red-bg.png );
	width: 350px;
	height: 140px;
	border-radius: 10px;
}

.couponWrapper .REBATE {
	background: url(/ccc/newAccount/img/coupon/green-bg.png );
	width: 350px;
	height: 140px;
	border-radius: 10px;
}

.couponWrapper .PRINCIPAL {
	background: url(/ccc/newAccount/img/coupon/yellow-bg.png );
	width: 350px;
	height: 140px;
	border-radius: 10px;
}
.couponWrapper .CASH {
	background: url(/ccc/newAccount/img/coupon/orange-bg.png );
	width: 350px;
	height: 140px;
	border-radius: 10px;
}


.couponWrapper-left {
	float: left;
	border-right: 1px dashed #fff;
	font-size: 30px;
	width: 85px;
	height: 144px;
	padding: 12px 30px;
}

.couponWrapper-right {
	float: left;
	width: 260px;
}

.couponWrapper .couponTitle {
	font-size: 12px;
	text-align: right;
	height: 25px;
	padding-top: 15px;
}

.couponWrapper .valueText {
	text-align: center;
	font-size: 30px;
	height: 90px;
	padding: 27px 0;
}

.couponWrapper .couponDescription {
	text-align: center;
	font-size: 14px;
	margin-right: 5px;
}

.exchange {
	display: block;
	width: 80px;
	height: 30px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 14px;
	background: #2A375F!important;
	color: #fff;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.clear {
	clear: both;
}

.ccc-paging {
	margin: 20px auto;
	width: 260px;
}

.ccc-paging > div {
	float: left;
	min-width: 25px;
	height: 25px;
	text-align: center;
	color: #939393;
	line-height: 25px;
	cursor: pointer;
	margin-left: 5px;
	padding: 0 5px;
	border: 1px solid #ddd;
}

.ccc-paging > div:hover {
	border: 1px solid #e5e5e5;
	background-image: none;
	background-color: #009ada;
		color: #fff;
}

.ccc-paging .active {

	border: 1px solid #e5e5e5;
	background-image: none;
	background-color: #2A375F;
}

.ccc-paging .clear {
	border: none;
}