<link rel="stylesheet" href="/ccc/global/css/base.css" />
<link rel="stylesheet" href="/ccc/login/css/style.css">

<div id="main-container">
    <img src="/ccc/login/img/bg-log-2.jpg"/>
    <div class="s-login-view">
        <div class="s-login-window">
            <form id="loginForm" action="/login" method="POST">
                <div class="s-input-wrapper">
                    <i class="mdi mdi-account"></i>
                    <i class="mdi mdi-lock-open"></i>
                    <input type="text" name="loginName" placeholder="用户名/手机" />
                    <input type="password" name="password" placeholder="密码" />
                    <input type="hidden" name="backUrl" value="{{backUrl}}">
                </div>
                <a href="/forgot" class="u-float-right">忘记密码？</a>
                <input type="submit"  class="do-login cursor-pointer" value="登录" />
                <button onclick="location.href='/register'">注册</button>
                <p class="login-error"></p>
            </form>
        </div>
    </div>
</div>

<script src="/ccc/login/js/main/login.js"></script>
