<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/userKnow/css/style.css">

<div class="content">
<div class="bac">
    <div class="content_classify float">
            <div class="bac_left">
                <div class="top">
                    <img src="/ccc/userKnow/img/icon_title.png" alt="">
                </div>
                <div class="bottom">
                    <div class="erweima">
                        <img src="/ccc/global/img/app_ewm.png" alt="">
                    </div>
                    <div class="down">
                        <div>
                            <img src="/ccc/userKnow/img/download_android.png" alt="">
                        </div>
                        <div>
                            <img src="/ccc/userKnow/img/download_ios.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bac_right">
                <img src="/ccc/userKnow/img/iphone.png" alt="">
            </div>
        </div>
</div>
    
    <div class="width100">     
        <div class="content_classify content_classify-process">
            <h1>申请条件有哪些</h1>
            <div class="line"></div>
            <div class="parent">
               <h2></h2>
            </div>
            
            <div class="application">
                <div class="left1 hover">
                    <div class="left"></div>
                    <div class="right">
                        <div>年龄要求</div>
                        <div class="line"></div>
                        <div>年龄需在18（含）至60（含）周岁之间</div>
                    </div>
                </div>
                <div class="left2 hover">
                    <div class="left"></div>
                    <div class="right">
                        <div>经营证件</div>
                        <div class="line"></div>
                        <div>拥有烟草专门销售许可证的商户</div>
                    </div>
                </div>
            </div>
            <div class="application">
                <div class="left3 hover">
                    <div class="left"></div>
                    <div class="right">
                        <div>经营时间</div>
                        <div class="line"></div>
                        <div>经营时间1年以上</div>
                    </div>
                </div>
                <div class="left4  hover">
                    <div class="left"></div>
                    <div class="right">
                        <div>所在区域</div>
                        <div class="line"></div>
                        <div>除西藏、新疆、青海、内蒙古外所在区域</div>
                    </div>
                </div>
            </div>  
        </div>
    </div>  
    <div class="content_main">
        <div class="content_classify content_classify-financial">
            <h1>五步轻松搞定 &nbsp;极速放款</h1>
            <div class="line"></div>
            <div class="parent">
               <h2></h2>
            </div>
            <div class="flex-box">
                <div>
                    <p>注册</p>
                    <p>开户</p>
                </div>
                <div>
                    <p>借款</p>
                    <p>申请</p>
                </div>
                <div>
                    <p>快速</p>
                    <p>审核</p>
                </div>
                <div>
                    <p>发标</p>
                    <p>募集</p>
                </div>
                <div>
                    <p>极速</p>
                    <p>放款</p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--<script src="/ccc/userKnow/js/main/common.js"></script>-->
</dsBody>
