{{#if visible }}
<div class="popup-agreement">
    <div class="row service-agreement">
        <h3>长江财富注册服务协议</h3>
        <div class="close" on-click="close"></div>
        <div class="agreement-content">
            <p>本协议是<u>  重庆长江金融保理有限公司  </u>（以下简称“本公司”）与<u>  长江财富的注册用户  </u>就互联网信息服务事项所订立的合同。注册用户包括投资人（出借人）、融资人（借款人）、担保人等（以下统一简称“您”）。</p>
            <p>在签订本协议之前，请您仔细阅读本协议全部内容（特别是<u>下划线标注的文字</u>）。如果您不同意本协议的任何内容，或者未准确理解任何条款的含义，请不要进行后续操作。</p>
            <p><u>您通过网络页面点击确认或以其他方式（包括但不限于签字或盖章确认等）接受本协议，即表明您与本公司签订合同并同意接受本协议的全部约定、与本协议有关的各项规则及本公司网站所包含的其他有关的各项规定。</u></p>
            <p class="agreement-subtitle"><strong>一、定义</strong></p>
            <p>除非本协议另有约定，本协议下列术语定义如下：</p>
            <p><u>1、长江财富：</u>指由本公司开发并运营的，向您提供投融资信息（含金融产品信息，借款信息、投资信息等，下同）发布与管理、投融资产品交易管理、交易资金结算（由支付机构提供）等服务的信息中介服务平台。该平台的网址为： www.cjcaifu.com  ，以及本公司根据业务需要不时修改的网址。</p>
            <p><u>2、投资人：</u>指通过长江财富投资于投融资产品的自然人、法人或其他组织，具体名称包括但不限于出资者、出借人、债权转让人等。</p>
            <p><u>3、融资人：</u>指直接或间接在长江财富发布融资信息、并在满足本协议约定条件时获得融资款项的自然人、法人或其他组织自然人或法人，包括但不限于投资接受人、借款人、债权受让人等。</p>
            <p><u>4、担保人：</u>指自愿为融资人的债务向投资人提供担保的主体，主要包括融资性担保公司或小额贷款公司等。</p>
            <p><u>5、交易合同：</u>指在长江财富提供的中介信息服务下，投资人、融资人等主体所签订的投融资交易的书面文件，包括但不限于《借款及担保合同》、《借款合同》、《债权转让合同》等。</p>
            <p><u>6、支付机构：</u>指为长江财富用户提供交易资金归集、交易资金划转、交易查询等服务的第三方支付平台。本协议项下进行合作的支付机构为  联动优势电子商务有限公司  （以下简称“联动优势”）。</p>
            <p><u>7、绑定账户：</u>指您在支付机构申请注册的，以接受查询、冻结、划转、结算本协议项下投融资交易款项等资金的第三方支付账户。</p>
            <p><u>8、公告：</u>指在长江财富等公开媒介上进行的公开发布和展示行为。</p>
            <p class="agreement-subtitle"><strong>二、声明与承诺</strong></p>
            <p>1、除应遵守本协议约定外，您还应遵守《联动优势资金托管等服务协议》、《长江财富收费及资金划转规则》及长江财富制定的其他相关规则等约定，特别是在前述协议、规则中关于个人信息更新、账户安全、资金冻结和划转、支付机构服务使用规则等约定。</p>
            <p>2、您应在支付机构注册账户，并作为本协议项下的绑定账户。</p>
            <p>3、您承诺不为任何不合法目的或以任何不合法方式使用长江财富服务，并将遵守中国相关法律、法规，交易惯例及互联网使用惯例。</p>
            <p>4、您承诺无论您是否直接或间接在长江财富发布投融资信息，您都应按照本协议及本条第1项的约定履行相关义务。</p>
            <p><u>5、您确认在交易达成或交易申请提交后您不得予以变更、撤回或撤销，且您绑定账户中的资金将被冻结；但您与本公司另有约定的除外。</u></p>
            <p><u>6、您确认即便您已符合本协议约定的条件，但投融资交易及其收益的实现仍受制于其他多种因素，本公司及长江财富对此不作任何可实现的承诺。</u></p>
            <p><u>7、您确认长江财富有权根据相关规则限制您的投资资金渠道，具体以可在长江财富使用的资金渠道为准。</u></p>            
            <p class="agreement-subtitle"><strong>三、平台的服务</strong></p>
            <p>本公司提供的长江财富服务包括如下内容：</p>
            <p>1、投融资信息发布。您可以直接或者间接在长江财富发布投融资信息，具体以长江财富设定的流程为准。前述投融资信息一旦发布后，非经本公司的书面同意，不得变更、撤回或撤销。</p>
            <p>2、投融资交易撮合。长江财富将会根据您的意思表示，向您提供符合您设定条件的交易机会。根据交易方式的不同，包括如下两种模式：</p>
            <p class="agreement-smalltitle">（1）即时投融资</p>
            <p>①作为融资人，您可以通过长江财富直接或间接发布（即委托代理人发布）融资信息，并在满足特定条件后与投资人达成交易。</p>
            <p>②作为投资人，您可以通过长江财富对发布金融产品或融资信息的特定交易对手作出达成交易的意思表示，该意思表示一经系统确认即不得变更、撤回或撤销。</p>
            <p class="agreement-smalltitle">（2）预约投融资</p>
            <p><u>
               ①作为投资人，您可以通过长江财富预约投资；即按交易规则设定交易条件（如收益率，产品期限、类型，交易额度，交易时间等）后，由系统根据前述条件自动撮合交易，撮合成功即视为交易达成。</u></p>
            <p><u>②作为融资人，您可以通过长江财富预约融资；即按交易规则设定交易条件（如收益率，产品期限、类型，交易额度，交易时间等）并发布融资信息，由系统根据前述条件自动撮合交易，撮合成功即视为交易达成。</u></p>
            <p><u>③您知晓并同意：通过预约方式达成交易的，您的交易可能为多笔，您的交易受投融资额度限制可能仅部分成交，您的投融资金额可能被拆分，您的交易对手可能为多人，您交易的投融资产品类型可能不尽相同，您所获得的收益及投融资期限也可能不同。</u></p>
            <p>3、交易事项管理及授权</p>
            <p>（1）以公告、提示、通知等各种方式告知交易各方（即您）投融资交易事项、交易进展及履行情况，协助您实现权利或者履行义务。</p>
            <p>（2）为您办理投融资交易事项，包括但不限于根据交易合同、本协议及相关合同、协议的约定和长江财富相关规则的规定向支付机构发出指令，办理资金的结算及划转；代理投资人向融资人、担保人主张权利，以公平合理的规则分配资金；代理投资人向融资人、担保人证明相关事项；办理其他投融资交易中需要处理的事项等。</p>
            <p>（3）作为融资人，您自愿授权本公司（含本公司员工） 代为在长江财富上发布融资信息，代理您通过电子签名方式代为签署《借款及担保合同》（含调用CFCA电子签章进行签署等），以及办理其他相关事项。</p>
            <p>作为担保人，您自愿授权本公司（含本公司员工） 代为在长江财富上发布您推荐客户的融资信息，以及代理您通过电子签名方式代为签署《借款及担保合同》（含调用CFCA电子签章进行签署等），以及办理其他相关事项。</p>
            <p>4、资金结算及划转</p>
            <p><u>（1）根据相关法律法规及监管规定的要求，您在长江财富产生的所有资金划转都将委托给支付机构处理。长江财富将根据相关合同、协议的约定和交易规则的规定及时向支付机构发出指令，完成资金的结算和划转。</u></p>
            <p><u>（2）交易合同项下资金募集成功、融资人正常还款或者担保人代偿的，长江财富都将及时结算并指令支付机构将资金划转给相关绑定账户。前述资金划转流程将在募集成功之日（还款日或代偿日）后的2个工作日（T+2）内完成，具体以长江财富最新公告的《长江财富收费及资金划转规则》等为准 。</u></p>
            <p><u>（3）投资人在募集期内确定投资后，其绑定账户内相应金额的资金被冻结 ；在还款日之前的第3个工作日开始，进入融资人绑定账户的资金将被冻结，直至足额还款（冻结金额以应还款金额为限）。资金在其绑定账户被冻结期间，不计算利息（收益）。</u></p>
            <p><u>（4）您应保证您的联动优势账户及其他相关账户状态正常，并确保足额的交易资金以便正常划转。如因前述原因导致交易无法实现的，所有损失由您自行承担。</u></p>
            <p><u>（5）如融资人违约导致担保人代偿后，融资人又将款项转入绑定账户的，长江财富有权向支付机构发出指令将该等资金予以冻结或者划转担保人的指定账户。由此产生的全部费用均由融资人承担。前述冻结或者划转的金额以不超过融资人对担保人的欠款金额为限。不论您作为融资人、担保人，还是投资人，对前述约定均予以同意，并不得提出任何异议。</u></p>
            <p>4、交易文档</p>
            <p><u>为确保各方权益及方便管理，长江财富提供了交易合同（样本），并在交易达成时自动生成交易合同，以便交易各方查询、存档。<br />前述交易合同及交易明细等文档的保存时间为五年。
</u></p>
            <p>5、服务收费</p>
            <p><u>您在使用长江财富服务时，长江财富有权向您收取一定的服务费。服务费的收取标准以长江财富公告或您与长江财富的约定为准。<br />
长江财富有权单方面调整服务收费，但必须进行公告。该等调整构成本协议的有效补充，具有同等法律效力。自公告之日起，如您继续使用本服务的，即视为您同意长江财富按照调整后的收费标准向您收取服务费用。
</u></p>
            <p class="agreement-subtitle"><strong>四、风险提示</strong></p>
            <p><u>1、您知晓并自愿承担因通过长江财富进行交易可能面临的如下风险：</u></p>
            <p><u>（1）监管风险：有关法律、法规及相关政策、规则发生变化，可能导致无法实现您的投融资交易，您可能遭受因此导致的损失；</u></p>
            <p><u>（2）成交风险：您所发布的投融资交易可能无法达成，您可能无法获得收益或资金；</u></p>
            <p><u>（3）违约风险：因您的交易对手不按约定履行义务，您可能遭受因此导致的损失；</u></p>
            <p><u>（4）预期收益风险：您所投资的交易因特定原因可能无法实现预期收益，您可能因此无法获得更多收益；</u></p>
            <p><u>（5）因不可抗力所导致的损失；</u></p>
            <p><u>（6）因您的过错导致的任何损失；前述过错包括但不限于决策失误、操作不当、遗忘或泄露联动优势账户密码、密码被他人破解、您使用的计算机系统被第三方侵入、您委托他人代理交易时他人恶意或不当操作等。</u></p>
            <p><u>2、本公司不对您及/或任何交易提供任何担保或承诺，无论是明示或默示的。长江财富向您提供的各种信息及资料仅供参考，您应依其独立判断做出决策。如您据此进行交易的，产生的风险由您自行承担。</u></p>
            <p><u>3、在交易过程中，您与交易对手之间发生的纠纷，由纠纷各方自行解决，交易平台不承担任何责任。</u></p>
            <p><u>4、前述提示，并不能揭示您通过长江财富进行交易的全部风险。您在做出交易决策前，应全面了解相关交易，谨慎决策，并自行承担全部风险。</u></p>
            <p class="agreement-subtitle"><strong>五、不可抗力</strong></p>
            <p><u>长江财富因下列情况无法正常运作，使您无法使用相关服务的，本公司不承担损害赔偿责任。该等情况包括但不限于：</u></p>
            <p><u>1、长江财富所依赖的电信设备、线路故障，不能正常传输数据的；</u></p>
            <p><u>2、长江财富公告的系统停机维护期间；</u></p>
            <p><u>3、因台风、地震、海啸、洪水、停电、战争、恐怖袭击等造成长江财富系统障碍，不能开展业务的；</u></p>
            <p><u>4、由于黑客攻击、电信部门技术调整或故障、网站升级、其他第三方问题等原因而造成的服务中断或者延迟。</u></p>
            <p class="agreement-subtitle"><strong>六、信息收集、使用、共享与保护</strong></p>
            <p>1、信息收集</p>
            <p><u>（1）为更好地提供服务，您同意授权长江财富通过以下途径获取您的信息：</u></p>
            <p><u>①收集您留存在本公司的关联公司处的信息；<br />
②收集您留存在长江财富合作伙伴（包括但不限于小额贷款公司、担保公司、银行等，下同）处的信息；<br />
③向行政机关、司法机关查询、打印、留存您的信息；<br />
④向合法留存您信息的自然人、法人以及其他组织收集您的信息。
</u></p>
            <p><u>（2）您同意授权长江财富收集的信息包括但不限于：</u></p>
            <p><u>①您的身份信息，包括但不限于姓名/名称、证件号码、证件类型、住所地、电话号码、联动优势账户认证信息以及其他身份信息；</u></p>
            <p><u>②您的信用信息，包括但不限于您的征信记录和信用报告；</u></p>
            <p><u>③您的财产信息，包括但不限于您的企业经营状况、财税信息、房产信息、车辆信息、基金、保险、股票、信托、债券等财产信息和负债信息；</u></p>
            <p><u>④您在有关国家机关留存的信息，包括但不限于户籍信息、工商信息、诉讼信息、执行信息和违法犯罪信息；</u></p>
            <p><u>⑤您在申请、使用长江财富服务时所提供以及形成的任何数据和信息，包括但不限于您的联动优势账户和/或证券账户和/或银行账户信息；</u></p>
            <p><u>⑥您在本公司，以及关联公司和合作伙伴处中留存以及形成的任何数据和信息，以及与此相关的其他自然人、法人和组织的相关信息。</u></p>
            <p>2、信息使用</p>
            <p><u>为更好地提供服务，您同意授权长江财富将您的信息用于如下用途：<br />
①创建数据分析模型，为您提供适合于您的服务，并维护、改进这些服务；<br />
②为使您知晓或了解长江财富服务情况，通过电子邮件、联动优势、手机短信和传真等方式向您发送服务状态的通知、营销活动及其他商业信息；<br />
③比较信息的准确性并与第三方进行验证；<br />
④预防或阻止不合法的活动；<br />
⑤经您许可的其他用途。
</u></p>
            <p>3、保密及信息共享</p>
            <p><u>长江财富对您的信息承担保密义务，不会为满足第三方的营销目的而向其出售您的任何信息，仅在下列情况下才将您的信息与第三方共享：</u></p>
            <p><u>①获得您的同意或授权；</u></p>
            <p><u>②为了向您提供或推荐本公司的关联公司的服务和/或产品的需要，将您的信息提供给关联公司使用，且您同意前述关联公司通过电子邮件、手机短信和传真等方式向您发送服务状态的通知、营销活动及其他商业信息；</u></p>
            <p><u>③某些服务和/或产品和/或推广活动由长江财富的合作伙伴提供或由长江财富与合作伙伴共同提供，长江财富会与其分享必要的信息；</u></p>
            <p><u>④在您违反交易合同、本协议或其他协议时，向您的交易对手，与长江财富合作的银行、担保机构、保险机构、本公司的关联公司等第三方提供；</u></p>
            <p><u>⑤为建立信用体系，向征信机构发送您的信息。您同意并授权本公司将您的不良信息发送征信机构而无需另行通知您；</u></p>
            <p><u>⑥根据法律法规的规定及有权机关的要求提供相关信息。</u></p>
            <p class="agreement-subtitle"><strong>七、协议变更、解除、提前终止和权利义务的转让</strong></p>
            <p>1、协议变更与解除</p>
            <p><u>长江财富有权随时单方面修改本协议中与您相关的权利义务约定，并按约定方式通知您。若您不同意修改本协议，则应当立即停止使用长江财富服务；否则，视为您同意并接受修改后的协议。协议的修订，一经通知，立即生效。</u></p>
            <p><u>2、您在使用长江财富时，有下列情形之一的，长江财富有权单方面终止本协议：</u></p>
            <p><u>①您的联动优势账户因任何原因注销的；<br />
②冒用他人名义、盗用他人账户使用长江财富服务的；<br />
③为非法目的使用长江财富服务的；<br />
④从事任何可能侵害长江财富系统、资料之行为；<br />
⑤违反任何法律法规、本协议约定的行为；<br />
⑥因监管政策或监管要求，长江财富需要停止相关服务的。
</u></p>
            <p><u>3、除上述原因外，长江财富有权根据风险及自身业务运营情况的需要随时终止向您提供本服务，因此导致您无法使用服务或服务受到限制的，不视为长江财富违约。</u></p>
            <p><u>4、本协议终止后，按如下方式进行处理：</u></p>
            <p><u>①如您正在发布投融资信息的，长江财富将撤回您的信息；</u></p>
            <p><u>②非因您的原因导致的协议终止，长江财富继续履行本协议约定的相关义务，直至您的相关交易结束；</u></p>
            <p><u>③如因您自身原因导致本协议终止的，相关法律后果全部由您自行承担。</u></p>
            <p><u>5、权利义务的转让</u></p>
            <p><u>未经长江财富书面同意，您不得将本协议项下的权利和义务转让给任何第三方。<br />
            长江财富有权将其在本协议项下的权利和义务全部或部分转让给第三方，且转让行为无须征得您的同意，但将书面通知您该等转让。上述权利义务转让后，本公司承诺受让人将继续履约本协议项下相关义务。</u></p>
            <p class="agreement-subtitle"><strong>八、法律适用及争议解决</strong></p>
            <p><u>1、本协议的订立、效力、解释、履行等均适用中华人民共和国法律。<br />
2、凡由本协议引起的或与本协议有关的一切争议、纠纷，当事人应协商解决。协商不成的，各方一致同意提交本公司住所地人民法院通过诉讼方式解决。
</u></p>
            <p class="agreement-subtitle"><strong>九、通知事项</strong></p>
            <p><u>1、本协议履行过程中，长江财富向您发出的书面通知方式包括但不限于长江财富公告、邮寄纸质通知、联动优势网站公告、电子邮件、系统信息、手机短信和传真等方式。 您同意并自愿接受长江财富以前述方式进行的通知，并同意按通知要求处理或操作。</u></p>
            <p><u>2、如长江财富以邮寄方式向您发出书面通知的，则在长江财富按照您在长江财富或联动优势留存的通讯地址交邮后的第5个自然日即视为到达。</u></p>
            <p><u>如长江财富以公告、联动优势网站公告、电子邮件、系统信息、手机短信和传真等电子方式发出书面通知的，则在通知发送成功即视为到达。</u></p>
            <p class="agreement-subtitle"><strong>十、其他事项</strong></p>
            <p>1、除非本协议另有约定，在本协议中：</p>
            <p>（1）凡提及本协议应包括本协议及其附件，以及对协议及其附件所作的任何修改、修订或补充。前述各部分均为本协议不可分割的组成部分，具有合同的法律效力；</p>
            <p>（2）本协议条款的标题仅为查阅方便而设置，不应构成对本协议的任何解释，不对标题之下的内容及范围作任何限定；</p>
            <p>2、协议各方应按法律法规及相关规定各自承担与本协议相关的税费。</p>
            <p>3、如本协议中的任何条款完全或部分无效或不具有执行力，则该等条款将被视为自动删除，本协议的其他条款仍然具有完全法律效力，各方均应遵守。</p>
            <p>4、本协议未尽事宜，由双方协商处理或者按国家有关法律法规的规定或交易惯例的要求继续履行。</p>
            <p><u>5、协议任一方通过网络页面点击确认签署协议，与通过其他方式（包括但不限于签字或盖章确认等方式）签署本协议具有同等法律效力。</u></p>
            <p><u>如您同意并自愿签署本协议，请在网络页面点击确认或在此签字或盖章 ：</u></p>            
        </div>
    </div>    
</div>
{{/if}}