<div id="register-wrapper" class="on-step-{{onStep}}">
<!--    <p class="account">已有账号？<a href="/ccc/login/views/login">立即登录</a>-->
<!--    </p>-->
    <!--{{{passwordStrength}}}-->
    <Step>
        <div class="register-step-0">
          <div class="register-frame"> 
          <RInput field="mobile">
                <div class="rinput">
                    <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>手机号码:</label>
                    <input class="phone" id="{{rinputId}}" value="{{value}}" placeholder="输入手机号码">
                    <span class="tip">
        {{#loading}}loading...{{/loading}}
        {{#errMsg}}{{errMsg}}{{/errMsg}}
    </span>
                </div>
            </RInput> 
            <RInput field="smsCaptcha">
                <div class="rinput message-confirm bring-in">
                    <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}">短信验证码:</label>
                    <input id="{{rinputId}}" value="{{value}}" placeholder="短信验证码">
                    <button on-click='sendSmsCaptcha' {{#if !smsCaptchaReady || smsCaptchaCountDown}}disabled{{/if}}>
                        {{#if smsCaptchaCountDown}} {{smsCaptchaCountDown}}秒后重新发送 {{else}} 获取短信验证码 {{/if}}
                    </button>
                    {{#loading}}loading...{{/loading}} {{#errMsg}}{{errMsg}}{{/errMsg}}
                </div>
            </RInput>
            <!--            cc-->

            
<!--
            <RInput field="email">
                <div class="rinput">
                    <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>邮箱</label>
                    <input class="mailbox" id="{{rinputId}}" value="{{value}}" placeholder="输入信箱">
                    <span class="tip">
        {{#loading}}loading...{{/loading}}
        {{#errMsg}}{{errMsg}}{{/errMsg}}
    </span>
                </div>
            </RInput>
-->
            <RInput field="password" valueStableDuration=200>
                <div class="rinput">
                    <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>密码:</label>
                    <input class="password" id="{{rinputId}}" type="password" value="{{value}}" placeholder="输入密码">
                    <span class="tip">
        {{#loading}}loading...{{/loading}}
        {{#errMsg}}{{errMsg}}{{/errMsg}}
    </span>
                </div>
            </RInput>
            <RInput field="repassword" valueStableDuration=200>
                <div class="rinput">
                    <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>确认密码:</label>
                    <input class="repassword" id="{{rinputId}}" type="password" value="{{value}}" placeholder="再次输入密码">
                    <span class="tip">
        {{#loading}}loading...{{/loading}}
        {{#errMsg}}{{errMsg}}{{/errMsg}}
    </span>
                </div>
            </RInput>
                        <RInput field="imgCaptcha">
                <div class="rinput picnum">
                    <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>验证码:</label>
                    <input class="register-test" id="{{rinputId}}" value="{{value}}" placeholder="验证码">
                    <span on-click='changeImgCaptcha'>
                            <img src="{{imgCaptchaBase64}}" alt="">
                        </span>
                    <span id="cannot-see">看不清?</span>
                    <span id="refresh-captcha">换一张</span>
                </div>
                <div class="tip tip01">
                    {{#loading}}{{/loading}} {{#errMsg}}{{errMsg}}{{/errMsg}}
                </div>
            </RInput>
           
            
            <!--            cc-->

<!--
            <form role="form" class="form">
                <div class="errors">
                    {{#if errors.visible }}
                    <div class="content">
                        {{errors.msg}}
                    </div>
                    {{/if}}
                </div>
                {{#if isLegacy}}
                <div class="form-group">
                    <div class="clearfix"></div>
                    <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>验证码</label>
                    <input type="text" id="forgot-test" class="form-control captcha pull-left" value="{{captcha.text}}" placeholder="验证码">
                    <div class="inputtest-pic">
                        <img src="{{captcha.img}}" on-click="changeCaptcha" alt="captcha" class="pullright">
                        <span id="refresh-captcha"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {{ else }}
                <div class="form-group">
                    <div class="clearfix"></div>
                    <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>验证码</label>
                    <input type="text" id="forgot-test" class="form-control captcha pull-left" value="{{captcha.text}}" placeholder="验证码">
                    <div class="inputtest-pic">

                        <img src="{{captcha.img}}" on-click="changeCaptcha" class="pullright">

                        <span id="refresh-captcha"></span>

                    </div>
                    <div class="clearfix"></div>
                </div>

                {{/if}}

            </form>
-->

            <!--
            <RInput field="agreement" valueStableDuration=100>
                <div class="rinput agreement-div">
                    {{#if loading}}
                    <input class="next-step" type="submit" value="请稍等" disabled /> {{else}}
            
                    <label class="agree-register-protocol">
                        <input class="triangle" type="checkbox" id="{{rinputId}}" />
                        <p>我已阅读并同意
                            <a href="#" class="ccc-agreement" target="_blank">《河山匯网站声明》</a>和<a href="#" class="ccc-agreement" target="_blank">《何山匯服务协议》</a>2015年6月11日更新</p>
                    </label><br>
                    <input class="register" type="submit" value="立即注册" /> {{/if}}
                </div>
            </RInput>
-->
            <RInput field="agreement" valueStableDuration=100>
                <div class="rinput agreement-div">

                    <br>
                    <br> {{#if stepLoading}}
                    <input class="next-step" type="button" value="请稍等" disabled /> {{else}}
                    <input on-click='nextStep' class="next-step" type="button" value="立即注册" /> {{/if}}
                                        <label class="agree-register-protocol">
                        <input type="checkbox" id="{{rinputId}}" checked="{{value}}" />
                        <span class="i-agree">我同意</span>
                        <a href="/agreement/mobile/regist" class="ccc-agreement">《奇乐融用户注册协议》</a> {{#errMsg}}{{errMsg}}{{/errMsg}}
                    </label>
                </div>
            </RInput>
              </div>   
            <div class="register-banner">
                
                   <p><img src="/ccc/register/img/gray-line.png"/>
                       <span>已有账号，立即<a href="/login">登录</a></span>
                    <img src="/ccc/register/img/gray-line.png"/>
                    </p>
                
                <img class="register-banner-img" src="/ccc/register/img/loginBanner.png"/>
            </div>
        </div>
    </Step>
    <Step>
        <a href="/index" class="register-step-1">

        </a>
    </Step>
</div>