#main-container .title{
  font-size: 14px;
    color: #4a4a4a;
}
#main-container .title a{
  font-size: 14px;
    color: #007ec5;
}
#main-container .s-content{
    width: 1100px;
    margin: auto;
}
#main-container .s-content table{
    width: 1100px;
}
#main-container .s-content .investBoxTitle{
    text-align: center;
    color: #007ec5;
    font-size: 24px;
    width: 180px;
    margin: auto;
    border-bottom: 1px solid #d9d9d9;
    line-height: 70px;
}
#main-container .s-content .investBoxNew{
    text-align: center;
    color:#4a4a4a;
    font-size: 14px;
    line-height: 14px;
    margin-top: 16px;
    padding-bottom: 42px;
}
#main-container .s-content .investBox{
    background: #fff;
    
}
#main-container .s-content .investBoxNew a{
    color:#007ec5;
}
#main-container .s-content table th{
    background: #f8f8f8;
    color:#777;
    font-size: 14px;
    text-align: left;
    height:42px;

}

