.loan-content{margin: 56px auto;height: 1185px;width:1100px;font-family: "Microsoft YaHei";}
.loan-left{float: left; width:778px;border: 1px solid #eee;background: #fff;padding-bottom : 20px; }

.loan-title{height: 52px;border-bottom: 1px solid #eee;font-size: 18px; line-height: 52px;padding-left: 20px;color: #4a4a4a;}
.loan-title img{padding-right: 10px;}

.loanform{padding-top:35px;padding-left:60px;font-size: 16px;}
/*.loanform label{width: 170px;text-align: right}*/
.loanform .form_input{width: 320px;height: 45px; border: 1px solid #ccc;border-radius: 3px;}
.loanform .other_input{width: 130px;padding-bottom: 10px; border: 1px solid #ccc;border-radius: 4px;}
.loanform .size_input{font-size: 14px;}
.loanform textarea{width: 320px;}
.loanform .verify_input{width: 115px;height: 45px;}
.loanform .reason{margin-top: 50px;margin-bottom: 30px;}
.loanform .reason .reason-content{padding-top: 5px;width: 320px;}
.loanform .form-group{padding-top: 8px;padding-bottom: 8px;}
.loanform .verifyword{padding-top: 10px;margin-left: 5px;}
.loan-right{float: right; width:300px;}


.loan-up{margin-bottom: 20px;border: 1px solid #eee;background: #fff;}
.loan-up .content{padding: 30px;font-family: "FangSong";}
.loan-up .content ul li{padding: 5px;}

.loan-down{border: 1px solid #eee;background: #fff;}
.loan-down .content{text-align: center;padding-bottom: 30px;}