.content-box {
    margin-bottom: 42px;
    text-align: center;    
}
.desc-box {
    background: url(/ccc/help/img/index/border.png) left bottom no-repeat;    
    padding-top: 12px;
    padding-bottom: 15px;        
}
.main-desc {
    color: #6d3a06;
    font-size: 40px;   
    line-height: 60px;
}
.sub-desc {
    color: #727272;
    font-size: 12px;
    line-height: 25px;
}
.detail {
    color:#525252;
    font-size:16px;
    line-height: 28px;
    width: 500px;
    margin: 10px auto;
}
.detail-img{
    margin: 30px auto 50px auto;
}
.step-container {
    margin: 30px auto 50px auto;
    position: relative;
}
.step-container ul {
    width: 718px;
    height: 512px;
    margin: 0 auto;
    padding-top: 20px;
    overflow: hidden;
}
.step-container li {
    width: 718px;
    height: 492px;
    display: none;
}
.active {
    display: block !important;
}
.arrow {
    position: absolute;
    top:200px;
    width: 39px;
    height: 39px;
    text-align: center;
    /*background: rgba(173,173,173,0.5);*/
    padding-top: 7px;
    display: block;
}
/*.arrow:hover {
    background: rgba(173,173,173,1);
}*/
#arrow-left{
    left:0;
    background: url(/ccc/help/img/index/left_arrow_grey.png) no-repeat;
}
#arrow-left:hover {
    background: url(/ccc/help/img/index/left_arrow_dark.png) no-repeat;
}
#arrow-right{
    right:0;
    background: url(/ccc/help/img/index/right_arrow_grey.png) no-repeat;
}
#arrow-right:hover {
    background: url(/ccc/help/img/index/right_arrow_dark.png) no-repeat;
}


.s-dark-cell, .s-light-cell{
    padding-top: 30px;
    padding-bottom: 30px;
}

.s-light-cell{
    background-color: white;
}

.s-dark-cell{
    background-color: #F3F2EF;
}

.s-cell__I .s-cell-content{
    text-align: center;
}

.s-cell__I .s-cell-content p{
    padding-left: 200px;
    padding-right: 200px;
}

.s-cell__I .s-cell-content p:first-child{
    font-size: 1.1em;
    line-height: 40px;
    color: #324075;
}

.s-cell__I .s-cell-content p:last-child{
    font-size: 0.8em;
    color: #666666;
}

.s-cell__II .s-cell-content>p{
    font-size: 0.8em;
    color: #666;
    padding-right: 200px;
    padding-left: 200px;
}

.s-cell__II p{
    text-align: center;
}

.s-cell__II .s-cell-content>p:first-child{
    font-size: 1.1em;
    line-height: 40px;
    color: #324075;
}

.s-cell__II table{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 299px;
    text-align: center;
}

.s-cell__II table tr td{
    padding-right: 40px;
    text-align: center;
}

.s-cell__II table tr td:last-child{
    padding-right: 0px;
    padding-left: 40px;
}

.s-cell__II table tr td p{
    font-size: 0.8em;
    color: #666666;
    margin: 5px 0;
}

.s-cell__II .s-cell-content>p{
    font-size: 0.8em;
    color: #666;
    padding-right: 200px;
    padding-left: 200px;
}

.s-cell__II .s-cell-content>p:nth-child(3){
    font-size: 1.1em;
    line-height: 40px;
    color: #324075;
}

.s-cell__II .s-cell-content>img{
    position: relative;
    left: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.s-cell__III p{
    text-align: center;
}

.s-cell__III .s-cell-content>p:first-child{
    font-size: 1.1em;
    line-height: 40px;
    color: #324075;
}

.s-cell__III .s-cell-content img:nth-child(2){
    margin-left: 61px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.s-cell__III .s-cell-content img:nth-child(3){
    margin-left: 417px;
    margin-top: 80px;
}

.s-cell__III .s-cell-content p:nth-child(4){
    width: 220px;
    margin-left: 389px;
    margin-top: 10px;
}

.s-cell__III .s-cell-content button{
    position: relative;
    left: 399px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 32px;
    border: none;
    background-color: #CB9934;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
}