
<span class="dropdown" x-dropdown>
    <span class="glyphicon glyphicon-th-large dropdown-toggle"
          x-dropdown-toggle
    ></span>

    <ul class="dropdown-menu pull-right">
        <li><a href="./"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <li class="divider"></li>
        <li><a href="dashboard"><span class="glyphicon glyphicon-user"></span> 账户</a></li>

        <li ng-if="self.user.has_logged_in" class="divider"></li>
        <li ng-if="self.user.has_logged_in"><a href="dashboard/invite"><span class="glyphicon glyphicon-share"></span> 邀请好友</a></li>
    </ul>
</span>
