<link rel="stylesheet" href="styles/act/question.css">
<div id="protocol" style="background-color: white">
    <nav class="omit-margin container page-nav" ng-if="!isClient">
    <div class="row">
        <a class="col-xs-3 back"  id="backUrl" onclick="goBack()">
            <param class="glyphicon glyphicon-menu-left">
        </a>
        <span class="col-xs-6 title">
            <span>{{protocolTitle}}</span>
        </span>
    </div>
    </nav>
    <!--题目列表start-->
    <div class="protocolPage" id="protocolPage">
        <div ng-bind-html="content | sanitize"></div>
    </div>
</div>
</div>
