<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/earn-interest.png" />
        <div class="transparent-house-content">
            <p>产品年化收益率高达11%，是银行活期利率30多倍，一年期银行定存利率6倍，投资周期3-12月不等，真正贴近投资人理财需求。</p>
        </div>
    </div>
</div>
</div>  
<div class="bg-white">
<div class="heart-content-box content-box">
    <div class="transparent-house  transparent-paper">
        <img src="/ccc/safety/img/earn-cup.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>正奇金融深耕细作中小企业融资服务这个市场，服务2000多家中小微企业，将为奇乐融发展提供更多的优质项目资源。联想控股“投资
+实业”的布局，也为奇乐融提供了更多产融结合的机会。</p>
        </div>
    </div>
</div>
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/earn-computer.png" />
        <div class="transparent-house-content">
            <p>采用互联网技术，降低投资门槛，简化投资流程，提高投资效率。</p>
        </div>
    </div>

    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
</div>
</div>    