<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-content-box transparent-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/earn-interest.png" />
        <div class="transparent-house-content">
            <p>产品年化收益率最高达11%，是银行活期利率30多倍，投资周期3-12月不等，真正贴近投资人理财需求。</p>
        </div>
    </div>
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/earn-house.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>优选明星企业优质项目，风控团队执行规范的业务流程与严格的风险审批制度，详尽地对项目风险和收益情况进行专业评估。</p>
        </div>
    </div>
     <div class="transparent-house">
        <img src="/ccc/safety/img/earn-cup.png" />
        <div class="transparent-house-content">
            <p>凭借正奇金融在类金融领域积累的强大优势，发挥担保、租赁、小贷和典当等机构多年积累的线下资源，可持续供应优质标的。</p>
        </div>
    </div>
      <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/earn-computer.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>采用互联网技术，降低投资门栏，简化投资流程，提高投资效率。</p>
        </div>
    </div>

    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
</div>