<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-content-box">
    <div class="heart-control-box">
        <img src="/ccc/safety/img/heart-control.png" />
        <div class="heart-control">
            <h2>风控安全</h2>
            <p>优选类金融机构（小贷、担保、租赁、典当、保理等）的基础上，对机构推荐项目做好双重审核。专业的风控团队，周密的风控流程，严格把关每一道审核程序。</p>
        </div>
    </div>
    <div class="heart-control-box heart-pay-box">
        <img src="/ccc/safety/img/heart-pay.png" />
        <div class="heart-control heart-pay">
            <h2  class="heart-pay-title">资金安全</h2>
            <p>由兴业银行对资金全程存管，奇乐融不触碰用户资金，规避资金被挪用的风险。由连连支付作为第三方支付平台，对投资人和借款人资金进行分账管理。</p>
        </div>
    </div>
    <div class="heart-control-box ">
        <img src="/ccc/safety/img/heart-system.png" />
        <div class="heart-control">
            <h2>系统安全</h2>
            <p>经过安全权威工具多次扫描验证，数据加密并备份，保证系统可靠；采用SSL技术加密数据以防止数据中途被窃取，维护数据的完整性；中国金融认证中心（CFCA）为每一笔投资安全上锁。</p>
        </div>
    </div>
        <div class="heart-control-box heart-pay-box">
        <img src="/ccc/safety/img/heart-law.png" />
        <div class="heart-control heart-pay">
            <h2 class="heart-pay-title">法律安全</h2>
            <p>奇乐融作为互联网金融信息中介，根据《合同法》提供居间服务。投资人与借款人缔结《借款合同》受法律保护。聘请大成律师事务所为平台运营保驾护航。</p>
        </div>
    </div>
     <div class="heart-control-box">
        <img src="/ccc/safety/img/heart-privacy.png" />
        <div class="heart-control">
            <h2>隐私安全</h2>
            <p>奇乐融执行严格的用户信息操作规范，确保用户隐私不被泄露。与第三方机构合作时，要求其遵守相关保密协议，保证用户隐私不受
侵犯。</p>
        </div>
    </div>
    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
</div>