<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-content-box transparent-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/pro-bank.png" />
        <div class="transparent-house-content">
            <p style="margin-top:90px;">项目源于专业金融机构，接入央行征信系统，银行级信贷审批流程。</p>
        </div>
    </div>
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/pro-cup.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>合作机构在地区和行业内处于龙头地位。平台发布的债权均由这些专业机构受理、尽调和评审，并进行贷后管理。</p>
        </div>
    </div>
    <div class="transparent-house">
        <img src="/ccc/safety/img/pro-computer.png" />
        <div class="transparent-house-content">
            <p style="margin-top:46px;">正奇金融在行业内率先启动信息化管理模式，打造多条业务线使用统一平台的类金融综合业务系统。以先进的技术手段统筹全局，实现了全流程线上对接、统一客户管理、风险数据共享等战略性部署，给平台进行数据挖掘和深入分析提供完整的信息渠道。</p>
        </div>
    </div>
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/pro-book.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>在类金融领域深耕多年，团队构成趋向高学历、年轻化、知识化，拥有注册会计师、审计师、律师等职业资格的超过30%。</p>
        </div>
    </div>
    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
</div>