<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/pro-bank.png" />
        <div class="transparent-house-content">
            <p style="margin-top:40px;">专业金融机构推荐优质项目，不乏接入央行征信系统，银行级借贷流程。目前，央行征信系统的信息来源主要是商业银行等金融机构，收录的信息包括企业和个人的基本信息，在金融机构的借款、担保等信贷信息，以及企业主要财务指标。</p>
        </div>
    </div>
</div>
</div>
<div class="bg-white">
<div class="heart-content-box content-box">
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/pro-cup.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>合作机构在地区和行业内处于龙头地位，平台发布的债权均由这些专业机构受理、尽调和评审，并进行贷后管理。同时，奇乐融风控团队也会对机构推荐项目进行详尽的调查和审核。</p>
        </div>
    </div>
</div>
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/pro-computer.png" />
        <div class="transparent-house-content">
            <p style="margin-top:46px;">正奇金融在行业内率先启用信息化管理模式，打造多条业务线使用同一平台的类金融综合业务系统。以先进的技术手段统筹全局，实现了全流程线上对接、统一客户管理、风险数据共享等战略性部署，给平台进行数据挖掘和深入分析提供完整的信息渠道。</p>
        </div>
    </div>
</div>
</div>    
<div class="bg-white bg-bottom">    
<div class="heart-content-box content-box">
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/pro-book.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>在类金融领域深耕多年，团队构成趋向高学历、年轻化、知识化，本科及以上学历占比超过90%，拥有注册会计师、审计师、律师等职业资格的超过30%。</p>
        </div>
    </div>
    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
</div>
</div>    