<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-content-box transparent-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/transparent-house.png" />
        <div class="transparent-house-content">
            <p>奇乐融接受国际顶级会计事务所普华永道定期审计，依照上市公司标准进行信息披露。</p>
        </div>
    </div>
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/transparent-paper.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>为保障项目的真实性，在保护用户隐私的前提下，奇乐融全方位披露项目基础信息、借款人信息、项目历程信息、合作机构信息、风险评估报告、相关资质认证以及相关合同协议等，确保投资人能精准、透明、全面地了解项目信息，合理评估风险和收益，以确保自己的相关权益得到保障。</p>
        </div>
    </div>
    <div class="transparent-house">
        <img src="/ccc/safety/img/transparent-computer.png" />
        <div class="transparent-house-content">
            <p style="margin-top:78px;">平台将定期发布月运营报告、半年运营报告、年运营报告，真实地向投资人展现平台现状。</p>
        </div>
    </div>
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/transparent-contact.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>投资者可以通过网站、微博、微信、APP、QQ群和客服电话全面获悉平台真实信息，跟踪标的项目进展情况。</p>
        </div>
    </div>
    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
</div>