<link rel="stylesheet" href="/ccc/userKnow/css/style.css">

<div class="content">
    <div class="content_main">
        <div class="content_classify">
            <h1>WHAT</h1>
            <h2>什么是新毅金融</h2>
            <div class="what_bg">
                <p><span>新毅金融</span>是新毅控股旗下互联网金融战略平台，由安徽唯源金融信息服务有限公司运营。践行普惠金融，助力财富增值。 新毅金融致力于为中小微企业及个人提供<span>专业、透明、安心、稳盈</span>的互联网金融服务。</p>
            </div>
        </div>
        <div class="content_classify content_classify-process">
            <h1>PROCESS</h1>
            <h2>投资理财流程</h2>
            <img class="process_bg" src="/ccc/userKnow/img/process_bg.png">
        </div>
        <div class="content_classify content_classify-financial">
            <h1>Financial process</h1>
            <h2>轻松四步，赚钱就这么容易</h2>
            <img class="finacial_bg" src="/ccc/userKnow/img/finacial_bg.png">
        </div>
        <div class="content_classify content_classify-advantage">
            <h1>ADVANTAGE</h1>
            <h2>平台优势</h2>
            <div class="article-content">
               {{& contents}}
            </div>
        </div>
    </div>

</div>
<script src="/ccc/userKnow/js/main/common.js"></script>