<link rel="stylesheet" href="/ccc/newAccount/css/common.css">
<link rel="stylesheet" href="/ccc/newAccount/css/coupon.css">

<div class="account-wrapper">
	<div class="space-40"></div>
	<div class="account-container">
		<div class="account-nav"></div>
		<div class="account-content-wrapper">
			<div class="space-30"></div>
			<div class="coupon-content">
				<div class="coupon-nav-view">
					<ul class="sRate">
						<p class="selectTitle">红包类型:</p>
						<li class="selected" data-min-rate="0" data-max-rate="100">全部</li>
						<li data-min-rate="0" data-max-rate="8">返现券</li>
						<li data-min-rate="8" data-max-rate="10">加息券</li>
						<li data-min-rate="10" data-max-rate="12">增值券</li>
					</ul>
					<ul class="sDuration">
						<p class="selectTitle">使用情况:</p>
						<li class="selected"  data-min-duration="0" data-max-duration="100">全部</li>
						<li data-min-duration="0" data-max-duration="1">未使用</li>
						<li data-min-duration="1" data-max-duration="3">已使用</li>
						<li data-min-duration="3" data-max-duration="6">已过期</li>
					</ul>
				</div>
				<div class="account-content account-coupon-wrapper">
					加载中...
				</div>
			</div>
		
			<div class="space-30"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<script src="/ccc/newAccount/js/main/common.js"></script>
<script src="/ccc/newAccount/js/main/coupon.js"></script>




