
<div class="ccc-confirm-wrap">
    <table class="table-payed">
        <tr>
            <td>应还末还金额：</td>
            <td>{{amount1}}</td>
        </tr>
        <tr>
            <td>剩余本金：</td>
            <td>{{amount2}}</td>
        </tr>
        <tr>
            <td>剩余利息：</td>
            <td>{{amount3}}</td>
        </tr>
        <tr>
            <td>剩余费用：</td>
            <td>{{amount4}}</td>
        </tr>
        <tr>
            <td>提前还款违约金：</td>
            <td>{{amount5}}</td>
        </tr>
        <tr>
            <td>减免：</td>
            <td>{{amount6}}</td>
        </tr>
        <tr>
            <td  style="padding-top: 20px">提前还款金额：</td>
            <td  style="padding-top: 20px">{{amount7}}</td>
        </tr>
        <tr>
            <td>提前还款时间：</td>
            <td>{{date}}</td>
        </tr>
    </table>
    <div class="repay-detail-bar">
        <div class="reback btn-confirm-ok">提前还款</div>
    </div>
</div>