
<div class="ccc-confirm-wrap planlist-wrap">
<table class="table-planlist">
    <thead>
        <tr>
            <th style="text-indent:20px;">期数</th>
            <th>本金</th>
            <th>利息</th>
            <th>管理费</th>
            <th>罚息</th>
            <th>减免</th>
            <th>实际还款金额</th>
            <th>实际还款日期</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-indent:20px;">{{num}}</td>
            <td>{{amount}}</td>
            <td>{{lixi}}</td>
            <td>{{guanlifei}}</td>
            <td>{{faxi}}</td>
            <td>{{jianmian}}</td>
            <td>{{money}}</td>
            <td>{{date}}</td>
        </tr>
    </tbody>
</table>
<div class="repay-detail-bar">
    <div class="reback btn-confirm-ok">还款</div>
</div>
</div>