<div class="sjjr-center-c">
    <img src="/assets/img/register/zccg-c.png" width="113" height="164" />
    <div class="psty1">
       恭喜您已经成为世纪金融的用户，您可以进入
       <a href="/account"> 用户中心 </a>
       完善个人信息，也可以享受世纪金融 为您提供的各项服务。 {{countTime}}秒钟后跳转到首页，点击 
       <a href="/"> 这里 </a>立即跳转。</div>
</div>
<div class="imgbox-c">
    <a href="/market">
        <img src="/assets/img/register/wylc-c.png" />
    </a>
    <a href="/profit">
        <img src="/assets/img/register/wssy-c.png" />
    </a>
    <a href="/report">
        <img src="/assets/img/register/wdyb-c.png" />
    </a>
    <a href="/news">
        <img src="/assets/img/register/wkzx-c.png" />
    </a>
</div>