.guide-banner-box{
    height: 190px;
/*    overflow: hidden;*/
}
.guide-banner{
    position: absolute;
    left:50%;
    margin-left: -550px;
    
    
}
.guide-box{
    background: #fff;
    overflow: hidden;
}
.guide-model{
    width:1000px;
    margin: 0px auto;
}
.guide-model *{
	font-family: '微软雅黑';
}

.model-title{
    text-align: center;
    color: #4a4a4a;
    font-size: 36px;
    line-height: 116px;
    font-weight: bold;
    margin-bottom: 18px;
}
.model-title-second{
    margin-top: 80px;
}
.model-content{
    color:#999;
    font-size: 16px;
    line-height: 22px;
/*    text-align: center;*/
    margin-bottom: 50px;
    width: 800px;
    margin: 0 auto;
}

.model-pic img{
    float: left;
    margin-left: 84px;
}
.model-pic{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.model-pic-title{
    float: right;
    width: 200px;
    text-align: center;
    margin-right: 94px;
    margin-top: 82px;
}
.model-pic-title p{
    color:#4a4a4a;
    font-size: 24px;
    
}
.model-pic-title h3{
    color:#777777;
    font-size: 14px;
}
.line{
    width:850px;
    height:1px;
    background: #e6e6e6;
    margin: 0 auto;
    margin-top: 66px;
    margin-bottom: 48px;
}
.model-pic-next img{
    float: right;
    margin-right: 70px;
    margin-bottom: 50px;
}
.model-pic-next{
    width: 1000px;
    margin: 0 auto;
/*    overflow: hidden;*/
}
.model-pic-title-next{
    float:left;
    width: 230px;
    text-align: center;
    margin-top: 200px;
    margin-left: 60px;
}
.model-pic-title-next p{
    color:#4a4a4a;
    font-size: 24px;
    
}
.model-pic-title-next h3{
    color:#777777;
    font-size: 14px;
}
.guide-product-box{
    color:#f8f8f8;
}
.guide-product{
     width: 1000px;
    margin: 0 auto;
  
}
.process{
      width: 1000px;
    margin: 0 auto;
}
.guide-product img{
    margin-left: 70px;
    margin-bottom: 66px;
}
.process-box{
    background: #fff;
}
.process img{
    margin-left: 150px;
    margin-bottom: 66px;
}
.process button{
    width: 280px;
    height: 50px;
    background: #ff7f00;
    color: #fff;
    font-size: 20px;
    margin-left: 360px;
    margin-bottom: 70px;
}
.step-title{
    margin-left: 202px;
}
.steps-pic{
    margin-left: 89px;
    margin-bottom: 100px;
}
.process-pic{
    margin-left: 10px;
}
.ltb{
    background:#f2fbff;
    border: 2px solid #98defe;
    border-radius: 5px;
    width:340px;
    height:300px;
    float: left;
    margin-left: 110px;
}
.ltb-title{
    color:#ffce06;
    font-size: 36px;
    text-align: center;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 12px;
}
.lxy-title{
    color:#009ada;
}
.ltb img{
    margin-top:40px;
    margin-left: 130px;
}
.ltb-content{
    width: 260px;
    margin: 0 auto;
    color: #999;
    font-size: 14px;
    line-height: 24px;
}
.earn-pic img{
    margin-left: 124px;
}
.for-parents-title{
    color: #4a4a4a;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
.for-parents-content{
    font-size: 14px;
    color: #999;
    line-height: 18px;
}
.for-parents{
    width:184px;
    float: left;
    margin-right:33px;
    margin-left: 33px;
    margin-top: 56px;
}
.for-wife{
    margin-top: 116px;
}
.for-parents img{
    margin-left: 7px;
}