
<header x-gyro-header data-user="self.user"></header>

<div id="homepage">

    <div class="banner"
         x-carousel-banner
         data-delay-in-seconds="4"
         ng-style="{ height: carousel_height + 'px' }"
    ></div>

    <nav class="nav-page container text-center">
        <ul class="list-unstyled u-off-margin-bottom nav-page-list">
            <li><a href="dashboard"><param class="icon icon-user">我的账户</a></li>
            <li><a href="list"><param class="icon icon-usd">投资理财</a></li>
            <li><a href="/activityh5"><param class="icon icon-gift">精彩活动</a></li>
            <li><a href="announcement"><param class="icon icon-volume-up">公告中心</a></li>
        </ul>
    </nav>

    <section class="loan">
        <div ng-hide="loading">
            <ul class="list-unstyled u-off-margin-bottom list-loan">
                <li class="item"
                    ng-repeat="item in list"
                    ng-class="'item-' + (item.category | lowercase)"
                >
                    <a ng-href="list/{{ item.category }}">
                        <div class="media subject">
                            <div class="media-left">
                                <img class="media-object" width="30"
                                     ng-src="assets/image/loan-icons/{{ item.category | lowercase }}.png"
                                >
                            </div>

                            <div class="media-body media-middle">
                                <h4 class="media-heading" ng-switch="item.category">
                                    <span ng-switch-when="XSB">新手专享</span>
                                    <span ng-switch-when="HDB">活动专享</span>
                                    <span ng-switch-when="XNB">新能宝</span>
                                    <span ng-switch-when="XDB">新抵保</span>
                                    <span ng-switch-when="XJB">薪金宝</span>
                                </h4>
                            </div>
                        </div>
                    </a>

                    <a ng-href="loan/{{ item.id }}?go_back={{ page_path }}"
                       x-loan-summary
                       data-loan="item"
                    ></a>
                </li>
            </ul>
        </div>

        <p class="text-center" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

</div>
