
<div id="loan-invest" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="loan/{{loan.id}}">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
        <span class="col-xs-6 title">投资确认</span>
        <span class="col-xs-3 text-right">
            <a class="text-muted"
               ng-href="dashboard/recharge?next={{ self.page_path }}"
            ><small>充值</small></a>
        </span>
    </div>
    </nav>

    <form class="form-horizontal"
          name="form"
          ng-submit="self.submit($event)"
    >
        <section class="invest-confirm">
            <h3 class="title"
                ng-class="'color-' + (loan.product_type | lowercase) + '-text'"
            >
                <param class="icon-money"
                       ng-class="'icon-money-' + (loan.product_type | lowercase)"
                >
                {{ loan.title }}
            </h3>

            <ul class="list-unstyled u-off-margin-bottom info-list">
                <li class="clearfix text-muted">
                    <span class="info">
                        <span class="name">可投金额</span>
                        <span class="value">{{ loan.balance | number }} 元</span>
                    </span>
                    <span class="info pull-right">
                        <span class="name">单笔最多可投</span>
                        <span class="value">{{ loan.raw.loanRequest.investRule.maxAmount }} 元</span>
                    </span>
                    <div class="info pull-right" x-gyro-comment>
                        <span class="name">获赠积分</span>
                        <span class="value"><span class="num">{{  }}</span></span>
                    </div>
                </li>

                <li>
                    <div class="info earning">
                        <span class="name">预计收益(元)</span>
                        <span class="value"
                              ng-show="form.amount.$valid"
                        >{{ earning | number }}</span>
                    </div>
                </li>

                <li class="text-muted">
                    <span class="info">
                        <span class="name">起投金额</span>
                        <span class="value">{{ loan.raw.loanRequest.investRule.minAmount }} 元</span>
                    </span>
                    <span class="info">
                        <span class="name">递增金额</span>
                        <span class="value">{{ loan.raw.loanRequest.investRule.stepAmount }} 元</span>
                    </span>
                </li>

                <li>
                    <div class="info balance clearfix">
                        <span class="name">账户可用余额</span>
                        <span class="value">
                            <span class="num">{{ self.user.fund.availableAmount | number }}</span> 元
                        </span>

                        <button type="button"
                                class="btn btn-sm btn-total pull-right"
                                ng-click="store.amount = self.amount_polishing(self.user.fund.availableAmount); self.fetch_analyse(store.amount)"
                        >全投</button>
                    </div>
                </li>
            </ul>

            <div class="invest-input-wrap">
                <param class="glyphicon glyphicon-minus"
                       ng-click="store.amount = self.amount_polishing(store.amount - loan.raw.loanRequest.investRule.stepAmount); self.fetch_analyse(store.amount)"
                >
                <param class="glyphicon glyphicon-plus"
                       ng-click="store.amount = self.amount_polishing(store.amount + loan.raw.loanRequest.investRule.stepAmount); self.fetch_analyse(store.amount)"
                >
                <input name="amount"
                       id="invest-amount"
                       ng-model="store.amount"
                       ng-change="form.amount.$valid && self.fetch_analyse(store.amount)"
                       type="tel"
                       class="form-control invest-input input-lg"
                       required
                >

                <input name="password" type="password"
                       id="password"
                       class="form-control invest-input input-lg"
                       ng-model="password"
                       placeholder="请输入交易密码"
                       required
                >
            </div>

            <div class="coupon-wrap">
                <select name="placementId" class="form-control input-sm"
                        id="coupon"
                        ng-model="store.coupon"
                        ng-options="coupon.display for coupon in coupon_list track by coupon.id"
                        ng-if="coupon_list.length"
                >
                    <option value="">请选择可用的红包</option>
                </select>

                <div class="coupon-tip" ng-if="!coupon_list.length">暂无可用券</div>
            </div>

            <div class="agreement"
                 ng-model="argument_name"
                 ng-init="
                    argument_name = {
                        LTB: '乐投保用户投资服务协议',
                        LXY: '乐享盈用户投资服务协议',
                    }[loan.product_type]
                 "
            >
                <label ng-show="argument_name">
                    <input type="checkbox"
                           class="pull-left"
                           ng-init="agreement = true"
                           ng-model="agreement"
                           required
                    >
                    <span class="desc">我已经阅读了<a href="#" ng-click="self.agreement(argument_name)">《{{ argument_name }}》</a>等所有协议条款，充分了解并已经知晓相应的权益和义务，愿意承担相关风险。</span>
                </label>
            </div>
        </section>

        <p class="container invest-btn-wrap">
            <button type="submit"
                    class="btn btn-theme btn-lg btn-block"
                    ng-disabled="form.$invalid || (!!argument_name && !agreement) || self.submit_sending"
            >确认投资</button>
        </p>

        <input type="hidden" name="loanId" value="{{ loan.id }}"></input>
    </form>






    <div x-gyro-comment class="c-list-panel info">
        <div class="item title">{{ loan.title }}</div>

        <div class="item">
            <div class="name">可投金额(元)</div>
            <div class="value">{{ loan.balance | number }}</div>
        </div>

        <div class="item">
            <div class="name">账户余额(元)</div>
            <div class="value">{{ self.user.fund.availableAmount | number }}</div>

            <a class="recharge u-right label label-success"
               ng-href="dashboard/recharge?next={{ self.page_path }}"
               ng-if
            >充值</a>
        </div>
    </div>

    <form class="form-horizontal"
          name="form"
          action="/payment/tender"
          method="post"
          target="_self"
          ng-submit="self.submit($event)"
          x-gyro-comment
    >
        <div class="invest c-list-panel">
            <div class="item">
                <label for="invest-amount">投资金额(元)</label>
                <div class="input-wrap">
                    <input name="amount"
                           id="invest-amount"
                           ng-model="store.amount"
                           ng-init="store.amount = 0"
                           ng-change="form.amount.$valid && self.fetch_analyse(store.amount)"
                           type="number"
                           class="form-control input-sm"
                           placeholder="{{ loan.raw.loanRequest.investRule.minAmount | number }}元起投，{{ loan.raw.loanRequest.investRule.stepAmount | number }}元递增">
                </div>
            </div>

            <div class="item">
                <div class="name">预计收益(元)</div>
                <div class="value">
                    <span class="text-primary" ng-show="form.amount.$valid">{{ earning | number }}</span>
                </div>
            </div>

            <div class="item" ng-if="coupon_list.length">
                <label for="coupon">使用红包</label>
                <div class="input-wrap">
                    <select name="placementId" class="form-control input-sm"
                            id="coupon"
                            ng-model="store.coupon"
                            ng-options="
                                coupon.display
                                disable when store.amount < coupon.minimum
                                for coupon in coupon_list
                                track by coupon.id
                            "
                    >
                        <option value="">请选择可用的红包</option>
                    </select>
                </div>
            </div>
        </div>

        <p class="container">
            <button type="submit" class="btn btn-theme btn-lg btn-block"
                    ng-if="self.user.has_payment_account"
            >确认投标</button>

            <a href="/payment/account/open"
               class="btn btn-theme btn-lg btn-block"
               target="_self"
               ng-click="self.open_payment_account($event)"
               ng-if="!self.user.has_payment_account"
            >开通托管账户</a>
        </p>

        <div class="container" ng-if="!self.user.has_payment_account">
            <p>为什么开通托管账户？</p>
            <p>所有资金由第三方平台托管，绝不设置资金池。所有投资者都会由第三方支付平台的托管账户，保证资金安全。</p>
        </div>

        <input type="hidden" name="loanId" value="{{ loan.id }}"></input>
    </form>

</div>









<script type="text/ng-template" id="ngt-invest-agreement.tmpl">
    <div class="modal-body" style="max-height: 300px; overflow-y: auto;" ng-bind-html="content | sanitize"></div>

    <div class="modal-footer">
        <button class="btn btn-block btn-theme" ng-click="$close()">
            已阅读此协议
        </button>
    </div>
</script>

<script type="text/ng-template" id="ngt-invest-confirm.tmpl">
    <div class="modal-header">
        <h3 class="modal-title">投标已完成</h3>
    </div>
    <div class="modal-body">
        <button class="btn btn-block btn-success" ng-click="$close('/dashboard')">
            我的账户
        </button>
        <button class="btn btn-block btn-default" ng-click="$dismiss()">
            知道了
        </button>
    </div>
</script>

<script type="text/ng-template" id="ngt-loan-invest-short-of-balance.tmpl">
    <div class="modal-body text-center">
        余额不足，前去充值吗？
    </div>

    <div class="modal-buttons">
        <div class="modal-button" ng-click="$close()">取消</div>
        <div class="modal-button" ng-click="$dismiss('dashboard/recharge')">好</div>
    </div>
</script>

<script type="text/ng-template" id="ngt-loan-invest-alert.tmpl">
    <div class="modal-body text-center">{{ content }}</div>

    <div class="modal-buttons">
        <div class="modal-button" ng-click="$close()">好</div>
    </div>
</script>