
<div id="loan-invest-return" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="loan/{{id}}"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">投标结果</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div class="result container">
        <br />
        <p class="well">{{ action }}: {{ result }}</p>

        <p><a class="btn btn-red btn-lg btn-block" ng-href="loan/{{id}}">返回</a></p>
    </div>
</div>
