{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<div class="company-page">
    <!--<div class="banner">
        <img src="/img/banner.jpg" />
    </div>-->
    <div class="introduce-container">
        <div class="banner"></div>
        <div class="introduce-wrapper common-wrapper">
            <div class="title">
                <h4>企业介绍</h4>
            </div>
            <div class="space space-20"></div>
            <div class="introduce-main">
                <p><strong>企业网址：</strong>www.hanhua.com.cn</p>
                <p><strong>注册资金：</strong>人民币35亿元</p>
                <p><strong>企业简介：</strong>
                </p>
                <p>瀚华担保股份有限公司（简称瀚华担保）是在全国工商联的支持和指导下，经重庆市人民政府批准设立的大型融资性担保机构，是在香港联交所主板上市的瀚华金控股份有限公司(03903.HK)旗下公司。公司注册资本金35亿元，在全国设立了25家省级机构，全部持有融资担保业务经营许可证。瀚华担保成立于2004年，秉承“信用、简单、快乐”的服务理念，专注为中小微企业提供融资担保服务，累计服务中小微企业5万多家，业务规模超过1000亿元，在服务地域、业务规模和资产质量等方面均居全国领先水平。瀚华担保是中国融资担保业协会副会长单位、全国十大最具影响力担保机构，获评信贷市场AAA-、资本市场AA+信用评级。</p>
                <p><strong>主要股东：</strong>
                </p>
                <p>瀚华金控股份有限公司(03903.HK)是国内首家整合融资担保和小额贷款两大平台在香港联交所主板上市的普惠金融机构。注册资本46亿元人民币，在金融支持小微企业方面具有明显领先优势。</p>
                <p><strong>服务产品：</strong>
                </p>
                <p>融资担保：提供企业流动资金贷款担保、银行承兑汇票担保、信用证担保、固定资产担保等，根据客户的融资需求，提供以信用增级为主的担保服务。</p>
                <p>金融产品担保：公司为委托人在金融产品发行、销售、交易等资金募集过程中向金融产品购买方或投资方提供的信用担保或增信服务。主要包括：债券担保、信托计划担保、保本基金担保、资产证券化担保、票据担保等。</p>
                <p>履约担保：申请人（包括并不仅限于：施工单位或、承包商、投标人、业主、诉讼保全申请人）向甲、乙双方提供的各种履约类担保方式。主要包括：工程类履约担保、合同类履约担保、票据类履约担保、设备租赁担保、赊销信用担保、诉讼保全担保等。</p>
            </div>
        </div>
    </div>
    <div class="fenkong-container">
        <div class="fenkong-wrapper common-wrapper">
           <div class="space space-20"></div>
            <div class="title">
                <h4>风控体系</h4>
            </div>
            <div class="fenkong-main">
                <p>作为专业的担保机构，瀚华担保在不断探索中逐步形成了独具特色的风险管理体系，即风险管理四驾马车：核心理念、实作技术、运行机制、承担能力。<br />瀚华担保遵循现代企业管理规范运作，并始终以市场需求为导向，与时俱进，注重各类金融创新产品的设计；凭借多层次的反担保组合和科学的客户资信评估体系，有效阻断客户风险；通过与政府和监管部门的沟通，宏观经济的研究和行业分析，有效规避市场风险；通过过程控制、团队建设、激励机制和资金补偿机制等，有效控制经营风险。</p>
            </div>
        </div>
    </div>
    <div class="develop-process-container">
        <div class="develop-process-wrapper common-wrapper">
            <img src="/img/develop_process.png" />
        </div>
    </div>
    <div class="honor-title-container">
        <div class="honor-title-wrapper common-wrapper">
            <img src="/img/honor.png" />
        </div>
    </div>
    <div class="honor-container">
        <div class="honor-wrapper common-wrapper">
            <img src="/img/honor_content.png" />
        </div>
    </div>
    <div class="licence-container">
        <div class="licence-wrapper common-wrapper">
            <a class="arrow" id="left-arrow"></a>
            <a class="arrow" id="right-arrow"></a>
            <div class="licence-content">
                <ul>
                    <li class="show">
                        <a href="javascript:void(0);" class="larger"><img src="/img/licence/licence1.jpg" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="larger"><img src="/img/licence/licence2.jpg" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="larger"><img src="/img/licence/licence3.jpg" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="larger"><img src="/img/licence/licence4.jpg" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{>layouts.default.footer}}
<script src="/js/main/company.js"></script>