<!doctype html>
<html style="height:100%;">
<head>
    <meta charset="utf-8">
    <title>元宵节抽奖</title>
    <script>
        {{{ state }}};
        document.onreadystatechange = loadOver;//当页面加载状态改变的时候执行这个方法.
        function loadOver()
        {
            if(document.readyState == "complete"){ //当页面加载状态
                $(window).resize();
            }
        }
    </script>
    <link rel="stylesheet" href="/ccc/yuanxiao/css/style.css">
</head>
<body>
<div class="transparentBody" style="display:none">
    <div class="successDiv">
        <img src="/ccc/yuanxiao/img/1.png">
        <p>恭喜您</p>
        <div class="priseCur"></div>
        <button class="know">知道了</button>
    </div>
</div>
<!--<div style="margin-top:-100px;"><img src="/ccc/yuanxiao/img/header.png"  width="100%"></div>缩放-->
<div style="position:absolute; top: 0;left:0 ;z-index:200;width:100%;" id="headerHeight"><img src="/ccc/yuanxiao/img/header.png"  width="100%"></div>
<div class="hTitle">
    <div class="couponStyle">
    <ul class="abc">
        <li id="prise-0" value="20元返现红包"><div class="tranBg"></div><img src="/ccc/yuanxiao/img/20.png"></li>
        <li id="prise-1" value="500元味多美提货卡"><div class="tranBg"></div><img src="/ccc/yuanxiao/img/500500.png"></li>
        <li id="prise-2" value="200元味多美提货卡"><div class="tranBg"></div><img src="/ccc/yuanxiao/img/200200.png"></li>
        <li id="prise-7" value="50元返现券红包"><div class="tranBg"></div><img src="/ccc/yuanxiao/img/50.png"></li>
        <li class="clickStart"><img src="/ccc/yuanxiao/img/start.jpg"></li>
        <li id="prise-3" value="100元味多美提货卡"><div class="tranBg"></div><img src="/ccc/yuanxiao/img/100100.png"></li>
        <li id="prise-6" value="100元返现券红包"><div class="tranBg"></div><img src="/ccc/yuanxiao/img/100.png"></li>
        <li id="prise-5" value="200元返现券红包"><div class="tranBg"></div><img src="/ccc/yuanxiao/img/200.png"></li>
        <li id="prise-4" value="500元返现券红包"><div class="tranBg"></div><img src="/ccc/yuanxiao/img/500.png"></li>
    </ul>
        <div class="priseCount">您还有<span id="prizeTimes"></span>次抽奖机会</div>
        <div class="activeTitle">活动规则</div>
        <div class="activeTDiv">
            <ul>
                <li>1、活动时间：2017-02-10至2017-02-15，活动结束抽奖机会清零。</li>
                <li>2、抽奖次数：单笔每投资5000元可获取一次抽奖机会。</li>
                <li>3、中奖几率：100%中奖。</li>
                <li>4、活动结束后，红包统一返至用户账户，提货卡统一邮寄。</li>
                <li>5、本活动最终解释权归新毅金融所有。</li>
            </ul>
        </div>
        <div class="activeTitle">获奖情况</div>
        <div class="priseListTop"></div>
        <div class="priseListMid">
            <ul class="scroll">
            </ul>
        </div>
        <div class="priseListFoot"></div>
    </div>
</div>
<div class="footers" ><img src="/ccc/yuanxiao/img/footer.png"  width="100%"></div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/ccc/yuanxiao/js/main.js"></script>
</body>
</html>