
<div id="dashboard-bank-card" class="">

    <nav class="omit-margin container page-nav"  ng-show="openId == undefined">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard/payment/register"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">我的银行卡</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div class="page-content container" ng-if="self.user.has_bank_card">
    <section >
        <div class="clip clearfix">
            <span class="icon pull-left">
                <img width="42" ng-src="assets/image/bank-icons/{{ bank_account.bank_code | lowercase }}.png">
            </span>
            <div class="info">
                <div class="name">
                    {{ bank_account.bank }}
                </div>
                <div class="card">
                    {{ bank_account.mask }}
                </div>
                <div class="limit">
                    {{limit}}
                </div>
            </div>
        </div>

        <p class="text-center" ng-show="clicked !== true">
            <button class="btn btn-theme" ng-click="self.validateChangeBank()">更换银行卡</button>
        </p>
    </section>
    <section class="" ng-if="clicked">
        <!--<div ng-if="!self.user.has_payment_password">
            请先设置 <a href="dashboard/payment/password" class="btn btn-link u-vb">交易密码</a>
        </div>-->

        <!--<form ng-if="self.user.has_payment_password"
              class="password-form"
        >
            <input class="form-control input-sm"
                   type="password"
                   ng-model="password"
                   placeholder="请输入交易密码"
            >

            <button class="btn btn-danger btn-sm"
                    ng-click="self.changeBank(password)"
                    ng-disabled="!password"
            >确认更换</button>
        </form>-->

        <form name="changeFrom" ng-if="self.user.bank_account.bankMobile" autocomplete="off" autocorrect="off" class="formConfirm" ng-class="{init: self.mobile_verification_code_has_sent}">
            <p class="clearfix">
                <input style="width: 80%;display: inline-block;" class="form-control input-sm"
                   type="tel"
                   name="tel"
                   ng-model="tel"
                   placeholder="请输入短信验证码"
                   ng-pattern="/^\d{6}$/"
                >
                <button class="btn btn-sm btn-action btn-theme" type="button"
                    ng-click="self.send_mobile_captcha()"
                    ng-disabled="self.cell_buffering"
                >
                    <span class="text">获取</span>
                    <span class="count" ng-show="self.cell_buffering">
                        {{ self.cell_buffering_count | number: 0 }}
                    </span>
                    <span class="icon" ng-hide="self.cell_buffering">重发</span>
                </button>
            </p>
            <p class="gary">注：短信验证码将发送至{{self.user.bank_account.bankMobile.substring(0,3)+"****"+self.user.bank_account.bankMobile.substring(7)}}</p>
            <p class="align">
                <button class="btn btn-danger btn-sm"
                    ng-click="self.changeBank(tel)"
                    ng-disabled="!tel||(changeFrom.tel.$error.pattern && changeFrom.tel.$invalid)"
                >确认更换</button>
            </p>
        </form>
    </section>

    </div>



    <div class="page-content" ng-if="!self.user.has_bank_card">
        <span class="bind-card">
            <param class="glyphicon glyphicon-plus"> 暂无银行卡
        </span>
        <!-- <a href="dashboard/payment/bind-card?next=dashboard/bank-card" class="bind-card">
            <param class="glyphicon glyphicon-plus"> 暂无银行卡
        </a> -->
    </div>

    <section class="container notice">
        <h2 class="title">温馨提示：</h2>
        <ol class="list">
            <li><p>为保障您的资金安全，绑卡前请先开通银行存管。
            <li><p>每个用户只允许绑定1张借记卡（不支持信用卡）。
            <li><p>快捷充值与提现，只能通过所绑定的借记卡进行操作。
            <li><p>解绑/绑卡过程遇到问题，请查看<a href="/helpCenter">帮助中心</a>或联系客服：<a href="tel:4001718718">4001-718-718</a>（工作日：8：30-17：30）。
        </ol>
    </section>

</div>
