<style>
    .yesterdayInterest{height: 3.6rem;width:100%; text-align: center;color:#ffffff; margin:0.3rem auto 0; line-height:1rem;}
    .gradientGloria{
        background: -moz-linear-gradient(top, #3e9fd6 0%, #76ccfe 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e9fd6), color-stop(100%,#76ccfe));
        background: -webkit-linear-gradient(top, #3e9fd6 0%,#76ccfe 100%);
        background: -o-linear-gradient(top, #3e9fd6 0%,#76ccfe 100%);
        background: -ms-linear-gradient(top, #3e9fd6 0%,#76ccfe 100%);
        background: linear-gradient(to bottom, #3e9fd6 0%,#76ccfe 100%);
    }
    .gradientGloria span{font-size:0.8rem;font-weight:bold}
    ul.buttonOperate{display: flex;background-color:#fff;margin:0;list-style-type: none;padding:0.2rem; text-align:center;font-size:0.5rem; line-height: 0.8rem;color:#5B9DFF;font-weight:bold;}
    ul.buttonOperate li{flex:1;-webkit-box-flex:1;webkit-flex:1; -ms-flex:1;}
    ul.buttonOperate li:last-child{border-left:1px solid #8ba6c1}
</style>
<div id="dashboard">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="./">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
        <span class="col-xs-6 title">我的账户</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <!--<div class="banner" x-carousel-banner data-delay-in-seconds="4"></div>-->
    <div class="yesterdayInterest gradientGloria">
        昨日收益（元）<br>
        <span>{{yesterdayIncome | number:2}}</span>
    </div>
    <ul class="buttonOperate">
        <li><a href="dashboard/recharge">充值</a></li>
        <li><a href="dashboard/withdraw">提现</a></li>
    </ul>
    <section class="c-list-panel info-list">
        <div class="item">
            <img class="user-icon" width="14" src="assets/image/dashboard-user-icon.png">
            <span class="name">账户</span>
            <span class="value">{{ self.user.info.name || self.user.info.mobile }}</span>
            <a class="pull-right" href="questions/{{curLoanId}}?showPay=false&comeIn=true&uid={{self.user.info.id}}">风险测评</a>
        </div>

        <div class="item">
            <img width="17" src="assets/image/dashboard-profit-icon.png">
            <span class="name">累计收益</span>
            <span class="value">&yen; {{ fund.total_interest | number: 2 }}</span>
            <!--<a class="btn btn-sm btn-withdraw pull-right">提现</a>-->
        </div>

        <div class="item">
            <img width="17" src="assets/image/dashboard-available-icon.png">
            <span class="name">可用余额</span>
            <span class="value">&yen; {{ fund.available | number: 2 }}</span>
            <!--<a class="btn btn-sm btn-recharge pull-right" href="">充值</a>-->
        </div>

        <a href="dashboard/total-assets" class="item">
            <img width="17" src="assets/image/dashboard-total-icon.png">
            <span class="name">总资产</span>
            <span class="value">&yen; {{ fund.total | number: 2 }}</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>

        <a href="dashboard/payment/register" class="item">
            <img width="17" src="assets/image/dashboard-card-icon.png">
            <span class="name">银行存管</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>

        <a href="dashboard/loans" class="item">
            <img width="17" src="assets/image/dashboard-card-icon.png">
            <span class="name">我的借款</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>

        <a href="dashboard/coupon" class="item">
            <img class="coupon-icon" width="15" src="assets/image/dashboard-coupon-icon.png">
            <span class="name">我的红包</span>
            <span class="value" ng-if="available_coupon_length">
                <span class="num">{{ available_coupon_length }}</span>个可用红包
            </span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>
    </section>

    <section class="c-list-panel links">
        <a href="dashboard/payment/password" class="item password">
            <param class="glyphicon glyphicon-lock icon">
            <span class="name">交易密码</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>

        <a href="password/change" class="item password">
            <param class="glyphicon glyphicon-lock icon">
            <span class="name">登录密码</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>
    </section>

    <section class="container action">
        <button class="btn btn-block btn-lg btn-theme"
                ng-click="self.logout()"
        >退出登录</button>
    </section>

</div>
