
<div id="dashboard-invest" class="">
    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">投资记录</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <section class="invest-list">
        <ul class="list list-unstyled u-off-margin-bottom">
            <li class="item"
                ng-repeat="item in list"
            >
                <a ng-href="dashboard/invest/{{ item.loan.id }}"
                   x-invest-summary
                   data-item="item"
                   data-type="item.type"
                ></a>
            </li>
        </ul>

        <p ng-if="!list.length" class="container">暂无记录</p>
    </section>
</div>









<script type="text/ng-template" id="ngt-invest-summary.tmpl">

    <div class="subject">
        <div class="title">{{ item.title }}</div>

        <div class="status">
            <span ng-switch="item.status">
                <span ng-switch-when="PROPOSED">申请投标</span>
                <span ng-switch-when="FROZEN">已购买</span>
                <span ng-switch-when="FROZEN_FAILED">投标成功</span>
                <span ng-switch-when="FAILED">流标</span>
                <span ng-switch-when="FINISHED">已购买</span>
                <span ng-switch-when="CANCELED">已取消</span>
                <span ng-switch-when="SETTLED">计息中</span>
                <span ng-switch-when="CLEARED">已结息</span>
                <span ng-switch-when="OVERDUE">逾期</span>
                <span ng-switch-when="BREACH">违约</span>
            </span>
            <param class="glyphicon glyphicon-menu-right">
        </div>
    </div>

    <div class="info">
        <div class="info-row">
            <div class="name">预计到期收益(元)</div>
            <div class="value" ng-if="!!item.amount_outstanding">
                {{ item.amount_interest | number }}
            </div>
            <div class="value" ng-if="!item.amount_outstanding">-</div>
        </div>

        <div class="info-row">
            <div class="name">在投本金(元)</div>
            <div class="value">{{ item.amount | number }}</div>
        </div>

        <div class="info-row">
            <div class="name">到期日</div>
            <div class="value" ng-if="item.end_date">
                {{ item.end_date | moment: 'YYYY-MM-DD' }}
            </div>
            <div class="value" ng-if="!item.end_date">-</div>
        </div>

        <div class="info-row">
            <div class="name">预期年化收益率</div>
            <div class="value">{{ item.rate }}%</div>
        </div>
    </div>






    <div class="list-item" ng-if>
        <div class="title clearfix">
            <div class="name pull-left">{{ item.title }}</div>
            <a class="get-repayments pull-right"
               ng-if="false && type !== 'bidding'"
               ng-href="dashboard/invest/{{ item.id }}/repayment"
            >回款计划</a>
        </div>



        <div class="row info text-center">
            <div class="item first col-xs-4 text-center">
                <div class="num">{{ item.amount | number }}</div>
                <div class="labels">投资金额(元)</div>
            </div>

            <div ng-if="type !== 'bidding'">
                <div class="item col-xs-4 text-center">
                    <div class="num">{{ item.amount_repayed | number }}</div>
                    <div class="labels">已收金额(元)</div>
                </div>

                <div class="item col-xs-4 text-center">
                    <div class="num">{{ item.amount_outstanding | number }}</div>
                    <div class="labels">待收金额(元)</div>
                </div>
            </div>
        </div>
    </div>



    <p class="status bg-info container clearfix" ng-if>
        <span>利率 <small>{{ item.rate }}%</small></span>
        <span ng-if="item.total_months > 0">期限 <small>{{ item.total_months }}个月</small></span>
        <span ng-if="item.total_months <= 0">期限 <small>{{ item.total_days }}天</small></span>

        <span class="pull-right" ng-switch="item.status">
            <span ng-switch-when="PROPOSED">申请投标</span>
            <span ng-switch-when="FROZEN">账户资金冻结</span>
            <span ng-switch-when="FROZEN_FAILED">资金冻结失败</span>
            <span ng-switch-when="FAILED">流标</span>
            <span ng-switch-when="FINISHED">投标成功</span>
            <span ng-switch-when="CANCELED">已取消</span>
            <span ng-switch-when="SETTLED">已结算</span>
            <span ng-switch-when="CLEARED">还款完成</span>
            <span ng-switch-when="OVERDUE">逾期</span>
            <span ng-switch-when="BREACH">违约</span>
        </span>
    </p>
</script>
