
<div id="dashboard-invite" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </span>
        <span class="col-xs-6 title">邀请好友</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <div class="banner" x-carousel-banner data-delay-in-seconds="4"></div>

    <section class="container content notes">
        <h2>01 方法一</h2>
        <div class="body">
            <div class="media">
                <div class="media-left">
                    <a ng-href="{{ share_link }}"
                       ng-if="self.user.info.mobile_encrypt"
                       target="_blank"
                    >
                        <img width="130"
                             class="media-object"
                             ng-src="http://qr.liantu.com/api.php?&bg=ffffff&fg=000000&logo={{ logo }}&text={{ share_link }}"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <ol class="list-ol">
                        <li><p>长按左边邀请二维码，保存图片，分享给朋友.</p></li>
                        <li>邀请好友成功投资后，双方各得<span class="award-amount">1000元</span>理财金奖励，上不封顶！</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="container content notes">
        <h2>02 方法二</h2>
        <div class="body">
            点击右上角，<param class="glyphicon glyphicon-option-horizontal share-menu"> 分享该页面即得奖励！
        </div>
    </section>

    <section class="container content notes">
        <h2>03 活动规则介绍</h2>
        <div class="body">
            <ol class="list-ol">
                <li>理财金可作为投标本金使用，参与中融钱邦平台所有产品的投资，理财金不可以提现，理财金产生的利息归用户所有。</li>
                <li>理财金一次只可以使用一张，不可以重复使用。</li>
                <li>理财金会在每个月的第一周和第三周发放到您的账户里。</li>
                <li>理财金有效期为30天，逾期未使用即作废。</li>
                <li>本活动解释权归中融钱邦平台所有。</li>
            </ol>
        </div>
    </section>

</div>
