<style>

</style>
<div id="loans">
	<nav class="omit-margin container page-nav">
	    <div class="row">
	        <a class="col-xs-3 back" href="./">
	            <span class="glyphicon glyphicon-menu-left"></span>
	        </a>
	        <span class="col-xs-6 title">我的借款</span>
	        <span class="col-xs-3">&nbsp;</span>
	    </div>
    </nav>
    <section class="c-list-panel info-list">
    	<a href="dashboard/payment/register" class="item">
            <img width="17" src="assets/image/dashboard-card-icon.png">
            <span class="name">客户进件</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>
        <a href="dashboard/payment/register" class="item">
            <img width="17" src="assets/image/dashboard-card-icon.png">
            <span class="name">借款审批</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>
        <a href="dashboard/loans/raise" class="item">
            <img width="17" src="assets/image/dashboard-card-icon.png">
            <span class="name">借款募集</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>
        <a href="dashboard/loans/repayment" class="item">
            <img width="17" src="assets/image/dashboard-card-icon.png">
            <span class="name">还款管理</span>
            <param class="glyphicon glyphicon-menu-right pull-right">
        </a>

    </section>

</div>