
<div id="dashboard-recharge" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.next_path || 'dashboard' }}"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">充值</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <param ng-model="msg.success" ng-init="msg.success = '充值成功'">

    <section class="container balance">
        <div class="labels">账户可用余额 (元)</div>
        <div class="amount">{{ available_amount | number }}</div>
    </section>

    <form class="form-horizontal"
          name="form"
          action="/lianlianpay/deposit"
          method="post"
          target="_self"
          ng-submit="self.submit(amount)"
          novalidate
    >
        <div class="container recharge-form">
            <div class="multi-line-container-item" x-gyro-comment>
                <div class="form-group">
                    <label class="col-xs-4 control-label title">充值卡号</label>
                    <div class="col-xs-8 row">
                        <input class="form-control input-sm"
                               type="text"
                               value="{{ bank_account.account | string_mask }}"
                               ng-disabled="true"
                        >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="amount">金额 (元)</label>
                <div class="input-wrap">
                    <input class="form-control input-amount"
                           type="number"
                           id="amount"
                           name="amount"
                           ng-model="amount"
                           min="100"
                           max="1000000"
                           minlength="1"
                           pattern="^[0-9\.]+"
                           placeholder="单笔100.00元起"
                           required
                    >
                </div>
            </div>
        </div>

        <input type="hidden" name="isWAP" value="true">
        <input type="hidden" name="retUrl" value="{{ return_url }}">

        <p class="container">
            <button class="btn btn-theme btn-lg btn-block"
                    type="submit"
                    ng-if="self.user.has_payment_account"
                    ng-disabled="form.$invalid || self.submit_sending"
            >确定充值</button>
        </p>
    </form>

    <section class="container explain">
        <h5>温馨提示：</h5>
        <ol>
            <li>奇乐融暂不收取您的充值费用（第三方收取的费用由奇乐融垫付）。</li>
            <li>为保障您的资金安全，认证支付充值、提现采用同卡进出原则，即提现银行卡需与充值银行卡一致。奇乐融不支持信用卡进行充值，请用储蓄卡进行相关操作。</li>
            <li>充值前请确认您的银行卡限额，奇乐融对您的充值额度没有限制，限额是由具体开户行决定，如有疑问详询银行客服。</li>
            <li>禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用。</li>
            <li>充值金额通常会在当日内转入，请及时查看您的账户余额。如充值成功后未能及时到账，请联系客服：<a href="tel:4008727676">400-872-7676</a>。</li>
        </ol>
    </section>
</div>
