
<div id="dashboard-withdraw" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">提现</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            INCORRECT_PASSWORD: '交易密码不正确',

            SUCCEED: '提现申请已经提交，请等待审核',
            UNKNOWN: '提现失败',
        }">
    </div>

    <section class="container balance">
        <div class="labels">账户可用余额 (元)</div>
        <div class="amount">{{ available_amount | number }}</div>
    </section>

    <form class="form-horizontal"
          name="form"
          ng-submit="self.submit(amount, password)"
          novalidate
    >
        <div class="container withdraw-form">
            <div class="form-group">
                <label for="withdraw">金额 (元)</label>
                <div class="input-wrap">
                    <input name="withdraw"
                           id="withdraw"
                           ng-model="amount"
                           ng-init="amount = 0"
                           type="number"
                           class="form-control input-sm"
                           min="0.01"
                           placeholder="请输入提现金额"
                           required
                    >
                </div>
            </div>

            <div class="form-group">
                <label for="bankAccount">提现卡号</label>
                <div class="input-wrap">
                    <select name="bankAccount" class="form-control input-sm"
                            id="bankAccount"
                            ng-model="bank_item"
                            ng-init="bank_item = bank_list[0]"
                            ng-options="
                                bank_item.account.mask for bank_item in bank_list
                                track by bank_item.account.account
                            "
                            disabled
                            required
                    >
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="password">交易密码</label>
                <div class="input-wrap">
                    <input name="password"
                           id="password"
                           ng-model="password"
                           type="password"
                           class="form-control input-sm"
                           placeholder="请输入交易密码"
                           required
                    >
                </div>
            </div>
        </div>

        <p class="container" ng-if="auto !== true">
            <button class="btn btn-theme btn-lg btn-block"
                    type="submit"
                    ng-if="self.user.has_payment_account && self.user.has_bank_card"
                    ng-disabled="form.$invalid || amount <= 0 || amount > available_amount"
            >
                <span ng-if="!(amount > available_amount)">确定提现</span>
                <span ng-if="amount > available_amount">余额不足</span>
            </button>
        </p>
    </form>

    <section class="container explain">
        <h5>提现说明</h5>
        <ol>
            <li>提现手续费每笔 2 元</li>
            <li>请您选择银行储蓄卡账户提交提现申请。</li>
            <li>为保障您的账户资金安全，申请提现时，您选择的银行卡开户名必须与实名认证一致，否则提现申请将不予受理。</li>
            <li>提现操作预计3个工作日内到账，具体情况依据各银行实际处理为准，请您注意查收。若有任何问题，请联系客服。</li>
        </ol>
    </section>
</div>









<script type="text/ng-template" id="ngt-withdraw-bind-card.tmpl">
    <div class="modal-body text-center">
        绑定银行卡是否成功？
    </div>

    <div class="modal-buttons">
        <div class="modal-button" ng-click="$dismiss()">否</div>
        <div class="modal-button" ng-click="$dismiss()">是</div>
    </div>
</script>
