
<div id="dashboard-withdraw" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard"><param class="glyphicon glyphicon-menu-left"></a>
        <span class="col-xs-6 title">提现</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            INCORRECT_PASSWORD: '交易密码不正确',

            SUCCEED: '提现申请已经提交，请等待审核',
            UNKNOWN: '提现失败',
        }">
    </div>

    <section class="container balance">
        <div class="labels">账户可用余额 (元)</div>
        <div class="amount">{{ available_amount | number }}</div>
    </section>

    <form class="form-horizontal"
          name="form"
          ng-submit="self.submit(amount, password)"
          novalidate
    >
        <div class="container withdraw-form">
            <div class="form-group">
                <label for="withdraw">金额 (元)</label>
                <div class="input-wrap">
                    <input name="withdraw"
                           id="withdraw"
                           ng-model="amount"
                           ng-init="amount = 0"
                           type="number"
                           class="form-control input-sm"
                           min="0.01"
                           placeholder="请输入提现金额"
                           required
                    >
                </div>
            </div>

            <div class="form-group">
                <label for="bankAccount">提现卡号</label>
                <div class="input-wrap">
                    <select name="bankAccount" class="form-control input-sm"
                            id="bankAccount"
                            ng-model="bank_item"
                            ng-init="bank_item = bank_list[0]"
                            ng-options="
                                bank_item.account.mask for bank_item in bank_list
                                track by bank_item.account.account
                            "
                            disabled
                            required
                    >
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="password">交易密码</label>
                <div class="input-wrap">
                    <input name="password"
                           id="password"
                           ng-model="password"
                           type="password"
                           class="form-control input-sm"
                           placeholder="请输入交易密码"
                           required
                    >
                </div>
            </div>
        </div>

        <p class="container" ng-if="auto !== true">
            <button class="btn btn-theme btn-lg btn-block"
                    type="submit"
                    ng-if="self.user.has_payment_account && self.user.has_bank_card"
                    ng-disabled="form.$invalid || amount <= 0 || amount > available_amount"
            >
                <span ng-if="!(amount > available_amount)">确定提现</span>
                <span ng-if="amount > available_amount">余额不足</span>
            </button>
        </p>
    </form>

    <section class="container explain">
        <h5>温馨提示：</h5>
        <ol>
            <li>试运营期间，提现手续费2元/笔，由第三方支付平台连连支付收取；每日提现限制3次以内(含3次)。奇乐融试运营至2015年12月31日截止，试运营结束后提现手续费另行公告。</li>
            <li>提现到账时间：提现申请提交成功后，资金预计在1-2个工作日（双休日或法定节假日顺延）到账，请您注意查收。</li>
            <li>根据《反洗钱法》规定，奇乐融禁止洗钱、信用卡套现、虚假交易等行为。</li>
            <li>提现过程遇到问题，请联系客服：<a href="tel:4008727676">400-872-7676</a>。</li>
        </ol>
    </section>
</div>









<script type="text/ng-template" id="ngt-withdraw-bind-card.tmpl">
    <div class="modal-body text-center">
        绑定银行卡是否成功？
    </div>

    <div class="modal-buttons">
        <div class="modal-button" ng-click="$dismiss()">否</div>
        <div class="modal-button" ng-click="$dismiss()">是</div>
    </div>
</script>
