@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
body, button, input, select, textarea { font: 12px/1.5 Microsoft YaHei, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
address, cite, dfn, em, var { font-style: normal; }
ul, ol { list-style: none; }
a { text-decoration: none; }
legend { color: #000; }
fieldset, img { border: 0; vertical-align: bottom; }
section, article, aside, header, footer, nav, dialog, figure { display: block; }
figure { margin: 0; }
button, input, select, textarea { font-size: 100%; border:0;background:none;outline:none; }
table { border-collapse: collapse; border-spacing: 0 }
.clear { display: block; height: 0; overflow: hidden; clear: both }
.clearfix:after { content: '\20'; display: block; height: 0; clear: both; }
.clearfix { *zoom:1;}
a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a { blr:expression_r(this.onFocus=this.blur());}
a { outline: none; }
table { border-collapse: collapse; border-spacing: 0; }

/**body**/
body { color: #6f6f6f; }
a { color: #6f6f6f; }
a:hover { color: #a50000; }
.wrap { width: 1028px; margin: 0 auto;}

/**header**/
.topArea{height:35px;line-height:35px;background:url(topArea.jpg);}
.topArea,.topArea a,.topArea a:hover{color:#fff;}
.welcome{float:left;}
.set{float:right;margin-right:-10px;}
.set a{padding:0 10px 0 24px;}
.set1{background:url(set1.png) left center no-repeat;}
.set2{background:url(set2.png) left center no-repeat;}
.set3{background:url(set3.png) left center no-repeat;}
.other{width:1028px;height:100px;margin:0 auto;}
.logo{float:left;margin-top:17px; }

/**slide**/
.slide{width:194px;float:right;margin-top:34px;position:relative;z-index:10;}
.slide p{height:36px;line-height:30px;color:#fff;font-size:14px;padding-left:35px;background:url(slide.png) no-repeat;cursor:pointer;}
.slide ul{width:194px;position:absolute;top:34px;left:0;background:#fff;border:1px solid #eee;border-bottom:none;display:none;}
.slide li{height:30px;line-height:30px;border-bottom:1px solid #eee;padding-left:34px;}
