{{#list}}

<div class="loanItemWrapper" {{#if status === 'SCHEDULED' }} style="height:85px"{{/if}}>
    <div class="loanPartOne">
        <div class="loantitle">
            <a href="/loan/{{ id }}" class="invest-title" target="_blank">
                {{title}}
            </a>
        </div>
        <!--
        <div class="loanPurpose">{{ purpose }}</div>
        <div class="loanRepayMethod">{{ RepaymentMethod[method][0] }}</div>
-->
    </div>
    <div class="amount">{{ amount }}<span>{{ amountUnit }}</span>
    </div>
    <div class="loanRate">{{ rate }}<i>%</i>
    </div>
    <div class="duration">{{ fduration }}<span>{{ fdurunit }}</span>
    </div>
    <div class="process">
        <div class="rate-chart">
            <div class="easy-pie-chart pie" data-percent="{{ investPercent }}" style="top:9px">
                <span class="percentageNum">{{ investPercent }} </span>
            </div>
        </div>
    </div>
    <div class="investBtn">
        {{#if status === 'OPENED'}}
        <a href="/loan/{{id}}" style="text-decoration:none">
            <div class="investbtn">投标中</div>
        </a>
        {{/if}} {{#if status === 'SCHEDULED'}}
        <a href="/loan/{{id}}" style="text-decoration:none">
            <div class="investbtn" style="color: #fff;width: 100px;background:#D57239">即将开始</div>
        </a>
        <div class="investbtn" data-id="{{ id }}" data-status="{{ status }}" data-open="{{ timeOpen }}"
        data-serv="{{ serverDate }}" style="color: black;width: 135px;text-align: center;background:#fff;margin-left:-17px"></div>
        {{/if}} {{#if status === 'FINISHED'}}
        <a href="/loan/{{id}}" style="text-decoration:none">
            <div class="investbtn" style="background:lightgrey; color: #fff">已满标</div>
        </a>
        {{/if}} {{#if status === 'SETTLED'}}
        <a href="/loan/{{id}}" style="text-decoration:none">
            <div class="investbtn" style="background:lightgrey; color: #ffffff">还款中</div>
        </a>
        {{/if}} {{#if status === 'CLEARED'}}
        <a href="/loan/{{id}}" style="text-decoration:none">
            <div class="investbtn" style="background:lightgrey; color: #fff">还款结束</div>
        </a>
        {{/if}}
    </div>
</div>
{{/list}}
