<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="safety__banner"></div>
<div class="safety__main">
    <div class="safety__content">
        <h2 class="safety__title">投资安全</h2>
        <div class="safety__info safety__info--part">
            美易理财是国美金融打造的一站式综合理财服务平台，国美强大的品牌保障与资源优势，为美易理财业务开展奠定坚实基础，同时为用户的资金保驾护航。
        </div>
        <h2 class="safety__title">资金安全</h2>
        <div class="safety__info safety__info--full">
            <p>美易理财严守平台规范，由银盈通和连连支付作为第三方支付资金托管平台，实现真正第三方资金托管与结算。用户资金只存在于第三方支付的托管账户里，与平台有效隔离，保证安全。</p>
            <p>美易理财采用同卡进出规则，资金只能转出到用户认证及绑定过的银行账户，用户可以实时查询个人账户的资金情况。</p>
        </div>
        <h2 class="safety__title">风险保障</h2>
        <div class="safety__info safety__info--part">
            美易理财拥有专业高效的风险管理团队，甄选国美优质资产并严格遴选外部金融资产，在规范的业务流程与严格的风险审批政策下，通过实地调研、数据分析等可掌握的有效渠道，对多元化金融资产进行独立地分析与评估，有效权衡收益与风险，保障用户的利益。
        </div>
        <h2 class="safety__title">数据信息安全</h2>
        <div class="safety__info safety__info--full" style="margin-bottom:0">
            网站采用领先的通信、数据加密技术确保信息安全，实行高效的部署脚本与应急处理机制保证系统可靠。同时，网站运用先进的软件体系架构设计，确保业务平台的高性能、高可用性、高扩展性，并采取多重多维度的隐私保护机制，严格保护用户的隐私信息。
        </div>
        <img src='/ccc/safety/img/1.png' style="position:absolute;top:20px;right:40px">
        <img src='/ccc/safety/img/2.png' style="position:absolute;bottom:220px;right:40px">
    </div>
</div>
</dsBody>
