
@import "utils";
@import "bootstrap-theme-gyro";


/*=============================================================================
                                                                    Scaffolding
----*/

@color-gray-dark-double: #36373B;
@color-gray-dark: #666666;
@color-gray: #999CA5;
@color-gray-light: #BBBBBB;
@color-gray-light-double: #EBEBEB;

@color-theme-primary: #0194FF;
@color-theme-success: #20A121;
@color-theme-warning: #EE6754;
@color-theme-danger: #EE6754;
@color-theme-info: #31B0D5;

@color-theme-emphasize: #EE6754;
@color-theme-main: #007EC5;


@path-image: '../assets/image';


body {
    color: @color-gray;
    font-family: "Helvetica", "Arial", "Verdana", "Hiragino Sans GB", "STHeiti", "sans-serif";
    font-size: 14px;
    background-color: #F6F6F6;
    // -webkit-tap-highlight-color: rgba(26, 26, 26, 0.5);
}

a {
    color: @color-theme-main;
    text-decoration: none;

    &:hover {
        color: @color-theme-main;
        text-decoration: none;
    }
}

.modal {
    &.center {
        .modal-dialog {
            position: absolute;
            left: 10px;
            right: 10px;
            top: 50%;
            margin: 0;
        }

        &.in {
            .modal-dialog {
                .transform(translateY(-50%));
            }
        }
    }

    &-confirm {
        font-size: 16px;
        color: #333;

        .modal-buttons {
            .flex-display(stretch; space-between);
        }

        .modal-button {
            .flex(1);

            border-top: 1px solid #D8D8D8;
            border-left: 1px solid #D8D8D8;
            font-size: 17px;
            line-height: 44px;
            text-align: center;
            color: #CC3333;

            &:first-child {
                border-left: 0;
                border-radius: 0 0 0 7px;
            }

            &:last-child {
                border-radius: 0 0 7px 0;
            }

            &:first-child:last-child {
                border-radius: 0 0 7px 7px;
            }
        }
    }
}

.color {
    &-ltb {
        &-text {
            color: #FFC808;
        }

        &-border {
            border-color: #FFC808;
        }
    }

    &-lxy {
        &-text {
            color: @color-theme-main;
        }

        &-border {
            border-color: @color-theme-main;
        }
    }

    &-qt {
        &-text {
            color: #4A4A4A;
        }

        &-border {
            border-color: #4A4A4A;
        }
    }
}

// utils
.u {
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }

    &-off-margin-top {
        margin-top: 0 !important;
    }
    &-off-margin-bottom {
        margin-bottom: 0 !important;
    }

    &-table-align-middle {
        display: table;
        table-layout: fixed;
        width: 100%;

        > .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

// components
.c {
    &-list-panel {
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        color: @color-gray-dark-double;
        background-color: #FFF;
        list-style: none;
        padding-left: 0;

        > .item {
            margin-left: 16px;
            padding: 14px;
            padding-left: 0;
            line-height: 1;
            font-size: 28px/2 + 1;
            position: relative;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                content: "";
                display: block;
                border-top: 1px solid @color-gray-light-double;
            }

            &:first-child:before {
                display: none;
            }

            &.title {
                font-size: 32px/2 + 2;
            }
        }
    }
}

/*=============================================================================
                                                                    Page Header
----*/

#page-header {
    position: relative;
    min-height: 0;
    height: 44px;
    background-color: #FFF;

    .flex-display(center; space-between);

    .logo {
        .flex(1);

        padding: 0 16px/2;
    }

    .userbar {
        .flex(none);

        padding: 0 30px/2;
        font-size: 28px/2 + 2;

        a {
            + a {
                margin-left: 7px;
                border-left: 1px solid @color-theme-main;
                padding-left: 10px;
            }
        }
    }
}

.page-nav {
    line-height: 1;
    background-color: #FFF;
    border-bottom: 1px solid #D9D9D9;

    &.margin-down {
        margin-bottom: 20px;
    }

    *[class*="col-"] {
        padding: 14px 0;
        font-size: 18px;

        &:first-child {
            padding-left: 15px;
        }

        &:last-child {
            padding-right: 15px;
        }

        &.back, &.actions {
            color: #777;

            .glyphicon {
                vertical-align: top;
                top: -1px;
            }
        }
        &.title {
            text-align: center;
            color: @color-theme-main;
        }
        &.actions {
            text-align: right;
        }
    }
}

/*=============================================================================
                                                                   Page Tab Nav
----*/

#page-tab-nav {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;

    border-top: 1px solid @color-gray-light-double;
    background-color: #FFF;
    padding: 6px 0;
    line-height: 1;
    font-size: 12px;
    text-align: center;

    li {
        color: #808080;

        &.active {
            color: @color-theme-main;
        }

        a {
            color: inherit;

            .glyphicon {
                font-size: 26px;
                display: block;
                margin-bottom: 4px;
            }
        }
    }
}

/*=============================================================================
                                                                      Home Page
----*/

#homepage {

    section:not(.omit-margin) {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-page {
        margin-bottom: 10px;
        border-bottom: 1px solid #D9D9D9;
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: #FFF;

        &-list {
            .flex-display(flex-start; space-between);

            > li {
                .flex(1);

                a {
                    font-size: 26px/2 + 2;
                    color: #777;
                }

                .icon {
                    display: block;
                    margin: 0 auto 5px;
                    background: url("@{path-image}/nav-icons.png") no-repeat;
                    background-size: cover;
                    width: 90px/2;
                    height: 90px/2;
                    overflow: hidden;

                    &-user {
                        background-position: 0 0;
                    }

                    &-usd {
                        background-position: 0 -90px/2;
                    }

                    &-gift {
                        background-position: 0 -180px/2;
                    }

                    &-volume-up {
                        background-position: 0 -270px/2;
                    }
                }
            }
        }
    }

    .loan {
        > .subject {
            .media {
                font-size: 24px/2 + 1;
                color: #999;

                &-left {
                    padding-right: 15px;
                }

                &-heading {
                    margin-bottom: 3px;
                    font-size: 28px/2 + 2;
                }

                &-right {
                    padding-left: 0;
                }
            }

            .glyphicon {
                font-size: 18px;
            }
        }

        &-list {
            .flex-display(stretch; space-between);

            > li {
                .flex(1);

                font-size: 24px/2 + 2;
                color: #999;

                a {
                    color: #999;
                }

                .title {
                    margin: 0 0 8px;
                    font-size: 24px/2 + 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .rate-term {
                    .flex-display(flex-end; space-between);

                    margin-bottom: 8px;

                    .rate {
                        .flex(1);

                        color: #FF7200;

                        .num {
                            font-size: 42px/2 + 2;
                        }
                    }

                    .term {
                        .flex(none);

                        .num {
                            font-size: 28px/2 + 2;
                        }
                    }
                }

                .balance {
                    margin-bottom: 12px;
                }

                .status {
                }

                + li {
                    margin-left: 20px;
                    border-left: 1px solid #DFDFDF;
                    padding-left: 20px;
                }
            }
        }

        .btn {
            &-scheduled {
                .button-variant(#FFF; #FF7200; #FF7200);
            }

            &-finished {
                .button-variant(#FFF; #D9D9D9; #D9D9D9);
            }

            &-settled {
                .button-variant(#FFF; #D9D9D9; #D9D9D9);
            }

            &-cleared {
                .button-variant(#FFF; #D9D9D9; #D9D9D9);
            }

            &-sm {
                font-size: 28px/2 + 2;
                line-height: 1;
            }
        }
    }
}

/*=============================================================================
                                                                      List Page
----*/

#list {

    section:not(.omit-margin) {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dropdown-filter {
        .dropdown-menu {
            > li > a {
                font-size: 16px;

                img {
                    margin-top: -3px;
                    margin-right: 15px;
                }
            }

            .divider {
                margin: 5px 0;
            }
        }
    }

    > .subject {
        margin: 10px;
        padding: 10px 15px 6px;
        border-width: 1px;
        border-style: solid;
        background-color: #FFF;

        .media {
            font-size: 24px/2 + 1;
            color: #999;

            &-left {
                padding-right: 15px;
            }

            &-heading {
                margin-bottom: 3px;
                font-size: 36px/2 + 2;
            }
        }
    }

    .invest-list {
        .list {
        }

        .list > .item {
            margin: 10px;
            border: 1px solid #D9D9D9;
            background-color: #FFF;

            > a {
                color: #999;
            }

            .subject {
                .flex-display(center; space-between);

                margin: 0 10px;
                border-bottom: 1px solid #E6E6E6;
                padding: 5px;
                min-height: 56px/2 + 2;

                .title {
                    .flex(1);

                    margin: 0;
                    font-size: 24px/2 + 2;
                }

                .status {
                    .flex(none);

                    margin-left: 10px;
                    font-size: 24px/2 + 2;
                    color: #FF7200;
                }
            }

            .info {
                .flex-display(center; space-between);

                border-bottom: 1px solid #E6E6E6;
                padding: 5px 20px;

                .item {
                    .flex(none);

                    &.rate {
                        font-size: 48px/2 + 2;
                        color: #FF7200;

                        .unit {
                            font-size: 60%;
                        }
                    }

                    &.term {
                        .flex(1);

                        margin: 0 10px;
                        text-align: center;
                        font-size: 26px/2 + 2;
                        color: #4A4A4A;

                        .num {
                            font-size: 30px/2 + 2;
                        }
                    }

                    &.current-progress {
                        position: relative;

                        .chart {
                            canvas {
                                vertical-align: middle;
                            }
                        }

                        .num {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            display: block;
                            font-size: 24px/2;
                            color: @color-theme-main;

                            &.text-muted {
                                color: #999;
                            }

                            .transform(translate(-50%, -50%));
                        }
                    }
                }
            }

            .footer {
                .flex-display(center; space-between);

                padding: 5px 15px;
                min-height: 56px/2 + 2;
                font-size: 24px/2 + 2;

                .method {
                    .flex(none);

                    margin-right: 10px;
                }

                .balance {
                    .flex(1);

                    text-align: right;
                }
            }
        }

        .load-more {
        }
    }
}

/*=============================================================================
                                                               [Router] Sign Up
----*/

#register {

    .form-flatten {
        #login > .form-flatten;
    }

    .form {
        margin-top: 20px;

        .form-group {
            -webkit-flex-direction: column;
                    flex-direction: column;

            input.form-control {
                margin-left: 15px;
            }

            .help-block {
                margin: 0;
                text-align: right;
                padding: 2px 6px;
            }

            &.captcha {
                .action {
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    line-height: 1;
                    padding: 2px;
                    border-radius: 2px;
                    border: 1px solid @color-gray-light;
                }
            }

            &.mobile-captcha {
                .btn-action {
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    line-height: 1;
                    padding: 8px 8px;
                    border: 1px solid @color-theme-main;
                    border-radius: 4px;
                    min-width: 78px;
                }

                &.init {
                    .btn-action {
                        .icon, .count {
                            display: none;
                        }
                    }
                }
                &:not(.init) {
                    .btn-action {
                        .text {
                            display: none;
                        }
                    }
                }
            }

            &.agreement {
                background-color: #EDFAFE;
                margin-bottom: 0;
                padding: 8px 24px;
                font-size: 12px;

                label {
                    font-weight: normal;
                    margin-bottom: 0;

                    a {
                        color: @color-theme-main;
                    }
                }
            }
        }
    }
}

/*=============================================================================
                                                                [Router] Log In
----*/

#login {

    .page-nav {
        margin-bottom: 10px;
    }

    .page-content {

        .form {
            input.form-control {
                padding-left: 6px;
                padding-right: 6px;
                -webkit-box-shadow: none !important;
                        box-shadow: none !important;
            }

            .form-group.merge {
                margin-bottom: 0;
                border-top: 1px solid @color-gray-light-double;

                &:first-child {
                    border-top-color: transparent;
                }

                input {
                    border-radius: 0;
                    border: none;
                }
            }
        }
    }

    .form-flatten {
        input.form-control {
            .flex(1);

            padding-left: 8px;
            -webkit-box-shadow: none !important;
            -webkit-appearance: none !important;
            box-shadow: none !important;
            border-radius: 0;
            border: none;
            border-top: 1px solid @color-gray-light-double;
            font-size: 14px;
            color: #333;
        }

        .form-group.merge {
            .flex-display();

            position: relative;
            margin-bottom: 0;
            background-color: #FFF;

            &:first-child input {
                border-top: none;
            }

            label {
                padding: 16px 12px 0;
                font-size: 15px;
                text-align: center;
                font-weight: normal;
                margin: 0;
                line-height: 1;
                color: @color-gray;
                min-width: 54px;
            }
        }

        .inputs {
            overflow: hidden;
            border-radius: 0px;
            margin-bottom: 15px;

            border-top: 1px solid #D9D9D9;
            border-bottom: 1px solid #D9D9D9;
        }
    }

    .icon-doll {
        margin: 40px auto;
        text-align: center;
    }

    .flash-message {
        .opacity(0);
        .transition();

        padding: 6px 10px;

        &.on {
            .opacity(1);
        }
    }

    .links {
        .flex-display(center; space-between);

        color: @color-theme-main;
        font-size: 15px;

        a {
            color: @color-gray;
            display: block;
        }
    }
}

/*=============================================================================
                                                              [Router] Password
----*/

#password {

    .page-content {
        #login > .page-content;

        .input-group-btn {
            padding-right: 10px;
            background-color: #FFF;

            .captcha-img {
                border: 1px solid #bbbbbb;
            }
        }
    }

}

/*=============================================================================
                                                           [Router] Loan detail
----*/

#loan {
    section:not(.omit-margin) {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    > .loan-summary {
        > .item {
            &:before {
                display: none;
            }

            &.subject {
                margin-right: 16px;
                padding-right: 0;
                border-bottom: 1px solid @color-gray-light-double;
            }
        }

        .title {
            margin-top: 0;
        }

        .media {
            font-size: 24px/2 + 1;
            color: #999;

            &-left {
                padding-left: 10px;
            }

            &-heading {
                line-height: 1;
            }

            &.amount {
                .media-heading {
                    margin-bottom: 0;
                    font-size: 42px/2 + 2;
                    color: #4A4A4A;

                    .min-amount {
                        margin-left: 12px;
                    }

                    small {
                        font-size: 24px/2 + 1;

                        &:not(.unit) {
                            color: #999;
                        }
                    }
                }
            }

            &.rate {
                .media-heading {
                    font-size: 48px/2 + 2;
                    color: #FF7200;

                    small {
                        font-size: 24px/2 + 1;
                        color: #FF7200;
                    }
                }
            }

            &.term-method {
                .media-heading {
                    margin-bottom: 12px;
                    font-size: 30px/2 + 2;
                    color: #4A4A4A;

                    .unit {
                        font-size: 26px/2 + 2;
                    }
                }
            }
        }

        .info-list {
            .flex-display(stretch; space-between);

            > li {
                .flex(1);

                + li {
                    border-left: 1px solid @color-gray-light-double;
                    padding-left: 5px;
                }
            }
        }
    }

    > .guarantee {
        > .item {
            margin-right: 16px;
            padding-right: 0;
            font-size: 30px/2 + 1;
            line-height: 1.3;
            color: #4A4A4A;

            > img.pull-left {
                margin-right: 7px;
            }
        }
    }

    > .links {
        > a {
            display: block;
            color: #4A4A4A;
        }

        .text-muted {
            color: #999;
        }
    }

    > section.status {
        margin-top: 15px;
        margin-bottom: 26px;

        .btn {
            #homepage .loan .btn;
        }
    }

    > .tab {
        background-color: #FFF;

        .loan-text-content {
            word-break: break-word;
            background-color: #FFF;
            padding: 10px 15px;
            overflow-x: scroll;
            color: #4A4A4A;
        }
    }
}

/*=============================================================================
                                                        [Router] Loan investors
----*/

#loan-investors {
    .investors-list {
        border: 0;

        > .item {
            padding-left: 10px;
            padding-right: 25px;
            font-size: 28px/2 + 2;
            color: #4A4A4A;

            .name {
                padding-right: 5px;
                min-width: 80px;
            }

            .amount {
            }

            .date {
                margin-top: 5px;
                font-size: 24px/2 + 2;
                color: #999;
            }
        }
    }
}

/*=============================================================================
                                                             [Router] Loan info
----*/

#loan-info {
    .info-list {
        padding-left: 15px;
        padding-right: 15px;
        background-color: #FFF;

        > .item {
            border-bottom: 1px solid @color-gray-light-double;
            padding-top: 12px;
            padding-bottom: 12px;
            color: #4A4A4A;

            .title {
                margin: 0;
                font-size: 32px/2 + 2;
            }

            .content {
                margin-top: 12px;
                font-size: 28px/2 + 2;
            }
        }
    }
}

/*=============================================================================
                                                           [Router] Loan invest
----*/

.multi-line-container {
    border-top: 1px solid @color-gray-light-double;
    border-bottom: 1px solid @color-gray-light-double;
    background-color: #FFF;
    margin-bottom: 1em;

    &-item {
        font-size: 14px;
        padding: 15px;
        padding-left: 0;
        margin-left: 15px;
        line-height: 1;
        border-top: 1px solid @color-gray-light-double;

        &:first-child {
            border-top: none;
        }

        &.title {
            font-size: 16px;
            color: @color-gray-dark-double;
        }

        .title {
            color: #A5A5A5;
            font-weight: normal;

            &:after {
                content: ":";
                display: inline;
                margin: 0 1em 0 0.5em;
            }
        }

        .control-label {
            padding-top: 8px;
            margin-bottom: 0;
        }

        .form-control-static {
            font-size: 16px;
        }

        .form-group {
            margin-bottom: 0;
        }

        .form-control {
            height: 28px;
        }
    }
}

#loan-invest {

    .c-list-panel {
        > .item {
            .flex-display(center; space-between);

            margin-left: 10px;
            padding: 15px 15px 15px 5px;
            font-size: 30px/2 + 1;
            color: #333;

            .name,
            label {
                .flex(none);

                margin-right: 10px;
            }

            .value,
            .input-wrap {
                .flex(1);
            }

            .value {
                text-align: right;
            }

            &.title {
                font-size: 32px/2 + 1;
            }

            &:before {
                border-color: #D8D8D8;
            }
        }
    }

    .invest {
        margin-top: 10px;
        margin-bottom: 10px;

        label {
            margin-bottom: 0;
            font-weight: normal;
        }

        .input-wrap {
        }

        .text-primary {
            color: #EB0432;
        }
    }
}

/*=============================================================================
                                                      [Router] [Dashboard] Home
----*/

#dashboard {
    section:not(.omit-margin) {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .c-list-panel {
        > .item {
            img {
                margin-right: 7px;

                &.user-icon {
                    margin-left: 2px;
                    margin-right: 8px;
                }

                &.coupon-icon {
                    margin-left: 2px;
                }
            }

            .name {
                display: inline-block;
                vertical-align: -2px;
                margin-right: 2px;
                min-width: 5em;
                font-size: 28px/2 + 2;
                color: #777;
            }

            .value {
                font-size: 24px/2 + 2;
                color: #999;

                .num {
                    color: #FF7200;
                }
            }

            .glyphicon {
                color: #999;
            }

            .btn {
                margin-top: -4px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 999px;
                font-size: 24px/2 + 2;
                line-height: 1;
            }
        }

        > a {
            display: block;
            color: #777;
        }
    }

    .info-list {
    }

    .links {
    }

    section.action {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .btn {
        &-withdraw {
            .button-variant(#FF7200; #FFF; #FF7200);
        }

        &-recharge {
            .button-variant(@color-theme-main; #FFF; @color-theme-main);
        }

        &-logout {
            .button-variant(#FFF; #FF7200; #FF7200);
        }
    }
}

/*=============================================================================
                                                    [Router] [Dashboard] Invest
----*/

#dashboard-invest {
    .invest-list .list .item {
        margin: 16px/2 20px/2;

        a {
            color: #333;
        }

        .subject {
            .flex-display(center; space-between);

            padding: 4px 0 4px 4px;
            font-size: 26px/2 + 2;

            .title {
                .flex(1);
            }

            .status {
                .flex(none);

                margin-left: 10px;
                color: #615E5F;

                .glyphicon {
                    margin-left: -3px;
                    color: #9B9B9B;
                }
            }
        }

        .info {
            border-radius: 3px;
            padding: 20px/2;
            background-color: #FFF;
            font-size: 24px/2 + 2;

            .info-row {
                .flex-display(center; space-between);

                .name {
                    .flex(none);

                    margin-right: 10px;
                    color: #808080;
                }

                .value {
                    .flex(1);

                    text-align: right;
                }

                & + .info-row {
                    margin-top: 2px;
                }
            }
        }
    }
}

/*=============================================================================
                                             [Router] [Dashboard] Invest Detail
----*/

#dashboard-invest-detail {
    > .info {
        .item {
            .flex-display(center; space-between);

            margin-left: 10px;
            padding: 15px 10px 15px 5px;
            color: #333;

            .name {
                .flex(none);

                margin-right: 10px;
                color: #808080;
            }

            .value {
                .flex(1);

                text-align: right;
            }

            &:before {
                border-color: #D8D8D8;
            }
        }
    }

    > .actions {
        margin-top: 10px;

        .btn {
            padding-top: 7px;
            padding-bottom: 7px;

            &-block + .btn-block {
                margin-top: 10px;
            }

            &-default {
                .button-variant(#333; #F5F5F5; #A0A0A0);
            }
        }
    }
}

/*=============================================================================
                                                  [Router] [Dashboard] Recharge
----*/

#dashboard-recharge {

    .balance {
        .flex-display(center; space-between);

        margin-bottom: 20px/2;
        padding-top: 9px;
        padding-bottom: 9px;
        background-color: #FFF;
        color: #333;

        .labels {
            .flex(none);

            margin-right: 10px;
            font-size: 30px/2 + 2;

            &:after {
                content: ":";
            }
        }

        .amount {
            .flex(1);

            font-size: 36px/2 + 2;
        }
    }

    .recharge-form {
        margin-bottom: 30px/2;
        background-color: #FFF;

        .form-group {
            .flex-display(center; space-between);

            margin: 0;
            padding-top: 8px;
            padding-bottom: 8px;
            color: #333;
            font-size: 30px/2 + 2;

            label {
                .flex(none);

                margin-right: 20px;
                margin-bottom: 0;
                font-weight: normal;
            }

            .input-wrap {
                .flex(1);

                .form-control {
                    font-size: 26px/2 + 2;
                }
            }
        }
    }
}

/*=============================================================================
                                                  [Router] [Dashboard] Withdraw
----*/

#dashboard-withdraw {

    .balance {
        #dashboard-recharge > .balance;
    }

    .withdraw-form {
        #dashboard-recharge > .recharge-form;
    }
}

/*=============================================================================
                                         [Router] [Dashboard] Invest Repayments
----*/

#dashboard-repayment {
    .repayment-list {
        #dashboard-funds > .funds-list;
    }

    .repayment-list > .list > .item {

        .gary {
            -webkit-filter: grayscale(1) contrast(0.5);
                    filter: grayscale(1) contrast(0.5);
        }

        .repayment-type {
            padding: 4px 6px;
            margin-right: 6px;
            border-radius: 6px;
            font-size: 18px;
            display: inline-block;
            color: #FFF;

            &.red {
                background-color: @color-theme-main;
            }
            &.green {
                background-color: #7EC741;
            }
            &.orange {
                background-color: #FF4800;
            }
        }

        .date {
            font-size: 14px;
            top: 2px;
        }
    }
}

/*=============================================================================
                                                     [Router] [Dashboard] Funds
----*/

#dashboard-funds {
    > .funds-list {
        background-color: #FFF;

        > .list {
            margin-left: 10px;
            border-top: 0;
            border-color: #D8D8D8;
        }

        > .list > .item {
            border-left: 0;
            border-right: 0;
            padding: 14px 10px 14px 5px;

            .info {
                .operation > * {
                    position: absolute;
                    left: -6px;
                    top: -2px;
                    line-height: 1;
                    color: #FFF;
                    border-radius: 999px;
                    padding: 6px;
                    font-size: 18px;

                    &.red {
                        background-color: @color-theme-main;
                    }
                    &.orange {
                        background-color: #FF7200;
                    }
                    &.green {
                        background-color: #7EC741;
                    }
                    &.blue {
                        background-color: #70B1DF;
                    }
                }
            }

            .type {
                margin-bottom: 8px;
                font-size: 28px/2 + 2;
                color: #000;
            }

            .date {
                font-size: 24px/2 + 2;
                color: #BBB;
            }

            .amount {
                margin-bottom: 5px;
                font-size: 30px/2 + 2;

                &.red {
                    color: #E70012;
                }
                &.green {
                    color: #79CB3C;
                }
                &.gray {
                    color: #333;
                }
            }

            .description {
                font-size: 24px/2 + 2;
                color: #A3A3A3;

                em {
                    color: @color-gray-light;
                    font-style: normal;
                }
            }
        }
    }
}

/*=============================================================================
                                                    [Router] [Dashboard] invite
----*/

#dashboard-invite {
    background-color: #FFF;
    padding-bottom: 40px;

    .notes {
        h2 {
            background-color: @color-theme-main;
            display: inline-block;
            border-radius: 999px;
            color: #FFF;
            padding: 4px 10px;
            font-size: 16px;
            line-height: 1;
        }

        .body {
            background-color: @color-gray-light-double;
            border-radius: 6px;
            padding: 10px;
            color: @color-gray-dark-double;
            font-size: 14px;
        }

        .list-ol {
            padding-left: 20px;
        }

        .award-amount {
            color: @color-theme-main;
        }

        .share-menu {
            color: #FFF;
            background-color: @color-gray-dark-double;
            padding: 1px 3px;
        }
    }
}

/*=============================================================================
                                                                 [Router] About
----*/

#about {
    color: #4A4A4A;

    .summary {
        padding-top: 10px;
        padding-bottom: 20px;
        background-color: #FFF;
        font-size: 24px/2 + 1;
        line-height: 46px/2 + 1;
        text-align: justify;
    }

    .qualification {
        .title {
            margin: 0;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 30px/2 + 1;
            line-height: 46px/2 + 1;
            text-align: center;

            &:before {
                content: "【";
            }

            &:after {
                content: "】";
            }
        }

        .content {
            padding-top: 15px;
            padding-bottom: 40px;
            background-color: #FFF;

            img {
                display: block;
                margin: 0 auto 10px;
            }
        }
    }
}

/*=============================================================================
                                                                [Router] Safety
----*/

#safety {

    > section {
        background-color: #FFF;

        > .title {
            margin: 0;
            padding-left: 18px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 30px/2 + 1;
            font-weight: bold;
            color: #EB5A02;

            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
                background: url(../assets/image/safety/icons.png) no-repeat;
                background-size: cover;
                width: 60px/2;
                height: 60px/2;
                overflow: hidden;

                &-safeguard {
                    background-position: 0 0;
                }

                &-control {
                    background-position: 0 -60px/2;
                }

                &-deposit {
                    background-position: 0 -120px/2;
                }

                &-transparent {
                    background-position: 0 -180px/2;
                }

                &-cooperation {
                    background-position: 0 -240px/2;
                }

                &-security {
                    background-position: 0 -300px/2;
                }
            }
        }

        > .content {
            margin-left: 5px;
            margin-right: 5px;
            padding: 5px;
            background-color: #F6F6F6;
            font-size: 24px/2 + 2;
            line-height: 32px/2 + 2;
            color: #333;
            text-align: justify;
        }

        &.safeguard {
            > .content {
                padding: 0 0 20px;
                background-color: #FFF;

                .safeguard-icon {
                    display: inline-block;
                    vertical-align: middle;
                    background: url(../assets/image/safety/safeguard.png) no-repeat;
                    background-size: cover;
                    width: 68px/2;
                    height: 68px/2;
                    overflow: hidden;

                    &-1 {
                        background-position: 0 0;
                    }

                    &-2 {
                        background-position: 0 -68px/2;
                    }

                    &-3 {
                        background-position: 0 -136px/2;
                    }
                }

                .media {
                    margin-top: 10px;
                    border-top: 1px solid #CACACA;
                    padding-left: 8px;
                    padding-top: 10px;

                    .media-left {
                        padding-right: 24px/2;
                    }

                    .media-heading {
                        margin-bottom: 2px;
                        font-size: 28px/2 + 1;
                        font-weight: bold;
                        line-height: 40px/2 + 1;
                    }

                    .desc {
                        margin: 0;
                        font-size: 22px/2 + 1;
                        line-height: 28px/2 + 1;
                    }

                    &:first-child {
                        margin-top: 0;
                        border-top: 0;
                        padding-top: 0;
                    }
                }
            }
        }

        &.control {
            background-color: #F6F6F6;

            .img-wrap {
                padding: 10px 0 15px;
            }
        }

        &.deposit {
        }

        &.transparent {
            padding-top: 10px;
        }

        &.cooperation {
            padding-top: 10px;
            padding-bottom: 20px;

            .content {
                padding-top: 0;
                background-color: #FFF;
                font-size: 26px/2 + 2;
                font-weight: bold;
                line-height: 32px/2 + 2;
                text-align: center;

                img {
                    display: block;
                    margin: 0 auto 10px;

                    &.pnr {
                        margin-top: -3px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        &.security {
            padding-bottom: 15px;
            background-color: #F6F6F6;

            .dl-horizontal {
                margin-bottom: 10px;
                color: #4A4A4A;

                dt {
                    float: left;
                    padding-right: 10px;
                    min-width: 6em;
                    width: auto;
                    text-align: left;
                    font-size: 24px/2 + 2;
                    font-weight: bold;
                    line-height: 1.2;
                }

                dd {
                    overflow: hidden;
                    margin-left: 0;
                    margin-bottom: 10px;
                    font-size: 22px/2 + 2;
                    line-height: 28px/2 + 2;
                }
            }
        }
    }

}

/*=============================================================================
                                                                  [Router] Help
----*/

#help {

    .help-accordion {
        background-color: #FFF;

        .panel {
            &-group {
                margin-bottom: 0;
                margin-left: 10px;
            }

            &-default {
                margin: 0;
                border: 0;
                border-top: 1px solid #D8D8D8;
                padding-left: 5px;
                padding-right: 10px;
                -webkit-box-shadow: none;
                box-shadow: none;

                &:first-child {
                    border-top: 0;
                }
            }

            &-heading {
                padding: 15px 0;
                background-color: #FFF;
            }

            &-title {
                font-size: 15px;

                a {
                    display: block;

                    &:hover,
                    &:focus {
                        outline: 0;
                        text-decoration: none;
                        color: #333;
                    }
                }

                .glyphicon {
                    &-menu-down {
                        color: @color-theme-main;
                    }
                }
            }

            &-body {
                border: 0;
                padding: 0;
                padding-bottom: 10px;
                text-align: justify;

                .content {
                    font-size: 14px;
                    color: #5E5E5E;
                }
            }
        }
    }

}

/*=============================================================================
                                                          [Router] Announcement
----*/

#announcement {
    .announcements {
        margin-left: 15px;
        margin-right: 10px;
        border-left: 2px solid #D9D9D9;
        padding-left: 15px;
        padding-bottom: 40px;

        .list {
            .item {
                position: relative;
                padding-top: 5px;
                color: #999;

                .pub-date {
                    font-size: 24px/2 + 2;
                    line-height: 34px;
                }

                .detail {
                    border: 1px solid #D9D9D9;
                    padding: 5px 15px;
                    background-color: #FFF;

                    .title {
                        font-size: 28px/2 + 2;
                        color: @color-theme-main;
                    }

                    .content {
                        font-size: 24px/2 + 2;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: -22px;
                    top: 16px;
                    border: 2px solid #D9D9D9;
                    background-color: #F6F6F6;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }
            }
        }

        .load-more {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

/*=============================================================================
                                                                    Page Footer
----*/

#page-footer {
    padding-top: 17px;
    padding-bottom: 20px;
    background-color: #E4E4E4;
    font-size: 24px/2 + 2;
    color: #777;

    .copyright {
        margin-bottom: 2px;
    }

    .contact {
        margin-bottom: 10px;

        a {
            color: inherit;
        }
    }

    .certification {
        img {
            + img {
                margin-left: 9px;
            }
        }
    }
}
