<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/newAccount/css/common.css">
<link rel="stylesheet" href="/ccc/newAccount/css/index.css">
<link rel="stylesheet" href="/ccc/global/css/modules/cccTips.css">
<link rel="stylesheet" href="/ccc/newAccount/css/loan.css">
<div class="account-wrapper">
<!--	<div class="space-40"></div>-->
	<div id="userinfo"></div>
	<div class="account-container">
		<div class="account-nav"></div>
		<div class="account-content-wrapper">
			<div class="space-30"></div>
			<div class="account-content account-home-wrapper">
				加载中...
			</div>
			<div class="space-30"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="space space-50">&nbsp;</div>

<!--问卷start-->
<div class="wenjuan dn" style="z-index: 9009;">
    <div class="questionTit"></div>
    <div class="wenjuanClose">关闭</div>
    <div class="questionList">
        <div class="questionTitL">尊敬的投资者：</div>
        <div class="questionBox db">
            <div style="text-indent:2em;">这份问卷旨在协助您了解自己在投资时的风险偏好及对投资风险的承受度，同时也便于我们为您提供更准确的投资服务 ,问卷结果可能不能完全呈现您在面对投资风险时的真正态度，但是可提供您一些衡量自身风险属性的指标。
            </div>
            <ul>
                <li>
                    <label>1、 您的年龄？</label> 
                    <p>
                        <input type="radio" name="Q1" value="18—25周岁" data-value="1"/>
                        <span class="radioW">18—25周岁</span> 
                    </p>
                    <p>
                        <input type="radio" name="Q1" value="26—40周岁" data-value="2"/>
                        <span class="radioW">26—40周岁</span>
                    </p>
                    <p>
                        <input type="radio" name="Q1" value="41—60周岁" data-value="3"/>
                        <span class="radioW">41—60周岁</span>                 
                    </p>
                    <p>
                        <input type="radio" name="Q1" value="60周岁以上" data-value="4"/>
                        <span class="radioW">60周岁以上</span>
                    </p>  
                </li>
                <li>
                    <label>2、 您目前的职业状况是？</label>
                    <p>
                        <input type="radio" name="Q2" value="无业或已退休" data-value="1"/>
                        <span class="radioW">无业或已退休</span>
                    </p>
                    <p>
                        <input type="radio" name="Q2" value="自由职业" data-value="2"/>
                        <span class="radioW">自由职业</span>
                    </p>
                    <p>
                        <input type="radio" name="Q2" value="民营企业白领" data-value="3"/>
                        <span class="radioW">民营企业白领</span>
                    </p>
                    <p>
                        <input type="radio" name="Q2" value="自营事业" data-value="4"/>
                        <span class="radioW">自营事业</span>
                    </p>
                    <p>
                        <input type="radio" name="Q2" value="国企事业单位" data-value="5"/>
                        <span class="radioW">国企事业单位</span>
                    </p>

                </li>
                <li>
                    <label>3、 您的家庭收入为（税后折合人民币）？</label> 
                    <p>
                        <input type="radio" name="Q3" value="5—10万元" data-value="1"/>
                        <span class="radioW">5—10万元</span>
                    </p>
                    <p>
                        <input type="radio" name="Q3" value="10—20万元" data-value="2"/>
                        <span class="radioW">10—20万元</span>
                    </p>
                    <p>
                        <input type="radio" name="Q3" value="20—30万元" data-value="3"/>
                        <span class="radioW">20—30万元</span>
                    </p>
                    <p>
                        <input type="radio" name="Q3" value="30万元以上" data-value="4"/>
                        <span class="radioW">30万元以上</span>
                    </p>
                </li>
                <li>
                    <label>4、 在您每年的家庭收入中，可用于金融投资（储蓄存款除外）的比例为？</label>
                    <p>
                        <input type="radio" name="Q4" value="小于10%" data-value="1"/>
                        <span class="radioW">小于10%</span> 
                    </p> 
                    <p>
                        <input type="radio" name="Q4" value="10%—25%" data-value="2"/>
                        <span class="radioW">10%—25%</span>
                    </p>
                    <p>
                        <input type="radio" name="Q4" value="25%—50%" data-value="3"/>
                        <span class="radioW">25%—50%</span>
                    </p> 
                    <p>
                        <input type="radio" name="Q4" value="50%以上" data-value="4"/>
                        <span class="radioW">50%以上</span>
                    </p>
                </li>
                <li>
                    <label>5、 您有多少年非保本类金融产品投资的经验？</label> 
                    <p>
                        <input type="radio" name="Q5" value="没有经验" data-value="1"/>
                        <span class="radioW">没有经验</span>
                    </p>
                    <p>
                        <input type="radio" name="Q5" value="1—2年" data-value="2"/>
                        <span class="radioW">1—2年</span> 
                    </p>
                    <p>
                        <input type="radio" name="Q5" value="2—5年" data-value="3"/>
                        <span class="radioW">2—5年</span>
                    </p>
                    <p>
                        <input type="radio" name="Q5" value="5年以上" data-value="4"/>
                        <span class="radioW">5年以上</span>
                    </p>
                    
                </li>
                <li>
                    <label>6、 以下哪项描述最符合您的投资态度？</label>
                    <p>
                        <input type="radio" name="Q6" value="厌恶风险，不希望本金损失，希望获得稳定回报" data-value="1"/>
                        <span class="radioW">厌恶风险，不希望本金损失，希望获得稳定回报</span>
                    </p>
                    <p>
                        <input type="radio" name="Q6" value="保守投资，不希望本金损失，愿意承担一定幅度的收益波动" data-value="2"/>
                        <span class="radioW">保守投资，不希望本金损失，愿意承担一定幅度的收益波动</span>
                    </p>
                    <p>
                        <input type="radio" name="Q6" value="寻求资金的较高收益和成长性，愿意为此承担有限本金损失" data-value="3"/>
                        <span class="radioW">寻求资金的较高收益和成长性，愿意为此承担有限本金损失</span>
                    </p>
                    <p>
                        <input type="radio" name="Q6" value="希望赚取高回报，能接受为期较长期间的负面波动，包括本金损失" data-value="4"/>
                        <span class="radioW">希望赚取高回报，能接受为期较长期间的负面波动，包括本金损失</span>
                    </p>
                    
                </li>
                <li>
                    <label>7、 您有多少年p2p产品的投资经验？</label>
                    <p>
                        <input type="radio" name="Q7" value="刚刚开始" data-value="1"/>
                        <span class="radioW">刚刚开始</span>
                    </p> 
                    <p>
                        <input type="radio" name="Q7" value="半年以内" data-value="2"/>
                        <span class="radioW">半年以内</span>
                    </p>
                    <p>
                        <input type="radio" name="Q7" value="一年以内" data-value="3"/>
                        <span class="radioW">一年以内</span>
                    </p>
                    <p>
                        <input type="radio" name="Q7" value="一年以上" data-value="4"/>
                        <span class="radioW">一年以上</span>
                    </p>
                </li>
                <li>
                    <label>8、 哪项能说明您的投资经验？</label>
                    <p>
                        <input type="radio" name="Q8" value="只投资过银行存款、国债" data-value="1"/>
                        <span class="radioW">只投资过银行存款、国债</span> 
                    </p> 
                    <p>
                        <input type="radio" name="Q8" value="大部分投资于银行存款、国债，较少投资于股票、基金等风险产品" data-value="2"/>
                        <span class="radioW">大部分投资于银行存款、国债，较少投资于股票、基金等风险产品</span>
                    </p>
                    <p>
                        <input type="radio" name="Q8" value="资产均衡地分布于存款、国债、银行理财、信托、股票、基金等" data-value="3"/>
                        <span class="radioW">资产均衡地分布于存款、国债、银行理财、信托、股票、基金等</span>
                    </p>
                    <p>
                        <input type="radio" name="Q8" value="大部分投资于股票、外汇、金融衍生产品等风险产品，较少投资于银行存款、国债" data-value="4"/>
                        <span class="radioW">大部分投资于股票、外汇、金融衍生产品等风险产品，较少投资于银行存款、国债</span>
                    </p>
                </li>
                <li>
                    <label>9、您的投资目的是？</label> 
                    <p>
                        <input type="radio" name="Q9" value="刚刚开始" data-value="1"/>
                        <span class="radioW">资产保值</span>
                    </p>
                    <p>
                        <input type="radio" name="Q9" value="半年以内" data-value="2"/>
                        <span class="radioW">资产稳健增值</span>
                    </p>
                    <p>
                        <input type="radio" name="Q9" value="一年以内" data-value="3"/>
                        <span class="radioW">资产迅速增值</span>
                    </p>    
                </li>
                <li>
                    <label>10、您投资产品的价值出现何种程度的波动时，您会呈现明显的焦虑？</label> 
                    <p>
                        <input type="radio" name="Q10" value="刚刚开始" data-value="1"/>
                        <span class="radioW">本金无损失，但收益未达预期</span>
                    </p>
                    <p>
                        <input type="radio" name="Q10" value="半年以内" data-value="2"/>
                        <span class="radioW">本金5%以内的损失</span>
                    </p>
                    <p>
                        <input type="radio" name="Q10" value="一年以内" data-value="4"/>
                        <span class="radioW">本金5%-20%损失</span>
                    </p>
                    <p>
                        <input type="radio" name="Q10" value="一年以上" data-value="6"/>
                        <span class="radioW">本金20%-50%损失</span>
                    </p>
                    <p>
                        <input type="radio" name="Q10" value="一年以上" data-value="9"/>
                        <span class="radioW">本金50%以上损失</span>
                    </p>
                    
                </li>
            </ul>
            <div class="questionBtns">
                <!-- <div class="questionBtn false">跳过</div> -->
                <input type="button" class="questionBtn" value="提交">
                <div class="questionTip dn">请您完成问卷后再提交</div>
            </div>
        </div>
        <div class="resultInfor dn">
            <div class="resultW">
                您当前的风险承受能力评级：<span></span>
            </div>
            <div class="returnBtn">
                <div class="returnWenjuan">重新评估</div>
                <!-- <div class="returnPay">去投资</div> -->
            </div>
        </div>
    </div>
</div>
<!--问卷end-->
<script src="/ccc/newAccount/js/main/common.js"></script>
<script src="/ccc/newAccount/js/main/index.js"></script>
</dsBody>