<table class="table table-hover has-padding">
    <thead class="has-bg">
        <tr>
            <th class="p-tit" style="text-indent:20px;">进件编号</th>
            <th>贷款产品</th>
            <th class="p-amount">借款金额(元)</th>
            <th class="p-rate">月综合费率</th>
            <th class="p-duration">借款期数</th>
            <th class="p-method">还款方式</th>
            <th class="p-status">当前状态</th>
            <th class="p-op">操作</th>
        </tr>
    </thead>
    {{#if list}}
    <tbody>
        {{#each list}}
        <tr>
            <td style="text-indent:20px;">
                {{title}}
            </td>
            <td >{{loanRequest.serial}}</td>
            <td style="color:#f58220">{{Famount}}</td>
            <td style="color:#f58220">{{rate/100}}%</td>
            <td style="color:#f58220">{{Fduration}}</td>
            <td>{{Fmethod}}</td>
            <td>{{Fstatus}}</td>
            <td>
                <a class="blue-col" href="/newAccount/loanRequest/plan/{{id}}" rel="nofollow" >还款计划</a>
                <a class="blue-col" href="/newAccount/loanRequest/list/{{id}}" rel="nofollow">查看合同</a>
                <span class="blue-col" on-click="payedBefore">提前还款</span>
            </td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>

{{#if list}}
<div class="ccc-paging"></div>
{{else}}
<div class="no-loan"></div>
{{/if}}