<table class="table table-hover has-padding">
    <thead class="has-bg">
        <tr>
            <th class="p-tit" style="text-indent:20px;">进件编号</th>
            <th>贷款产品</th>
            <th class="p-amount">借款金额(元)</th>
            <th class="p-rate">月综合费率</th>
            <th class="p-duration">借款期数</th>
            <th class="p-method">还款方式</th>
            <th class="p-status">当前状态</th>
            <th class="p-op">操作</th>
        </tr>
    </thead>
    {{#if list}}
    <tbody>
        {{#each list}}
        <tr>
            <td style="text-indent:20px;">
                {{title}}
            </td>
            <td >{{loanRequest.serial}}</td>
            <td >{{Famount}}</td>
            <td >{{rate/100}}%</td>
            <td >{{Fduration}}</td>
            <td>{{Fmethod}}</td>
            <td>{{Fstatus}}</td>
            <td>
                <a href="/loan/{{id}}" target="_blank" rel="nofollow" >查看标的</a>
                {{#if status=="SETTLED"}}
                   <a href="{{corporationUrl}}" target="_blank" rel="nofollow" on-click="sign">签约</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>

{{#if list}}
<div class="ccc-paging"></div>
{{else}}
<div class="no-loan"></div>
{{/if}}