<link rel="stylesheet" href="/ccc/guide/css/style.css">

<div class="guide-banner-box"></div>
<div class="guide-box">
    
     
    <div class="guide-model">
        <img class="step-title" src="/ccc/guide/img/first.png"/>
        <p class="model-title">什么是奇乐融?</p>
        <p class="model-content">奇乐融是联想控股成员企业--正奇金融旗下互联网金融战略平台，由安徽唯源金融信息服务有限公司运营。践行普惠金融，助力财富增值。奇乐融致力于为中小微企业及个人提供专业、透明、安心、稳盈的互联网金融服务。 </p>
                <img class="step-title model-title-second" src="/ccc/guide/img/second.png"/>
        <p class="model-title ">投资理财流程</p>
       <img class="process-pic" src="/ccc/guide/img/process.png"/>
                      <img class="step-title model-title-second" src="/ccc/guide/img/third.png"/>
        <p class="model-title ">您可以投资哪些理财产品？</p>
        
        <div>
           <div class="ltb">
               <img src="/ccc/guide/img/happy-safe.png"/>
               <p class="ltb-title">乐投保</p>
               <p class="ltb-content">行业明星企业优质债权，具备银行融资资质。年化收益率高达11%。期限以6-12个月为主，让您的财富得到最大化增值。</p>
           </div>
            <div class="ltb">
               <img src="/ccc/guide/img/happy-earn.png"/>
               <p class="ltb-title lxy-title">乐享盈</p>
               <p class="ltb-content">顶级类金融机构资产转让项目，年化收益率高达9%。期限以3-6个月为主，让您的财富实现快速增长。</p>
           </div>
        </div>
        <div class="earn-pic">
            <img src="/ccc/guide/img/earn1100.png"/>
            <img src="/ccc/guide/img/earn800.png"/>
        </div>
        <div>
            <div class="for-parents">
                <img src="/ccc/guide/img/for-parents.png"/>
                <p class="for-parents-title">孝父母，环球游</p>
                <p class="for-parents-content">平时忙，回家少，拿一部分存
款来投资，年底带父母旅游</p>
            </div>
                     <div class="for-parents  for-wife">
                <img src="/ccc/guide/img/for-child.png"/>
                <p class="for-parents-title">为孩子，铸未来</p>
                <p class="for-parents-content">明年的这个时候又是开学季，投资乐投保稳稳当当给儿子赚明年的学费。</p>
            </div>
                     <div class="for-parents">
                <img src="/ccc/guide/img/for-wife.png"/>
                <p class="for-parents-title">爱老婆，享惊喜</p>
                <p class="for-parents-content">老婆生日快到了，拿私房钱投资赚钱，带老婆吃大餐。</p>
            </div>
                     <div class="for-parents  for-wife">
                <img src="/ccc/guide/img/for-brother.png"/>
                <p class="for-parents-title">做兄弟，给足面</p>
                <p class="for-parents-content">大学铁哥们要结婚，投资乐享盈挣个大红包包给他。</p>
            </div>
            
        </div>
                 <img class="step-title model-title-second" src="/ccc/guide/img/forth.png"/>
        <p class="model-title ">轻松四步，赚钱就是这么容易</p>
        <img class="steps-pic" src="/ccc/guide/img/for-steps.png"/>
          {{#if !user}}
          <div><a href="/register"><button class="guide-register-rightnow">注册领取红包</button></a></div>
          {{else}}
          <div><a href="/invest/list"><button class="guide-register-rightnow">马上投资</button></a></div>
          {{/if}}
    </div>
        

</div>

