<link rel="stylesheet" href="/ccc/guide/css/style.css">

<div class="guide-banner-box"><img class="guide-banner" src="/ccc/guide/img/new-banner.png"/></div>
<div class="guide-box">
    
     
    <div class="guide-model">
        <p class="model-title">什么是奇乐融?</p>
        <p class="model-content">奇乐融是联想控股旗下互联网金融战略平台，凭借联想控股成员企业正奇金融在传统类金融领域多年积累的优势和资源，以“践行普惠金融，助力财富增值”为使命，积极发展担保、租赁、小贷、典当等金融创新业务，努力打造专业、透明、安全、稳赢的互联网金融信息平台。奇乐融与多家行业龙头机构合作，规范操作为中小微企业和投资人提供高效便捷的金融服务。 </p>
        <div class="model-pic">
          <img src="/ccc/guide/img/new-company.png"/>
          <div class="model-pic-title">
              <p>企业经营贷产品</p>
              <h3>担保公司推荐项目</h3>
          </div>    
        </div>
        <div class="line"></div>
        <div class="model-pic-next">
          <div class="model-pic-title-next">
              <p>债权转让类理财产品</p>
              <h3>租赁应收租金收益权转让</h3>
          </div> 
          <img src="/ccc/guide/img/transfer.png"/>
           
        </div>
    </div>

</div>
<div class="guide-product-box">
    <div class="guide-product">
        <p  class="model-title">您可以投资哪些理财产品? </p>
<!--        <p class="model-content">奇乐融的产品经过线下筛选优质项目，严格的风控把关，不仅收益高，而且项目安全有保障，让投资者省心。</p>-->
        <img src="/ccc/guide/img/introduce.png"/>
    </div>

</div>
<div class="process-box">
    <div class="process">
                <p  class="model-title">投资理财流程</p>
        <p class="model-content">轻松四步，赚钱就是这么轻松
第一步注册；第二步认证；第三步充值；第四步投资 </p>
        <img src="/ccc/guide/img/process.png"/>
        <a href="/register"><button>注册领取新手奖励</button></a>
    </div>
</div>