<link rel="stylesheet" href="/ccc/guide/css/style.css">

<div class="guide-banner-box"><img class="guide-banner" src="/ccc/guide/img/new-banner.png"/></div>
<div class="guide-box">
    
     
    <div class="guide-model">
        <p class="model-title">业务模型</p>
        <p class="model-content">奇乐融是联想控股成员企业正奇金融倾力打造的投融资平台。凭借联想控股的雄厚实力和正奇金融在类金融领域积累的优质资源，为各位投资人提供安全有保障的高收益互联网理财信息服务。目前奇乐融的业务模型分为债券转让类和企业经营贷类。</p>
        <div class="model-pic">
          <img src="/ccc/guide/img/new-company.png"/>
          <div class="model-pic-title">
              <p>企业经营贷产品</p>
              <h3>担保公司推荐项目</h3>
          </div>    
        </div>
        <div class="line"></div>
        <div class="model-pic-next">
          <div class="model-pic-title-next">
              <p>债权转让类理财产品</p>
              <h3>租赁应收租金收益权转让</h3>
          </div> 
          <img src="/ccc/guide/img/transfer.png"/>
           
        </div>
    </div>

</div>
<div class="guide-product-box">
    <div class="guide-product">
        <p  class="model-title">产品介绍</p>
        <p class="model-content">奇乐融的产品经过线下筛选优质项目，严格的风控把关，不仅收益高，而且项目安全有保障，让投资者省心。</p>
        <img src="/ccc/guide/img/introduce.png"/>
    </div>

</div>
<div class="process-box">
    <div class="process">
                <p  class="model-title">投资流程</p>
        <p class="model-content">轻松四步，赚钱就是这么轻松。第一步注册；第二步认证；第三步充值；第四步投资。</p>
        <img src="/ccc/guide/img/process.png"/>
        <a href="/register"><button>注册领取新手奖励</button></a>
    </div>
</div>