
<header id="page-header" class="navbar u-off-margin-bottom">
    <div class="logo">
        <a href="./">
            <img class="" height="30" src="assets/image/nav-logo.png">
        </a>
    </div>

    <div class="userbar" ng-if="!user.has_logged_in">
        <a href="login">登录</a>
        <a href="register">注册</a>
    </div>

    <div class="userbar" ng-if="user.has_logged_in">
        <a href="dashboard">
            {{ user.info.name || user.info.mobile }}
        </a>
    </div>
</header>
