body,html{padding: 0;margin: 0;font-family: 微软雅黑,Microsoft Yahei,幼圆,YouYuan SimYou\?,SimSun,宋体,Helvetica,Arial,sans-serif;}
ul,li{margin: 0;padding: 0;list-style: none;}
.hide{display: none!important;}
.rongzi{width: 1100px;margin: auto;background-color: #f6f8fc;font-size: 0;}
.leftInfor{min-height: 1055px; box-sizing: content-box; width: 690px;padding: 50px;background-color: #fff;border: 1px solid #f2f2f4; display: inline-block;font-size: 0;vertical-align: top; margin-right: 12px;}
.rzRight{display: inline-block;font-size: 0; background-color: #fff;}
.rightImg{background-image: url(../images/rzinfor.png);background-repeat: no-repeat;background-position: left; width: 287px;height: 1102px;vertical-align: top;}
.rzrightTit{width: 100%; padding: 13px 0; vertical-align: middle; border-bottom: 1px solid #41afe0; font-size: 18px;color: #57495f; background-color: #fff; display: inline-block;}
.rzrightTit span{display: inline-block;vertical-align: middle;}
.rzrightIcon{display: inline-block; vertical-align: middle; margin-left: 20px;margin-right: 10px; background-image: url(../images/rzrightIcon.png); background-repeat: no-repeat;width: 20px;height: 20px;}
.rongziheadImg{width: 688px;height: 41px;background-repeat: no-repeat;margin-bottom:87px; }
.rongziheadImg1{background-image: url(../images/rzstep1.png);}
.rongziheadImg2{background-image: url(../images/rzstep2.png);}
.rongziheadImg3{background-image: url(../images/rzstep3.png);}
.rongziheadImg4{background-image: url(../images/rzstep4.png);}
.rzInforBox{font-size: 18px;color: #7e7e7e;}
.rzInforBox label{float: left;width: 230px;text-align: right;margin-top:10px;margin-right: 20px;display: inline;  max-width: 100%;margin-bottom:0px; font-weight: normal; }
.rzInforBox input[type="text"]{width: 320px;padding: 10px;margin-left: 10px;display: inline-block;font-size: 12px;}
#APY{display: inline-block;}
#APYstart,#APYend{width: 120px;display: inline-block;}
.rzInforBox select{width: 320px;padding: 10px;;margin-left: 10px;display: inline-block;font-size: 12px;color: #abb2ba;}
.red{color: red;}
.leftInfor li{display: block;}
.leftInfor li:after{content: "";clear: both;}
.tip{background-image: url(../images/error.png);line-height: 12px;height: 12px; background-repeat: no-repeat;background-color: #fff;margin: 5px 0; margin-left: 240px; font-size: 12px;color: #f06f2e;width: 320px;padding-left: 13px; background-position: left center;}
.tip.hiddenrz{visibility: hidden;}
.nextStep{width: 252px;height: 44px;border-radius: 3px; margin: auto; background-color: #029bda; color: #fff;text-align: center;line-height: 44px;font-size: 18px; cursor: pointer;}
.nextStep:hover{background-color: #015989;}
.nextStep.off{background-color: #abb2ba;}
.nextStep.off:hover{background-color:#abb2ba;}
#assure{display: inline-block;width: 320px;padding: 10px 0; text-align: left;}
#assure input{margin-left: 55px;}
.rzFinishImg{background-image: url(../images/rzsuccess.png);width: 400px;height: 264px;margin: 0 auto; margin-bottom: 10px;}
.rzFinishWord{font-size: 18px;color: #7e7e7e;width: 420px;margin: auto;}

