.content{width: 100%;}
.bac{width: 100%;height:750px;background-image: url(/ccc/userKnow/img/bac.jpg);}
.content_main{width: 1000px;margin: auto;}
.content_classify{}
.content_classify h1{font-size: 22px;color: #666;font-family: 'Arial';text-align: center;line-height: 40px;font-weight: normal;margin-bottom: 18px;}
.content_classify h2{font-size:26px;color: #5b9dff;text-align: center;line-height: 26px;background-image: url(/ccc/userKnow/img/icon.png);
    background-repeat: no-repeat;
    background-position: 300px 0;font-weight:normal;}
.content_classify .what_bg{background-image: url(/ccc/userKnow/img/what_bg.png);
    background-repeat: no-repeat;
    background-position: center top;padding-left:420px;margin-top: 115px;height: 407px;}
.content_classify .what_bg p{font-size: 20px;color: #666;width: 458px;text-indent: 2em;}
.content_classify-financial{margin-top: 94px;padding-bottom: 35px;}
.content_classify-financial h2{width:250px;height:30px;background: url(/ccc/userKnow/img/icon.png) -320px 0 no-repeat;}
.content_classify-process h2{width:250px;height:30px;background: url(/ccc/userKnow/img/icon.png) -285px -150px no-repeat;}
.content_classify .what_bg p span{color: #5b9dff;}
.content_classify-process{padding-top: 110px;padding-bottom: 30px;}
.content_classify .process_bg{display: block;margin: auto;margin-top: 94px;}
.content_classify-advantage h2{background-image: url(/ccc/userKnow/img/line4_bg.png);
margin-bottom: 96px;
}
.width100{
    width: 100%;
    background-color: #f5f4f9;
}
.parent{
    position: relative;
    width: 260px;
    height: 30px;
    background-color: #fff;
    border-bottom: 3px solid #14a7eb;
    margin: 0 auto;
    top: -10px;
    margin-bottom:30px;
}
.content_classify-process .parent{
    background-color: #f5f4f9;
}
.content_classify-financial .line,.content_classify-process .line{
    width: 100%;
    height: 1px;
    background-color: #dedede;

}
.content_classify .finacial_bg{display: block;margin: auto;margin-top: 94px;}
.float{
    position: relative;
}
.bac_left,.bac_right{
    display: inline-block;
}
.bac_left{
    width: 595px;
    margin-top: 250px;
    margin-left: 100px;
}
.bac_left .bottom{
    margin-left: 100px;
    margin-top: 90px;
}
.bottom>div{
    display: inline-block;
    vertical-align: bottom;
}
.erweima{
    width: 150px;
    height: 150px;
}
.erweima img{
    vertical-align: bottom;
    width: 100%;
}
.down{
    margin-left: 25px;
}
.down>div:last-child{
    margin-top: 10px;
}
.bac_right{
    width: 600px;
    position: absolute;
    bottom: -210px;
    right: 100px;
}
.bac_right img{
    width: 100%
}
.application{
    width: 800px;
    height: 160px;
    margin: 15px auto;
}
.application>div{
    display: inline-block;
    margin: 0 20px; 
    width: 330px;
    height: 130px;
    background-color: #fff;
}
.application .line{
    width: 40px;
    margin:5px 75px;
    height: 2px;
    background-color:  #14a7eb;
}
.hover:hover .line{
    background-color: #fff;
}
.left2,.left4{
    float: right;
}
.left1 .left{
    background: url('/ccc/userKnow/img/icon.png') 0 0  no-repeat;
}
.left2 .left{
    background: url('/ccc/userKnow/img/icon.png') 0 -450px  no-repeat;
}
.left3 .left{
    background: url('/ccc/userKnow/img/icon.png') 0 -300px  no-repeat;
}
.left4 .left{
    background: url('/ccc/userKnow/img/icon.png') 0 -150px  no-repeat;
}
.left1:hover .left{
    background: url('/ccc/userKnow/img/icon.png') -150px 0  no-repeat;
}
.left2:hover .left{
    background: url('/ccc/userKnow/img/icon.png') -150px -450px  no-repeat;
}
.left3:hover .left{
    background: url('/ccc/userKnow/img/icon.png') -150px -300px  no-repeat;
}
.left4:hover .left{
    background: url('/ccc/userKnow/img/icon.png') -150px -150px  no-repeat;
}
.hover:hover{
    background-color:#00a0e9;
    color: #fff
}
.hover .right{
    margin-top: 45px;
}
.left2 .right{
    margin-top: 35px;
}
.hover .left{
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
}
.flex-box{
    width: 830px;
    margin: 50px auto;
}
.flex-box>div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #00a0e9;
    background-color: #fff;
    border: 5px solid #00a0e9;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-right: 15px;
    display: inline-block;
    padding-top: 37px;
}
.flex-box>div:last-child{
    margin-right: 0;
}
.flex-box>div:hover{
    color: #fff;
    background-color:#00a0e9;
}