<!doctype html>
<link rel="stylesheet" href="/ccc/global/css/base.css" media="all">
<link rel="stylesheet" href="/ccc/register/css/register.css" media="all">
<link rel="stylesheet" href="/ccc/register/css/newstyle.css" media="all">

<!--<script src="/ccc/register/js/main/yz.js"></script>-->
<div class="container">
    <div class="register-body">
        <p class="register-title"><a href="/index">首页</a>>用户注册</p>
        
        <div class="register-body-center">
            <div id="register-container" class="pull-left col-md-6"></div>
            <!--
            <div class="col-md-6 pull-right register-right">
                <img src="/ccc/register/img/register.png"/>
            </div>
-->
        </div>
    </div>
</div>
<script src="/ccc/global.js" async></script>
<script src="/ccc/register/js/main/register.js"></script>
<!--<script src="/ccc/tmp/register/js/main/register.js"></script>-->