
<div id="safety" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </span>
        <span class="col-xs-6 title">安全保障</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <section class="safeguard">
        <h3 class="title">
            <param class="icon icon-safeguard">
            100%本息保障措施
        </h3>

        <div class="content">

            <div class="media">
                <div class="media-left media-middle">
                    <param class="media-object safeguard-icon safeguard-icon-1">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">优质债权</h4>
                    <p class="desc">大型央企、国企及上市公司等的应收账款转让，还款有保障。</p>
                </div>
            </div>

            <div class="media">
                <div class="media-left media-middle">
                    <param class="media-object safeguard-icon safeguard-icon-2">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">回购担保</h4>
                    <p class="desc">融资企业按回购担保协议，承担本息偿还义务。</p>
                </div>
            </div>

            <div class="media">
                <div class="media-left media-middle">
                    <param class="media-object safeguard-icon safeguard-icon-3">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">多重增信</h4>
                    <p class="desc">融资企业法人、股东和外部担保，多重增信。</p>
                </div>
            </div>

        </div>
    </section>

    <section class="control">
        <h3 class="title">
            <param class="icon icon-control">
            完善的风控机制
        </h3>

        <div class="content">
            中融钱邦把大型信托公司的风控机制嫁接到平台项目上来，对每一个项目进行严格的风险控制，全面保障投资人的利益。
            <div class="img-wrap">
                <img class="img-responsive" ng-src="assets/image/safety/risk-control.png">
            </div>
        </div>
    </section>

    <section class="deposit">
        <h3 class="title">
            <param class="icon icon-deposit">
            真正的资金托管
        </h3>

        <div class="content">
            投资资金由第三方支付公司汇付天下进行托管，信息流和资金流完全独立，保障资金安全。
        </div>
    </section>

    <section class="transparent">
        <h3 class="title">
            <param class="icon icon-transparent">
            信息透明
        </h3>

        <div class="content">
            对于每位投资者所投资金，均直接对应投资标的，资金流向清晰可溯，平台不存在期限错配风险。
        </div>
    </section>

    <section class="cooperation">
        <h3 class="title">
            <param class="icon icon-cooperation">
            专业的合作机构
        </h3>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <img width="118" ng-src="assets/image/safety/king-capital.jpg">
                        法律服务
                    </div>
                    <div class="col-xs-6">
                        <img width="116" class="pnr" ng-src="assets/image/safety/pnr.jpg">
                        资金托管
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="security">
        <h3 class="title">
            <param class="icon icon-security">
            信息安全系统
        </h3>

        <div class="content">
            <dl class="dl-horizontal">
                <dt>IT系统安全</dt>
                <dd>银行级安全防护架构，冗余灾备设计保证系统稳定可靠。</dd>
                <dt>数据安全</dt>
                <dd>多重技术手段实现数据存储和访问隔离，采用领先的通信加密以及数据加密技术确保信息安全。服务器24小时监控，实时备份。</dd>
                <dt>隐私安全</dt>
                <dd>平台采取多重多维度的隐私保护机制，严格保护用户的隐私信息。</dd>
            </dl>
        </div>
    </section>

</div>
