<!-- 开通托管支付 -->
{{#if !authenticated}}
<div class="open-account-wrapper">

    <!-- 尚未开户提醒 -->
    <div class="errorNotOpenedYet">
        <span class="glyphicon glyphicon-exclamation-sign exclamation"></span> 您尚未进行实名认证，未实名认证将无法进行，绑卡、充值、提现、投资等操作。
    </div>

<!--
    <p class="warn-text">
        实名认证操作关系到您的切身利益,填写本人真实信息,保护好帐号安全
    </p>
-->

    <div class="account-form-wrapper">
        <form action="#" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">

                    {{#if showErrorMessage}}
                    <div class="error-message">
                        <span class="glyphicon glyphicon-exclamation-sign exclamation"></span>
                        {{ errorMessage }}
                    </div>
                    {{/if}}

                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-2 control-label">真实姓名</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="name" value="{{ name }}" />
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-2 control-label">身份证号</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="idNumber" value="{{ idNumber }}" />
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
<!--
                    <div class="text">
                        以上信息将用于您的账户的实名认证
                        <br />真实姓名需与您用于提现的银行卡账户名一致。请务必认真，如实填写。
                    </div>
-->

                    <div class="agreement-wrapper">
                        <input type="checkbox" checked="{{ licenseAgreed }}" />我已阅读并同意
                        <a href="#" on-click="maskDepositAgreement">《奇乐融实名认证协议》</a>
                    </div>

                    <div>
                        <input type="button" value="立即认证" on-click="register-account-submit" class="btn btn-success"
                        />
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>
{{else}}
<!-- 已绑定 -->
<div class="account-opened-notice">
    <div class="tips">
        <span class="glyphicon glyphicon-exclamation-sign exclamation"></span> 重要提示：实名认证操作关系到您的切身利益，请保护好帐号安全
    </div>
</div>
<div class="account-opened-wrapper">    

    <div class="account-info-row">
        <label for="" class="text">真实姓名</label>
        <span class="value">{{format.mask(authenticateInfo.name)}}</span>
    </div>
    <div class="account-info-row">
        <label for="" class="text">身份证号</label>
        <span class="value">{{authenticateInfo.idNumber}}</span>
    </div>
</div>
    <p class="tips" style="color:red;">为了保障投资人资金的安全性，以及保证投资人是年满18岁的具有完全民事行为能力的自然人，从而保证借贷合同的有效性，要求所有投资人必须通过身份认证。身份认证过程简便，且认证信息只用于核实用户身份，奇乐融对于所有资料将严格保密。 </p>
{{/if}}
<div id="deposit-agreement-wraper">

</div>
