
body{background-color: #f3f4f6;}
.banner{width: 10rem; margin: 0 auto;}
.bannerImg{width: 10rem;height: 4.6133333333rem;background-size: contain;background-image:url(../../assets/image/act/newUserBanner.jpg)}
.lvye{width: 10rem;height: 4.6133333333rem;background-size: contain;background-image:url(../../assets/image/act/lvye.png)!important;}
.i520{width: 10rem;height: 4.6133333333rem;background-size: contain;background-image:url(../../assets/image/act/520.jpg)!important;}
.sider{width:3.72rem;margin-left: 0.2rem; height: 0.7333333333rem; overflow: hidden;display: inline-block; vertical-align: middle;  position: relative;}
.sider img{width:3.72rem; position: absolute;top: 0;}
.kefu{display: inline-block; }
.kefuImg{width: 0.5333333333rem;height: 0.5333333333rem;display: inline-block; background-image: url(../../assets/image/act/phoneIcon.png);background-size: contain; vertical-align: middle; margin-right: 0.1rem;}
.kefu a{color: #666;display: inline-block;vertical-align: middle;}
.row {background-color: #f3f4f6;width: 10rem;height: 1.3333333333rem;font-size:0.1866666667rem;padding:0 0.5rem; margin: 0 auto;}
.row span{display: inline-block;vertical-align: middle; line-height: 1.3333333333rem;}
.signBox{background-color: #dbdbdb;width: 10rem;text-align: center;padding: 0.52rem 0; margin: 0 auto;}
.inforDiv{margin-bottom: 0.3733333333rem;}
.inforDiv input[type="text"],.inforDiv input[type="password"]{-webkit-appearance:none;appearance:none;border-radius: 0;width: 8.96rem;height: 1.2533333333rem;text-align: left;padding: 0.5733333333rem; border: none;}
.inforDiv input.mesInp{width:5.3333333333rem; vertical-align: middle;}
.inforDiv input.yanzhengmaInp{width: 3.9733333333rem; vertical-align: middle;}
.getCode{width: 3.32rem;border: 1px solid #5b9dfe;display: inline-block;vertical-align: middle; margin-left: 0.2933333333rem; color: #5b9dfe;padding: 0.3466666667rem 0;text-align: center;}
.inforDiv .yanzhengmaInp,.inforDiv .mesInp{display: inline-block;}
.signBox .btn{-webkit-appearance:none;appearance:none;border: none; background-color: #5b9dfe; text-align: center;padding: 0.3733333333rem 0;width:8.96rem;color: #fff; }
.yanzhengma{width:2.76rem;margin-left: 0.3rem; height: 1.2533333333rem;background-color: #fff;display: inline-block; vertical-align: middle;}
.changeBtn{display: inline-block;width: 1.7rem;text-align: center; vertical-align: middle; color:#5b9dfe;text-decoration: underline;margin-left: 0.2rem; }
.agree{width: 0.56rem;height: 0.56rem;border: none;border-radius: 0; -webkit-appearance:none;appearance:none;background-color: #fff; display: inline-block;vertical-align: middle;}
.agree:checked{background-color: #000; background-image: url(../../assets/image/act/gou.png);background-size: contain;background-repeat: no-repeat;}
.xieyiWord {display: inline-block;vertical-align: middle;margin-left: 0.3rem;}




.box{width: 10rem;margin: auto;margin-top: 0.3466666667rem;padding: 0.3333333333rem;background-color: #fff;}
.box .tit{/*position: relative;*/border-top: 1px solid #000;width: 4.4533333333rem;height: 0.32rem;margin: auto;text-align: center;}
.box .huhangTit{width: 6.4533333333rem}
.box .tit span{position: relative;padding: 0.16rem 0.4266666667rem;background-color: #fff;top: -0.2133333333rem;color: #072a68;}
.libao{display: block;text-align: center;}
.libaoWord{display: inline-block; vertical-align: bottom;text-align: center;height: 1.5433333333rem;background-color: #f3f4f6;width: 5.92rem; padding: 0.1rem 0;  margin-bottom: 0.2rem; color: #7e7e7e;}
.lbTit{ color: red;}
.youShi,.guwen,.huhang{-webkit-box-flex:1.0;box-flex:1.0; text-align: center; margin-bottom: 0.6rem;}
.huhang{margin-top: 0.3rem}
.youShi .imgIcon{margin:0 auto; margin-bottom: 13px; width: 2.0266666667rem;height:2.0266666667rem;background-repeat: no-repeat;background-image: url(../../assets/image/act/youshi.png);  background-size: 200% 300%;}
.shouyi{background-position: 0 0;}
.feiyong{background-position:100% 0%;}
.menkan{background-position: 0 50%;}
.xinyu{background-position: 100% 50%}
.shili{background-position: 0 100%}
.qixian{background-position: 100% 100%}
.libao .imgIcon{display: inline-block;vertical-align: middle; width: 2.6rem;height: 2.1333333333rem; background-repeat: no-repeat;background-repeat: no-repeat; background-size: contain;background-repeat: no-repeat;}
.libao .yibai{background-image: url(../../assets/image/act/yibai.png);}
.libao .liubai{background-image: url(../../assets/image/act/liubai.png);}
.libao .wuyi{background-image: url(../../assets/image/act/wuyi.png);}
.guwen .imgIcon{width: 2.0533333333rem;height: 2.0533333333rem;background-repeat: no-repeat;background-image: url(../../assets/image/act/touxiang.png);margin: 0 auto;  background-size: 400% 96%;}
.guwen{margin-top: 0.5rem;}
.guwen div{margin-top: 0.2rem;}
.linhua{background-position: 0 0;}
.wanghong{background-position: 33.33% 0;}
.wutian{background-position: 66% 0;}
.guowei{background-position: 98.5% 0;}

.huhang .imgIcon{display: inline-block;vertical-align: middle; background-image: url(../../assets/image/act/huhang.png); background-size: 535%;}
.huhang .imgIcon{width: 2.0533333333rem;height: 2.0533333333rem;background-repeat: no-repeat;}
.qianwan{background-position: 91% 0;}
.jishu{background-position: 23% 0;}
.falv{background-position: 46% 0;}
.fengkong{background-position: 68% 0;;}
.laiyuan{background-position: 0 0;}
.huhangDes div{margin-top: 0.2rem; color: #7e7e7e;}
.youShi{margin-top: 0.2rem;}
.youShi div{margin-bottom: 0.1rem;}
.youshi .f12{color: #7e7e7e;}
#mobile,#password{-webkit-appearance: none;appearance: none;border-radius: 0;width: 8.96rem;height: 1.2533333333rem;text-align: left;padding: 0.5733333333rem;border: none; margin: 0 auto;}
#mobile_captcha{width: 5.3333333333rem;vertical-align: middle;-webkit-appearance: none;appearance: none;border-radius: 0;height: 1.2533333333rem;text-align: left;padding: 0.5733333333rem;border: none; display: inline-block;}
.form-control-wrap .btn{width: 3.32rem;border: 1px solid #5b9dfe;display: inline-block;vertical-align: middle;margin-left: 0.2933333333rem;padding: 0.3466666667rem 0;text-align: center;-webkit-appearance: none;appearance: none;}
.form-horizontal .form-group{text-align: center;}
#signBtn{  width: 9rem;margin: 0 auto;}
.agreement{text-align: center;}
.guwen div:last-child{color: #7e7e7e;}
