
<div id="dashboard-payment-ump-register" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard"><param class="glyphicon glyphicon-menu-left">取消</a>
        <span class="col-xs-6 title">开通托管账户</span>
        <span class="col-xs-3">&nbsp;</span>
    </div>
    </nav>

    <param ng-model="msg.success" ng-init="msg.success = '托管账户开通成功，请前往签订快速投资协议'">

    <form class="form-horizontal" name="form" novalidate
          ng-submit="self.submit(fullname, id_number)"
    >
        <div class="multi-line-container">
            <div class="multi-line-container-item">
                <div class="form-group">
                    <label class="col-xs-4 control-label title">真实姓名</label>
                    <div class="col-xs-8 row">
                        <input class="form-control input-sm"
                               type="text"
                               name="fullname"
                               ng-model="fullname"
                               minlength="2"
                               maxlength="15"
                               pattern="[\u4E00-\u9FBF]{2,15}"
                               required
                        >
                    </div>
                </div>
            </div>

            <div class="multi-line-container-item">
                <div class="form-group">
                    <label class="col-xs-4 control-label title">身份证号</label>
                    <div class="col-xs-8 row">
                        <input class="form-control input-sm"
                               type="text"
                               name="id_number"
                               ng-model="id_number"
                               minlength="18"
                               maxlength="18"
                               pattern="\d{17}."
                               required
                        >
                    </div>
                </div>
            </div>
        </div>

        <p class="container">
            <button class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    ng-disabled="form.$invalid || self.submit_sending"
            >
                <span ng-if="form.$invalid">请输入正确的姓名及证号</span>
                <span ng-if="!form.$invalid">提交</span>
            </button>
        </p>
    </form>

</div>
