{{>layouts.default.head}}
<link rel="stylesheet" href="/assets/css/access/login.css">
<link rel="stylesheet" href="/assets/css/access/register.css" />
<link rel="stylesheet" href="/ccc/loan/css/detail.css">
<link rel="stylesheet" href="/assets/css/modules/cccCalculator.css">
{{>layouts.default.header}}

<div class="">
    <div class="current-container">
        <div class="invest-data-wrapper">
            <div class="investContainer">
                <div class="h20"></div>
                <div class="investTitle">
                    <!-- <div class="serial">ID:230193</div> -->
                    <div class="title" style="height:40px;line-height:40px;">{{loans.title}}</div>
                </div>
                <div class="content">
                    <div class="h30"></div>
                    <div class="inner">
                        <div class="item">
                            <div class="name" style="text-indent:0">年化利率</div>
                            <div class="value" style="text-indent:0">{{loans.rate}}%</div>
                        </div>
                        <div class="item">
                            <div class="name">总投资金额</div>
                            <div class="value">{{loans.amount}}<span style="font-size:16px;">{{loans.aUnit}}</span></div>
                        </div>
                        <div class="item" style="border-right:none">
                            <div class="name">借款期限</div>
                            <div class="value">{{loans.fduration}}<span style="font-size:16px;">{{loans.fdurunit}}</span></div>
                        </div> 
<!--
                        <div class="item" style="border-right:none">
                            <div class="name">剩余可投金额</div>
                            <div class="value">{{loans.leftAmount}}<span style="font-size:16px;">{{loans.amountUnit}}</span></div>
                        </div>
-->
                    </div>
                    <div class="h30"></div>
                    <div class="innerBottom">
                        <div class="left">
                            <div class="itemt">发布时间 : &nbsp;&nbsp;&nbsp;{{loans.loanRequest.timeSubmit}}</div>
                            <div class="itemt">还款方式 : &nbsp;&nbsp;&nbsp;{{loans.method}}</div>
                        </div> 
                        <div class="right">
                            <div class="itemt">项目进度 :  
                                <div class="percentWrapper">
                                    <div class="percent" style="width:{{ loans.investPercent }}%"></div>
                                    <div class="realPercent">{{ loans.investPercent }}%</div>
                                </div>
                            </div>
                            <div class="itemt">
                                保障方式 : 100%本金 + 利息
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h20"></div>
<!--
                <div class="loanbottom">
                    <span class="swra">
                        <span class="yel circle"></span>{{ loans.method}} 
                    </span>
                    <span class="swra">
                        <span class="red circle"></span>保障本息
                    </span>
                </div>
-->
                
            </div>
        </div>

        <div class="do-invest-wrapper">

        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- <div class="invest-info-wrapper">
    <div class="current-container">
        <div class="invest-info">
            <div class="text-invest-info">项目信息</div>
            <div class="info">
                <ul class="col-1">                   
                    <li><span class="text">项目编号</span><span class="value">{{loans.loanRequest.serial}}</span>
                    </li>
                    <li><span class="text">合同编号</span><span class="value">{{loans.contractCode }}</span>
                    </li>
                    <li><span class="text">所在区域</span><span class="value">{{loans.location}}</span>
                    </li>
                    <li><span class="text">行业类别</span><span class="value">{{loans.industry}}</span>
                    </li>
                    <li><span class="text">借款用途</span><span class="value">{{loans.purpose}}</span>
                    </li>
                </ul>

                <ul class="col-2">
                    <li><span class="text">借款申请日</span><span class="value">{{loans.loanRequest.timeSubmit}}</span>
                    </li>
                    <li><span class="text">借款成立日</span><span class="value">{{loans.timeSettled}}</span>
                    </li>
                    <li><span class="text">借款到期日</span><span class="value">{{loans.borrowDueDate}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="insurance-info">
            <div class="text-related-data">相关资料</div>
            <div class="insurance-wrapper">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div> -->
<div class="invest-detail-wrapper">
    <div class="current-container scontent">
        <ul class="nav nav-tabs" style="background:#fff;">
             <li role="presentation" class="active" data-step='2'><a href="###">项目信息</a>
            </li>
            <li role="presentation" data-step='0'><a href="###">还款计划</a>
            </li>
            <li role="presentation" class="" data-step='1'><a href="###">投资记录</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="tab-panels">
            <div class="tab-panel">
                <table class="table repay-plan">
                    <thead>
                        <th>期次</th>
                        <th>预期还款时间</th>
                        <th>应收本息(元)</th>
                        <th>应收本金(元)</th>
                        <th>应收利息(元)</th>
                        <th>剩余本金(元)</th>
                    </thead>
                    {{#replay}}
                    <tr>
                        <th>{{@index + 1}}</th>
                        <th>{{dueDate}}</th>
                        <th class="col-current-period">{{amount}}</th>
                        <th>{{amountPrincipal}}</th>
                        <th>{{amountInterest}}</th>
                        <th>{{amountOutstanding}}</th>
                    </tr>
                    {{/replay}}
                </table>
            </div>
            <div class="tab-panel">
                <table class="table repay-plan">
                    <thead>
                        <th>成交时间</th>
                        <th>投资人</th>
                        <th>投资金额(元)</th>
                    </thead>
                    {{#invests}}
                    <tr>
                        <th>{{submitTime}}</th>
                        <th>{{userLoginName}}</th>
                        <th>{{amount}}</th>
                    </tr>
                    {{/invests}}
                </table>
            </div>
            <div class="tab-panel active">
                <div class="loanInfoWrapper">
                    <div class="loanInfo">
                        <div class="eventItem">项目基本信息</div> 
                        <div class="eventCont">{{loans.loanRequest.description}}</div>
                        <div class="eventItem">担保情况说明</div> 
                        <div class="eventCont">{{loans.loanRequest.guaranteeInfo}}</div>
                        <div class="eventItem">风险信息及措施</div> 
                        <div class="eventCont">{{loans.loanRequest.riskInfo}}</div>       
                    </div>
                    <div class="loanInfoImg">
                        <div class="insurance-info">
<!--                            <div class="text-related-data">相关资料</div>-->
                            <div class="insurance-wrapper">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="h30"></div>

<div id="big-pic-container">
    
</div>
{{>layouts.default.footer}}
<script>
    {{{state}}}
</script>
<script>
    CC.loan = {
        rule: {
            min: {{loans.loanRequest.investRule.minAmount}},
            max: {{loans.loanRequest.investRule.maxAmount}},
            step: {{loans.loanRequest.investRule.stepAmount}},
            balance: {{loans.balance}},
            dw: '{{loans.amountUnit}}',
            leftAmount : {{loans.leftAmount}}
        },
        title: '{{loans.title}}',
        investPercent: {{loans.investPercent}},
        amount: {{loans.amount}},
        cAmount: '{{loans.amount}}{{loans.aUnit}}',
        investAmount: {{loans.investAmount}},
        timeLeft: '{{loans.timeLeft}}',
        status: '{{loans.status}}',
        id: '{{loans.id}}',
        requestId: '{{loans.loanRequest.id}}',
        timeElapsed: '{{loans.timeElapsed}}',
        duration: '{{loans.months}}',
        bidNumber: {{loans.bidNumber}},
        timeOpen: {{loans.timeOpen}},
        serverDate: {{loans.serverDate}}
    };
</script>
<script src="/js/main/investDetail.js"></script>

