<link rel="stylesheet" href="/ccc/global/css/access/login.less">
<link rel="stylesheet" href="/ccc/global/css/access/register.less">

<link rel="stylesheet" href="/ccc/global/css/modules/cccCalculator.css">
<link rel="stylesheet" href="/ccc/loan/css/detail.css">
<div class="">
    <div class="current-container">
        <p class="detailTitle"><a href="/index">首页</a> > <a href="/invest">投资列表 </a> > 标的详情</p>
        <div class="invest-data-wrapper">
            <div class="investContainer">
                <!--                <div class="h20"></div>-->
                <div class="investTitle">
                    <!-- <div class="serial">ID:230193</div> -->
<!--                                        <a >借贷协议（范本）</a>-->
                    
                    
                    <div class="time"><span>剩余时间：<i>{{loans.timeLeft.dd}}</i>日<i>{{loans.timeLeft.hh}}</i>小时<i>{{loans.timeLeft.mm}}</i>分<i>{{loans.timeLeft.ss}}</i>秒</span>
                    </div>
                    <!--                    </div>-->

                    <div class="title" style="height:52px;line-height:52px;"><img src="/ccc/loan/img/money.png" />{{loans.title}}</div>

                </div>
                <div class="content">
                    <div class="inner">
                        <div class="item itemSecond">
                            <div class="name"><img src="/ccc/loan/img/limit.png" />借款期限:</div>
                            <div class="value">{{loans.fduration}}<span>{{loans.fdurunit}}</span>
                            </div>
                        </div>
                        <div class="item itemThird" style="border-right:none">
                            <div class="name"><img src="/ccc/loan/img/loanAmount.png" />借款总额:</div>
                            <div class="value">{{loans.amount}}<span>{{loans.aUnit}}</span>
                            </div>
                        </div>
                        <div class="item itemFirst">
                            <div class="name"><img src="/ccc/loan/img/detailRate.png" />年化收益率:</div>
                            <div class="value">{{loans.rate}}<span>%</span>
                            </div>
                        </div>



                        <!--
                        <div class="item" style="border-right:none">
                            <div class="name">剩余可投金额</div>
                            <div class="value">{{loans.leftAmount}}<span style="font-size:16px;">{{loans.amountUnit}}</span></div>
                        </div>
-->
                    </div>
                    <div class="innerBottom">

                        <ul class="loanMethod">
                            <li>
                                <div class="itemt">
                                    还款方式 : &nbsp;&nbsp;&nbsp;{{loans.method}}</div>
                            </li>
                            <li>
                                <div class="itemt">
                                    已投人数 : {{loans.bidNumber}}人<span class="leftAmount">剩余可投金额：<span>{{loans.leftAmount}}</span>元</span></div>
                            </li>
                            <li>
                                <p><a class="protocol" target="_blank" href="/agreement/mobile/protocol">借款协议/合同文本</a></p>
                            </li>

                        </ul>                        
                        
                            <div class="itemt" style="float:left;margin-left:170px">
                                <span class="processFont">项目进度</span>
                                <div class="process">
        <div class="rate-chart">
            <div class="easy-pie-chart pie " data-percent="{{ loans.investPercent }}" style="top:9px">
                <span class="percentageNum">{{ loans.investPercent }} </span>
            </div>
        </div>
    </div>
                            </div> 
                    </div>
                   
                </div>
                 
                <div class="h20"></div>

            </div>
        </div>

        <div class="do-invest-wrapper">

        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- <div class="invest-info-wrapper">
    <div class="current-container">
        <div class="invest-info">
            <div class="text-invest-info">项目信息</div>
            <div class="info">
                <ul class="col-1">                   
                    <li><span class="text">项目编号</span><span class="value">{{loans.loanRequest.serial}}</span>
                    </li>
                    <li><span class="text">合同编号</span><span class="value">{{loans.contractCode }}</span>
                    </li>
                    <li><span class="text">所在区域</span><span class="value">{{loans.location}}</span>
                    </li>
                    <li><span class="text">行业类别</span><span class="value">{{loans.industry}}</span>
                    </li>
                    <li><span class="text">借款用途</span><span class="value">{{loans.purpose}}</span>
                    </li>
                </ul>

                <ul class="col-2">
                    <li><span class="text">借款申请日</span><span class="value">{{loans.loanRequest.timeSubmit}}</span>
                    </li>
                    <li><span class="text">借款成立日</span><span class="value">{{loans.timeSettled}}</span>
                    </li>
                    <li><span class="text">借款到期日</span><span class="value">{{loans.borrowDueDate}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="insurance-info">
            <div class="text-related-data">相关资料</div>
            <div class="insurance-wrapper">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div> -->
<div class="invest-detail-wrapper">
    <div class="current-container scontent">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active" data-step='2'><a href="###">企业信息</a>
            </li>
            <li role="presentation" data-step='0'><a href="###">风控信息</a>
            </li>
            <li role="presentation" class="" data-step='1'><a href="###">投资记录</a>
            </li>
             <li role="presentation" class="" data-step='3'><a href="###">还款计划</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="tab-panels">
            <div class="tab-panel">
                <table class="table repay-plan">
                    <!--
                    {{#replay}}
                    {{/replay}}
-->
                </table>
            </div>
            <div class="tab-panel">
                <table class="table repay-plan repay-record">
                    <thead>
                        <th style="border-top-left-radius: 3px;">投标人</th>
                        <th>投标金额(元)</th>
                        <th style="border-top-right-radius: 3px;">投标时间</th>
                    </thead>
                    {{#invests}}
                    <tr>
                        <th>{{userLoginName}}</th>
                        <th>{{amount}}</th>
                        <th>{{submitTime}}</th>

                    </tr>
                    {{/invests}}
                </table>
            </div>
            <div class="tab-panel active">
                <div class="loanInfoWrapper">
                    <div class="loanInfo">
                        <div class="eventItem">项目基本信息</div>
                        <div class="eventCont">{{loans.loanRequest.description}}</div>
                        <!--<div class="eventItem">担保情况说明</div> 
                        <div class="eventCont">{{loans.loanRequest.guaranteeInfo}}</div>-->
                        <div class="eventItem">安全保障措施</div>
                        <div class="eventCont">{{loans.loanRequest.riskInfo}}</div>
                    </div>
                    <div class="loanInfoImg">
                        <div class="insurance-info">
                            <!--                            <div class="text-related-data">相关资料</div>-->
                            <div class="insurance-wrapper">
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="clearfix"></div>-->
                </div>
            </div>
            <div class="tab-panel">
                               <table class="table repay-plan repay-record">
                    {{#if user}}
                    <thead>
                        <th style="border-top-left-radius: 3px;">成交时间</th>
                        <th>投资人</th>
                        <th style="border-top-right-radius: 3px;">投资金额(元)</th>
                    </thead>
                    {{#invests}}
                    <tr>
                        <th>{{submitTime}}</th>
                        <th>{{userLoginName}}</th>
                        <th>{{amount}}</th>
                    </tr>
                    {{/invests}}
                           {{else}}
                    <div class="notLogin">
                    <p>用户详情</p>
                    <p>请 <a href="/login" style="color:#003690;">登录</a> 或 <a href="/register" style="color:#ff6c08;">注册</a> 后查看</p>
                        </div>
                    {{/if}}
                </table>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    
<!--    {{JSON.stringify(loans)}} -->
    <div class="detailBanner">
<!--
        <img src="/ccc/loan/img/detail-banner-top.png" />
        <img src="/ccc/loan/img/detail-banner-bottom.png" />
-->
    </div>
</div>

<div class="h30"></div>

<div id="big-pic-container">

</div>
<script>
    {{{state}}}
</script>
<script>
    CC.loan = {
        rule: {
            min: {{loans.loanRequest.investRule.minAmount}},
            max: {{loans.loanRequest.investRule.maxAmount}},
            step: {{loans.loanRequest.investRule.stepAmount}},
            balance: {{loans.balance}},
            dw: '{{loans.amountUnit}}',
            leftAmount: {{loans.leftAmount}}
    },
        title: '{{loans.title}}',
        investPercent: {{loans.investPercent}},
        originalAmount: {{loans.originalAmount}},
        amount: {{loans.amount}},
        cAmount: '{{loans.amount}}{{loans.aUnit}}',
        investAmount: {{loans.investAmount}},
        timeLeft: '{{loans.timeLeft}}',
        status: '{{loans.status}}',
        id: '{{loans.id}}',
        requestId: '{{loans.loanRequest.id}}',
        timeElapsed: '{{loans.timeElapsed}}',
        duration: '{{loans.months}}',
        bidNumber: {{loans.bidNumber}},
        timeOpen: {{loans.timeOpen}},
        totalInterest: {{totalInterest || 0}},
        serverDate: {{loans.serverDate}}
    };
</script>
<script src="/ccc/loan/js/main/investDetail.js"></script>
<script src="/ccc/loan/js/main/img.js"></script>
