{{#HIDE}}
<div id="mask-layer-wraper">
</div>
<div id="login-wraper">
</div>
<div id="register-wraper">

</div>
<div id="service-agreement-wraper">
</div>
<div id="regist-agreement-wraper">
</div>
<div class="footer">
    <div class="bottom-nav">
        <ul>
            <li>
                <a href="/help">帮助中心</a>
            </li>
            <li>
                <a href="/info/index">关于我们</a>
            </li>
            <li>
                <a href="/info/contactus">联系我们</a>
            </li>
            <li>
                <a href="/info/policy">相关政策</a>
            </li>
            <li>
                <a href="/info/recruit">加入我们</a>
            </li>
        </ul>
    </div>

    <div class="bottom-contact">
        <div class="contact-content">
            <div class="column">
                <div class="col-left col">
                    <img src="/assets/img/logo.png" alt="">
                </div>

                <div class="col-mid col">
                    <p class="service-time">
                        工作日上午9:30 - 下午6:30
                    </p>
                    <p>
                        <span class="tel">400-990-8815</span>
                    </p>
                    <div class="space space-10"></div>
                </div>

                <div class="col-right col">
                    <a href="http://www.umpay.com/" target="_blank" class="logo logo2">

                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="copyright">
            Copyright © 2011 爱当宝信息咨询（北京）有限公司 版权所有. 京ICP证140428号
        </div>
    </div>
</div>
<script type="text/javascript" src="//tajs.qq.com/stats?sId=40134159" charset="UTF-8"></script>
{{/HIDE}}


<div id="mask-layer-wraper">
</div>
<div id="login-wraper">
</div>
<div id="register-wraper">

</div>
<div id="service-agreement-wraper">
</div>
<div id="regist-agreement-wraper">
</div>

<script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
<script type="text/javascript">
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4001000099, selector: 'BizQQWPA1'});
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4001000099, selector: 'BizQQWPA2'});
</script>
<div class="s-footer">
    <div class="s-footer-nav">
        <div class="s-footer-nav-content u-pos-r-center">
            <ul class="u-nolist-ul s-footer-nav-item ssfooter">
                <li><a href="/info/index">关于我们</a></li>
                <li><a href="/help">新手指引</a></li>
                <li><a href="/help/account">帮助中心</a></li>
                <li><a href="/safe">安全保障</a></li>
                <li class="s-footer-nav-item__right" style="margin-right:0">在线客服
                    <div class="chatWithServer" id="BizQQWPA1"></div>
                </li>
            </ul>
            <ul class="u-nolist-ul-normal">
                <li class="s-footer-nav-item__big">400 100 0099</li>
                <li>工作时间: 9:00-21:00</li>
            </ul>
            <ul class="u-nolist-ul s-footer-link" style="height:75px;line-height:75px;">
                <li class="at-us"><span>关注我们</span></li>
                <li style="margin-right:15px;position:relative;bottom:15px;">
                    <a href="http://weibo.com/jiuxinfinance" target="_blank">
                        <div class="s__top15 bottomWb" ></div>
                    </a>
                </li>
                <li style="margin-right:15px;position:relative;bottom:15px;">
                    <div class="s__top15 bottomWs"></div>
                    <img class="dropdown" style="position: absolute;top: 15px; display: none;" src="/assets/img/2wm.jpg" width="150" title="九信金融" alt="九信金融" />
                </li>
            </ul>
            
            <ul class="u-nolist-ul friendLink">
                <li class="at-us"><span>友情链接</span></li>
                <div class="linkWra">
                    <dl>
                        <dd><a href="http://www.jdcapital.com" target="_blank">九鼎投资</a></dd>
                        <!-- <dd><a href="http://www.jtamc.com/" target="_blank">九泰基金</a></dd>
                        <dd><a href="http://www.tyzq.com.cn/">九州证券</a></dd> -->
                    </dl> 
                    <dl>
                        <dd><a href="http://www.jtamc.com/" target="_blank">九泰基金</a></dd>
                        <!-- <dd><a href="#">财经道</a></dd>
                        <dd><a href="#">网贷之家</a></dd> -->
                    </dl>
                     <dl>
                        <dd><a href="http://www.tyzq.com.cn/"  target="_blank">九州证券</a></dd>
                        <!-- <dd><a href="#">电商服务</a></dd>
                        <dd><a href="#">挖财社区</a></dd> -->
                    </dl>
                    <dl>
                        <dd><a href="http://www.chenxingplan.com/"  target="_blank">晨星成长计划</a></dd>
                    </dl>
                    <dl>
                        <dd><a href="http://www.creditcloud.com/"  target="_blank">云信</a></dd>
                    </dl>
                    <!--  <dl>
                        <dd><a href="#">好贷网</a></dd>
                        <dd><a href="#">ShopEx</a></dd>
                        <dd><a href="#">随手记</a></dd>
                    </dl>
                     <dl>
                        <dd><a href="#">银率网</a></dd>
                        <dd><a href="#">58投资担保</a></dd>
                        <dd><a href="#">融360理财</a></dd>
                    </dl>
                     <dl>
                        <dd><a href="#">和讯银行</a></dd>
                    </dl> -->
                </div>
            </ul>
        </div>
    </div>

    <div class="s-footer-info">
        <div class="s-footer-info-content u-pos-r-center">
            <p>Copyright ©  2015 jiuxinfinance 九信金融版权所有</p>
            <div class="s-footer-info-remarks">
                <p>京ICP备1500821号</p>
            </div>
        </div>
    </div>
</div>

<!-- symantec证书的签章代码 -->
<div id="symantecSeal" style="text-align:center;" title="单击即可验证 - 该站点选择 Symantec SSL 实现安全的电子商务和机密通信">
    <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.jiuxinfinance.com&amp;size=S&amp;use_flash=YES&amp;use_transparent=NO&amp;lang=zh_cn"></script>
</div>

<!--
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?63b2565d3a9cd44e576abfe2fd84492e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>-->
