{{#HIDE}}
<div id="mask-layer-wraper">
</div>
<div id="login-wraper">
</div>
<div id="register-wraper">

</div>
<div id="service-agreement-wraper">
</div>
<div id="regist-agreement-wraper">
</div>
<div class="footer">
    <div class="bottom-nav">
        <ul>
            <li>
                <a href="/help">帮助中心</a>
            </li>
            <li>
                <a href="/info/index">关于我们</a>
            </li>
            <li>
                <a href="/info/contactus">联系我们</a>
            </li>
            <li>
                <a href="/info/policy">相关政策</a>
            </li>
            <li>
                <a href="/info/recruit">加入我们</a>
            </li>
        </ul>
    </div>

    <div class="bottom-contact">
        <div class="contact-content">
            <div class="column">
                <div class="col-left col">
                    <img src="/assets/img/logo.png" alt="">
                </div>

                <div class="col-mid col">
                    <p class="service-time">
                        工作日上午9:30 - 下午6:30
                    </p>
                    <p>
                        <span class="tel">400-990-8815</span>
                    </p>
                    <div class="space space-10"></div>
                </div>

                <div class="col-right col">
                    <a href="http://www.umpay.com/" target="_blank" class="logo logo2">

                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="copyright">
            Copyright © 2011 爱当宝信息咨询（北京）有限公司 版权所有. 京ICP证140428号
        </div>
    </div>
</div>
<script type="text/javascript" src="//tajs.qq.com/stats?sId=40134159" charset="UTF-8"></script>
{{/HIDE}}



<div class="s-footer">
    <div class="s-footer-nav">
        <div class="s-footer-nav-content u-pos-r-center">
            <ul class="u-nolist-ul s-footer-nav-item ssfooter">
                <li><a href="/about">关于我们</a></li>
                <li><a href="/help">新手指引</a></li>
                <li><a href="/help/account">帮助中心</a></li>
                <li><a href="/about">九信金融</a></li>
                <li class="s-footer-nav-item__right">在线客服
                    <img src="/assets/img/message.png" />
                </li>
            </ul>
            <ul class="u-nolist-ul-normal">
                <li class="s-footer-nav-item__big">400 000 0000</li>
                <li>工作时间: 9:00-18:00</li>
            </ul>
            <ul class="u-nolist-ul s-footer-link">
                <li class="at-us"><span>关注我们</span></li>
                <li>
                    <img class="s__top15" src="/assets/img/sina.png" />
                </li>
                <li>
                    <img class="s__top15" src="/assets/img/wechat.png" />
                </li>
            </ul>
        </div>
    </div>

    <div class="s-footer-info">
        <div class="s-footer-info-content u-pos-r-center">
            <p>九信金融－理财/理贷/理人生 ｜ Copyright 2015jiuxinfinance.com</p>
            <div class="s-footer-info-remarks">
                <p>京ICP备1500821号</p>
                <p>投资有风险，购买须谨慎</p>
            </div>
        </div>
    </div>
</div>