<!-- 导航开始 -->
<div class="s-header">
    <div class="s-header-info">
        <div class="s-header-info-content u-pos-r-center">
            <a href="/help/account" class="helpcenter"><span class="yuan">?</span>帮助中心</a>
            {{#if !user.loginName}}
            <a href="/register" style="border:none">注册</a>
            <a href="/login">登录</a>
            {{else}}
            <a href="/logout" style="border:none">退出</a>
            <a href="/account">{{user.loginName}}</a>
            {{/if}}
        </div>
    </div>
    <div class="s-header-menu">
        <div class="s-header-menu-content u-pos-r-center">
            <a href="/" style="float:left">
                <img class="s-icon" src="/assets/img/jxlogo.png">
            </a>
            <div class="hot">
                <div class="title">Hotline:</div>
                <div class="num">400 1000 099</div>
                <div class="time">(9:00 - 21:00)</div>
            </div>
            <ul class="u-nolist-ul">
                <li class="s__is-selected"><a href="/">首&nbsp;&nbsp;页</a></li>
                <li><a href="/invest/list">我要投资</a></li>
                <li><a href="/safe">安全保障</a></li>
                <li><a href="/help">新手指引</a></li>
                <li><a href="/info/index">关于我们</a></li>
                <li class="s__highlight" style="margin-right:0">   
                    {{#if !user.loginName}}
                        <a href="/login" class="account">我的账户</a>
                    {{ else }}
                        <a href="/account" class="account">我的账户</a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 导航结束 -->
<script src="/assets/js/main/header.js" async defer></script>
