<div id="paymentList">
	<nav class="omit-margin container page-nav">
	    <div class="row">
	        <a class="col-xs-3 back" href="./dashboard/loans">
	            <span class="glyphicon glyphicon-menu-left"></span>
	        </a>
	        <span class="col-xs-6 title">还款管理</span>
	        <span class="col-xs-3">&nbsp;</span>
	    </div>
    </nav>
    <section class="c-list-panel info-list">
    	<ul>
            <li class="item" ng-if="list.length==0">
                <p class="noData">
                    暂无数据
                </p>
            </li>
    		<li class="item" ng-if="list.length>0" ng-repeat="data in list">
    			<a href="/dashboard/loans/repayment/{{data.id}}" class="detail">
    				<span class="leftContent">
    					<span><b ng-bind="data.money">40000</b>元</span><br />
    					<span><i ng-bind="data.date">2016/08/01</i> | <i ng-bind="data.periods">12</i>期 | <i ng-bind="data.rate">0.88%</i>每月</span>
    				</span>
    				<span class="rightContent" ng-bind="status[data.status]+' &gt;'">还款中 &gt;</span>
    			</a>
    		</li>
    	</ul>
    </section>

</div>