{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<!-- <div id="banner-container">
    {{>banner}}
</div> -->

<div class="page-info">
   
    <div id="info-left">
        {{>list}}
    </div>
    
    <div id="info-right">
        <div class="contactus-container">
        
            <div class="title">联系我们</div>
            <div class="contactus-wrpper" style="color:#666666;">
                
                <div class="space space-30"></div>
                <h3>
                    公司地址
                </h3>
                <div class="space space-10"></div>
                <div class="space space-10"></div>
                 <ul>
                     <li>地址：北京市西城区金融大街7号英蓝国际金融中心D座6层</li>
                     <li>邮编：100033</li>
                     <li>官方网站：www.jiuxinfinance.com</li>
                 </ul>
                
                <div class="space space-10"></div>
                <div class="space space-30"></div>  

                <h3>
                    客服服务
                </h3>
                <div class="space space-10"></div>
                <div class="space space-10"></div>

                <ul>
                   <li>客服热线：400-100-0099，周一至周日9:00-21:00</li>
                   <li>客服邮箱：jiuxin@jiuxinfinance.com</li>
                </ul>
                
                <div class="space space-10"></div>
            </div>
        </div>
    </div>

    <div class="clear_left"></div>
</div>

{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>