{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<div id="banner-container">
    {{>banner}}
</div>

<div class="page-info">
   
    <div id="info-left">
        {{>list}}
    </div>
    
    <div id="info-right">
        <div class="contactus-container">
           
            <h1 class="info-title">
                联系我们
            </h1>
            
            <div class="contactus-wrpper">
                
                <div class="space space-30"></div>
                <h2>
                    公司地址
                </h2>
                
                <div class="space space-10"></div>
                <h3>
                    北京总部
                </h3>
                  
               <ul>
                   <li>地址：北京市朝阳区建国路91号金地中心A座</li>
                   <li>邮编：100022</li>
                   <li>电话：010-58658300</li>
               </ul>
                
                <div class="space space-10"></div>
                <h3>
                    上海分公司
                </h3>
                
                <ul>
                   <li>地址：上海市虹口区花园路128号7街区E座308</li>
                   <li>邮编：200083</li>
                   <li>电话：021-61531103</li>
                </ul>
                
                <div class="space space-10"></div>
                <h3>
                    香港 境外公司
                </h3>
               <ul>
                   <li>地址：Ruttonjee House,11 Duddell Street,Central,Hong Kong</li>
                   <li>邮编：999077</li>
               </ul>
            </div>
        </div>
    </div>

    <div class="clear_left"></div>
</div>

{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>