{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<!-- <div id="banner-container">
    {{>banner}}
</div> -->
<div class="page-info">
    <div id="info-left">
        {{>list}}
    </div>
    <div id="info-right">
        <div class="group-container">
            <div class="title">集团背景</div>
            <div class="group-wrpper">
                <div class="group-maintitle">资深行业背景的专业管理团队</div>
                <div class="group-subtitle">盈投保的核心管理团队均是来自于世界知名企业的业界精英，深厚的专业背景使我们站在行业前端。</div>
                <div class="leader">
                    <div class="leader-photo">
                        <ul>
                            <li>
                                <div class="leader-photo-img">
                                    <img src="/img/group/manager_thumb/cui.jpg" class="no-shade" />
                                </div>
                                <p>崔总</p>
                            </li>
                            <li>
                                <div class="leader-photo-img">
                                    <img src="/img/group/manager_thumb/cui.jpg" />
                                </div>
                                <p>刘总</p>
                            </li>
                            <li>
                                <div class="leader-photo-img">
                                    <img src="/img/group/manager_thumb/cui.jpg" />
                                </div>
                                <p>徐总</p>
                            </li>
                            <li>
                                <div class="leader-photo-img">
                                    <img src="/img/group/manager_thumb/cui.jpg" />
                                </div>
                                <p>轩总</p>
                            </li>
                            <div class="clear_left"></div>
                        </ul>
                    </div>
                    <div class="clear_right"></div>
                    <div class="leader-detail">
                        <div class="group-arrow"></div>
                        <ul>
                            <li class="show">
                                <div class="leader-detail-img">
                                    <img src="/img/group/manager/cui.jpg" />
                                </div>
                                <div class="leader-detail-desc">
                                    <p class="leader-title">
                                        <span class="leader-name">崔总</span>
                                        <span class="leader-rank">首席执行官</span> 
                                    </p>
                                    <p class="leader-desc">
                                        盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;由北京盈投保信息服务有限盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;由北京盈投保信息服务有限盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;
                                    </p>
                                </div>
                                <div class="clear_left"></div>
                            </li>
                            <li>
                                <div class="leader-detail-img">
                                    <img src="/img/group/manager/cui.jpg" />
                                </div>
                                <div class="leader-detail-desc">
                                    <p class="leader-title">
                                        <span class="leader-name">崔总2</span>
                                        <span class="leader-rank">首席执行官</span> 
                                    </p>
                                    <p class="leader-desc">
                                        盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;由北京盈投保信息服务有限盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;由北京盈投保信息服务有限盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;
                                    </p>
                                </div>
                                <div class="clear_left"></div>
                            </li>
                            <li>
                                <div class="leader-detail-img">
                                    <img src="/img/group/manager/cui.jpg" />
                                </div>
                                <div class="leader-detail-desc">
                                    <p class="leader-title">
                                        <span class="leader-name">崔总3</span>
                                        <span class="leader-rank">首席执行官</span> 
                                    </p>
                                    <p class="leader-desc">
                                        盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;由北京盈投保信息服务有限盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;由北京盈投保信息服务有限盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;
                                    </p>
                                </div>
                                <div class="clear_left"></div>
                            </li>
                            <li>
                                <div class="leader-detail-img">
                                    <img src="/img/group/manager/cui.jpg" />
                                </div>
                                <div class="leader-detail-desc">
                                    <p class="leader-title">
                                        <span class="leader-name">崔总4</span>
                                        <span class="leader-rank">首席执行官</span> 
                                    </p>
                                    <p class="leader-desc">
                                        盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;由北京盈投保信息服务有限盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;由北京盈投保信息服务有限盈投保是瀚华金控（HK:03903）旗下互联网金融P2P投资服务平台，瀚金控是首家在香港联交所上市的普惠金融H股;
                                    </p>
                                </div>
                                <div class="clear_left"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear_left"></div>
</div>
{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>
<script src="/js/main/group.js"></script>

