{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<!-- <div id="banner-container">
    {{>banner}}
</div> -->
<div class="page-info">
    <div id="info-left">
        {{>list}}
    </div>
    <div id="info-right">
        <div class="aboutus-container">
            <div class="title">九信金融</div>
            <div class="aboutus-wrpper">
                <div class="aboutus">
                    <p>
                       九信投资管理有限公司（简称九信金融），于2014年12月注册成立，注册资金20亿元人民币，是北京同创九鼎投资管理股份有限公司全资子公司，总部位于北京金融街。
                    </p>
                    
                    <p>
                        九信金融由国内知名金融集团九鼎投资倾力打造，是国内首家PE (私募股权投资) 系互联网金融平台。以九鼎投资雄厚的资金实力和丰富金融资产储备为后盾、以业内顶尖的风控体系为核心竞争力，九信金融将互联网理财平台与九鼎投资的资产管理能力相结合，为投资人提供高安全、低门槛、收益稳健、快捷的理财产品和专业的综合金融增值服务。

                        。 
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="clear_left"></div>
</div>
{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>

