{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<!-- <div id="banner-container">
    {{>banner}}
</div> -->
<div class="page-info">
    <div id="info-left">
        {{>list}}
    </div>
    <div id="info-right">
        <div class="aboutus-container">
            <div class="title">{{cTitle}}</div>
            <div class="aboutus-wrpper">
                <div class="aboutus">
                    {{{content}}}
                </div>
            </div>
        </div>
    </div>
    <div class="clear_left"></div>
</div>
{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>

