{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<!-- <div id="banner-container">
    {{>banner}}
</div> -->
<div class="page-info">
    <div id="info-left">
        {{>list}}
    </div>
    <div id="info-right">
        <div class="aboutus-container">
            <div class="title">九信金融</div>
            <div class="aboutus-wrpper">
                <div class="aboutus">
                    <p>
                       北京同创九鼎投资管理股份有限公司，“中国PE第一股”，2014年4月成为公众公司，证券代码430719，挂牌地点为全国中小企业股份转让系统。公司当前总股本为50亿元，净资产110亿元，市值超过1000亿元。
                    </p>
                    <p>
                       目前，公司旗下设有昆吾九鼎投资管理有限公司、九泰基金管理有限公司、九州证券有限公司、北京黑马自强投资管理有限公司、龙泰九鼎投资有限公司等子公司、九信投资管理有限公司、深圳市武曲星网络科技有限公司等主体，业务涵盖股权投资、公募基金管理、证券经营和个人风险投资、劣后投资、互联网金融等多个资产管理类型。
                    </p>
                    <p>
                       九鼎投资始终秉承稳健与创新并存的投资风格，挂牌一年来在资本市场改革创新和资产管理行业大发展的政策推动下，已具备强大的资源、能力和体系，为出资人和企业提供全面的金融和产业投资服务，并已成功成为综合性的金融与投资机构。
                    </p>
                    <p>
                       其全资子公司九信投资管理有限公司简称九信金融，注册资金20亿元人民币，总部位于北京金融街。
                    </p>
                    <p>
                        九信金融由国内知名投资机构九鼎投资倾力打造，是国内首家私募系互联网金融平台。平台将依托大股东雄厚的资金支持、独有的优质底层金融资产、立体的业务及风控体系打造一个不同于传统模式的P2P平台，为投资人提供安全、稳健的理财产品和专业、多元的金融服务。
                    </p>
                    <ul>
                        <li>
                            <h3>1、 系出私募，背景雄厚</h3>
                            <p>九鼎投资，作为九信金融的母公司，是国内知名股权投资机构，2014年4月登陆新三板市场，成为中国资本市场“PE第一股”。九鼎投资净资产超110亿元，市值超1000亿。九鼎投资股权基金管理规模超300亿元，内部收益率(IRR)超过30%。截至2015年4月，九鼎投资所投企业已有45家登陆国内外各级资本市场。九鼎旗下基金所投的独立IPO企业，仅2014年就有7家，投资回报全部超过10倍，其中的明星项目众信旅游、飞天诚信更是挤身百元股行列。</p>
                        </li>
                        <li>
                            <h3>2、独家优质项目资产来源</h3>
                            <p>九信金融平台运营初期主要为九鼎所管理基金的出资人、所投企业之股东以及九鼎股东的借款需求提供相应服务，后续会逐步扩大融资主体的客户范围，包括但不限于公司旗下公募基金、证券公司之客户、其他合作机构之客户等。此类借款人具有极高的个人和企业信誉，且在九信平台上借款时皆会提供非常足值的优质金融资产作为担保物，包括最具增值潜力的私募基金份额、成长性企业股权，以及来自公募基金、证券公司等丰富的债权类和权益类资产。凭借九鼎投资对私募金融资产价值的专业审核评估、业内独有的灵活增信措施、以及丰富的处置渠道和经验，九信金融将为所有投资者提供最坚实的安全保障，致力于实现安全性、流动性与收益性的完美平衡。</p>
                            <p>在优质资产的获取方面，九信具备显著的优势。例如部分融资项目来源于九鼎累计投资的近300家企业形成的庞大优质资源网络，其中，已上市和处于上市审核过程中的企业就超过了60家，同时亦有30家企业登陆新三板。</p>
                        </li>
                        <li><h3>3、 独有的多层次立体业务及风控体系</h3>
                        <p>九信金融依托九鼎投资丰富的资产管理经验和业内领先的产业思维，每一个业务环节都与九鼎投资的传统业务进行联动，从而形成了独有的多层次立体的业务及风控体系，具备极强的范围经济和联动效应。</p>
                        <p>该体系最大的特点是：九信所开展业务的所有环节，都是由相关领域最专业的团队来负责和参与的。如项目来源主要基于九鼎拥有的国内目前规模最大、覆盖面最广的区域项目开发体系；项目风控基于九鼎覆盖全行业的顶尖投研团队、风控团队及严苛的项目评审流程；项目投后环节则由九鼎自建的专业投后团队进行专职管理。</p>
                        <p>同时，九信金融自建风控团队和法务专家团队，对平台借款项目进行严格的二次审查，并为平台所有产品的设计、融资前的资产审核评估、融资后的资产处置等提供全方位支持。</p>
                        <p>此外，九信金融还将充分发挥九鼎投资作为综合金融机构的优势，与九鼎旗下公募基金、证券公司等机构展开联动合作，拓展更多的优质资产渠道，不断丰富其业务体系。</p></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="clear_left"></div>
</div>
{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>

