{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<div id="banner-container">
    {{>banner}}
</div>
<div class="page-info">
    <div id="info-left">
        {{>list}}
    </div>
    <div id="info-right">
        <div class="interest-container">
            <h1 class="info-title">
                本息保障
            </h1>
            <div class="interest-wrapper">
                <p class="headline">什么是本息保障？</p>
                <p>投资人在盈投保平台把资金出借给经过风险审核后的企业或个人，由合作担保公司对投资人进行全额本息担保，借款如出现逾期，由担保公司进行代偿。
                    <br
                    />本息保障计划具体细则解释如下：
                </p>
                <div class="serial-line">
                    <div class="serial-character-short">一、</div>
                    <div class="serial-character-short-content">保障对象：
                        <br />所有在盈投保平台注册的投资人
                    </div>
                </div>
                <div class="serial-line">
                    <div class="serial-character-short">二、</div>
                    <div class="serial-character-short-content">保障范围：
                        <br />满足参与本息保障条件所有瀚华宝产品下的项目。
                    </div>
                </div>
                <div class="serial-line">
                    <div class="serial-character-short">三、</div>
                    <div class="serial-character-short-content">保障内容：
                        <br />保障机制覆盖100%的投资本息部分。
                    </div>
                </div>
                <div class="serial-line">
                    <div class="serial-character-short">四、</div>
                    <div class="serial-character-short-content">
                        <p>补充细则：</p>
                        <div>
                            <div class="serial-number">1、</div>
                            <div class="serial-number-content-short">本期本息保障机制从2015年1月15日起实行，下一期本息保障机制细则将在之后根据客户反馈意见进行修改。</div>
                            <div class="clear_left"></div>
                        </div>
                        <div>
                            <div class="serial-number">2、</div>
                            <div class="serial-number-content-short">所有活动最终解释权归盈投保平台所有。</div>
                            <div class="clear_left"></div>
                        </div>
                    </div>
                    <div class="clear_left"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear_left"></div>
</div>
{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>

