{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
<title>隐私保护_盈投保 laitou.cn_瀚华金控旗下高端投融资平台</title>
{{>layouts.default.header}}
<div id="banner-container">
    {{>banner}}
</div>
<div class="page-info">
    <div id="info-left">
        {{>list}}
    </div>
    <div id="info-right">
        <div class="privacy-container">
            <h1 class="info-title">
                隐私保护
            </h1>
            <div class="privacy-wrapper">
                <p><strong>以下是本网站及其运营公司北京盈投保信息服务有限公司 (下称“本网站”)的隐私规则。</strong>
                </p>
                <div class="serial-line">
                    <div class="serial-character">（一）</div>
                    <div class="serial-character-content">我们严格遵守国家相关的法律法规，对用户的隐私信息进行保护。未经您的同意，不会向任何第三方公司、组织和个人披露您的个人信息、账户信息以及交易信息（法律法规另有规定的除外）。</div>
                </div>
                <div class="serial-line">
                    <div class="serial-character">（二）</div>
                    <div class="serial-character-content">如果你利用本网站的服务向没有在本网站内注册的电子邮件地址发出电子邮件,本网站除了利用该电子邮件地址发出你的电子邮件之外将不作任何其他用途。本网站不会出租或出售这些电子邮件地址。本网站不会永久储存电子邮件信息或电子邮件地址。</div>
                </div>
                <div class="serial-line">
                    <div class="serial-character">（三）</div>
                    <div class="serial-character-content">公司内部也设有严格、完善的权限管理体系，以保证每一位内部员工都只能查看自己职责和权限之内的数据和信息。</div>
                </div>
                <div class="serial-line">
                    <div class="serial-character">（四）</div>
                    <div class="serial-character-content">
                        你了解并同意 , 确保密码及账户的机密安全是你的责任。你将对利用该账号及所进行的一切行动及言论，负完全的责任，并同意以下事项：
                        <br
                        />1. 你不对其他任何人泄露你的账户或密码，亦不可使用其他任何人的账户或密码。因您的保管疏忽或自身电脑安全等非本网站原因导致账号遭他人非法使用的，本网站不承担任何责任。
                        <br
                        />2. 本网站通过你的账户及密码来识别你的指令，你确认，使用你的账户和密码登陆后在本网站的一切行为均代表你本人。账户操作所产生的电子信息记录均为你行为的有效凭据，并由你本人承担由此产生的全部责任。
                        <br
                        />3. 冒用他人账户及密码的，本网站及其合法授权主体保留追究实际使用人连带责任的权利。
                    </div>
                </div>
                <div class="clear_left"></div>
            </div>
        </div>
    </div>
    <div class="clear_left"></div>
</div>
{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>

