{{>layouts.default.head}}
<link rel="stylesheet" href="/css/common.css">
{{>layouts.default.header}}
<div id="banner-container">
    {{>banner}}
</div>
<div class="page-info">
    <div id="info-left">
        {{>list}}
    </div>
    <div id="info-right">
        <div class="recruit-container">
            <h1 class="info-title">
                加入我们
            </h1>
            <div class="recruit-wrapper">
                <div class="recruit-box recruit-box-border">
                    <p class="headline">Web高级开发工程师</p>
                    <p>职责描述 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">根据对UI设计及需求的理解，基于HTML、 Javascript和CSS等技术，开发针对各种终端的Web页面；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">编写必要的文档和测试代码；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">与需求和测试人员配合，快速响应变化，积极地进行改进工作。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                    <p>任职资格 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">本科及以上学历，计算机相关专业，2年以上开发经验；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">HTML、CSS、JavaScript 基础扎实，了解 HTTP 协议以及 Ajax 相关技术原理;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">熟悉 Backbone，以及web app开发经验。有 Angular.js 或 Ember.js经验优先；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">4、</div>
                            <div class="recruit-serial-content">了解至少一种后端语言（Node.js、PHP、Java等）；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">5、</div>
                            <div class="recruit-serial-content">有责任心和团队精神，懂合作;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">6、</div>
                            <div class="recruit-serial-content">除上之外，还熟悉下面这些关键词就更好了：grunt/coffeeScript/less/jade/seajs/requirejs</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                    <div class="recruit-addition">
                        <p>以下任意一项优先</p>
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-addition-content">参与开源项目并贡献过代码</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-addition-content">有技术博客</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-addition-content">交互和设计有一定了解和践行</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">4、</div>
                            <div class="recruit-addition-content">苹果爱好者</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                </div>
                <div class="recruit-box recruit-box-border">
                    <p class="headline">iOS 开发工程师</p>
                    <p>职责描述 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">负责iOS 移动终端的应用程序设计、开发;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">独立完成iOS 软件开发,独立解决软件问题;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">根据开发过程中的体验对产品提出改进建议。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                    <p>任职资格 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">有iOS平台开发经验， 经历过一个APP客户端产品的开发；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">熟练掌握Objective-C,熟悉MacOS,Xcode及iPhone SDK开发环境;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">熟悉软件开发流程及面向对象软件设计方法,有较强的软件架构知识;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">4、</div>
                            <div class="recruit-serial-content">对新技术感兴趣,学习能力强,有钻研和开拓精神;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">5、</div>
                            <div class="recruit-serial-content">具有良好的沟通能力，团队精神，认同公司企业文化，愿意跟公司共同发展。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                </div>
                <div class="recruit-box recruit-box-border">
                    <p class="headline">Android 开发工程师</p>
                    <p>职责描述 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">负责 Android移动终端的应用程序设计、开发;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">独立完成 Android软件开发,独立解决软件问题;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">根据开发过程中的体验对产品提出改进建议。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                    <p>任职资格 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">Android平台开发经验, 经历过一个APP客户端产品的开发;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">掌握Android中界面绘制、后台运行、数据存储，网络通信等的原理;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">具有LINUX（UBUNTU）环境开发经验;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">4、</div>
                            <div class="recruit-serial-content">熟悉Android 平台下的开发,熟练使用Android SDK及相关开发工具;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">5、</div>
                            <div class="recruit-serial-content">对新技术感兴趣,学习能力强,有钻研和开拓精神;</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">6、</div>
                            <div class="recruit-serial-content">具有良好的沟通能力，团队精神，认同公司企业文化，愿意跟公司共同发展。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                </div>
                <div class="recruit-box recruit-box-border">
                    <p class="headline">互联网金融产品经理</p>
                    <p>职责描述 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">负责互联网金融（P2P借贷）相关产品研究和创新设计；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">负责完成相关市场、产品的可行性分析报告；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">负责产品量化分析，包括投资组合模拟/压力测试/风险分析；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">4、</div>
                            <div class="recruit-serial-content">负责产品的说明文档、法律文档的起草同时推动产品成立运作；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">5、</div>
                            <div class="recruit-serial-content">负责金融产品宣传性推介材料的制作与培训；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">6、</div>
                            <div class="recruit-serial-content">负责产品的内外部报审程序，配合产品营销过程中的信息披露与更新；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">7、</div>
                            <div class="recruit-serial-content">负责产品上线后定期的运营情况分析并对风险评级及时预警，监督执行与操作；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">8、</div>
                            <div class="recruit-serial-content">根据产品推广营销结果，进行数据分析并提交产品设计及优化方案；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">9、</div>
                            <div class="recruit-serial-content">完成上级领导交待的其他工作。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                    <p>任职资格 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">有3年以上产品经理工作经验，具有基金、证券、信托、银行、保险、资产管理公司等机构金融产品设计与开发经验者优先考虑；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">具备财金知识，具有金融市场分析与资料搜集、金融商品企划分析、金融产品风险评估等能力熟悉相关法律法规知识；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">具备优秀的数据分析能力、敏锐的潜在需求理解能力、良好的文案策划和表达能力；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">4、</div>
                            <div class="recruit-serial-content">具有较强的进取心与事业心，有良好的团队精神；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">5、</div>
                            <div class="recruit-serial-content">本科及以上学历，金融、经济、财务等相关专业。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                </div>
                <div class="recruit-box">
                    <p class="headline">JavaEE高级开发工程师</p>
                    <p>职责描述 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">在需求分析的基础上，设计、开发基于 J2EE的应用系统；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">编写风格良好、易于维护的代码，进行必要的单元测试，编写必要的文档；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">与需求和测试人员配合，快速响应变化，积极地进行改进工作。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                    <p>任职资格 :</p>
                    <div class="recruit-requirement-box">
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-serial-content">本科及以上学历 , 计算机相关专业，3年以上Java 企业应用开发经验；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-serial-content">扎实的Java和数据库基础，非常熟悉J2EE、EJB或Spring等相关技术，略精通面向对象分析和设计技术，包括设计模式、UML建模等；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-serial-content">精通HTTP协议，熟悉RESTful；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">4、</div>
                            <div class="recruit-serial-content">熟悉关系型数据库开发，掌握基本的SQL操作；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">5、</div>
                            <div class="recruit-serial-content">熟练掌握GIT或者SVN，熟悉敏捷开发流程，对持续集成有一定的了解；</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">6、</div>
                            <div class="recruit-serial-content">具有较强的沟通能力，能够和前端工程师配合开发高交互性应用。</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                    <div class="recruit-addition">
                        <p>技术和经验加分项：</p>
                        <div class="serial-line">
                            <div class="serial-number">1、</div>
                            <div class="recruit-addition-content">高可用、高分布式事务开发经验</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">2、</div>
                            <div class="recruit-addition-content">有支付、账务处理等金融业务产品开发经验</div>
                        </div>
                        <div class="serial-line">
                            <div class="serial-number">3、</div>
                            <div class="recruit-addition-content">有技术博客或参与开源项目并贡献过代码</div>
                        </div>
                        <div class="clear_left"></div>
                    </div>
                </div>
<!--
                <p class="headline">HR邮箱</p>
                <p>请将您的简历及作品发送到此邮箱</p>
                <p><span class="link">career@laitou.cn</span>
                </p>
-->
            </div>
        </div>
    </div>
    <div class="clear_left"></div>
</div>
{{>layouts.default.footer}}
<script src="/js/main/common.js"></script>

