<div class="content-odd-container">
    <div class="content-wrapper">
        <form role="form" class="form">
            <div class="errors">
                {{#if errors.visible }}
                <div class="content">
                    {{errors.msg}}
                </div>
                {{/if}}
            </div>
            {{#if isLegacy}}
                <div class="form-group">
                    <input type="text" class="form-control" value="{{user.loginName}}" placeholder="用户名">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{user.mobile}}" placeholder="手机号">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control captcha pull-left" value="{{captcha.text}}" placeholder="验证码">
                    <img src="{{captcha.img}}" on-click="changeCaptcha" alt="captcha" class="pull-right"
                    width="150" height="40">
                    <div class="clearfix"></div>
                </div>
            {{ else }}
                <div class="form-group">
                   <label for="">用户名</label>
                    <input type="text" class="form-control" value="{{user.loginName}}" placeholder="">
                </div>
                <div class="form-group">
                   <label for="">手机号</label>
                    <input type="text" class="form-control" value="{{user.mobile}}" placeholder="">
                </div>

                <div class="form-group">
                   <label for="">验证码</label>
                    <div class="clearfix"></div>
                    <input type="text" class="form-control captcha pull-left" value="{{captcha.text}}" placeholder="">
                    <img src="{{captcha.img}}" on-click="changeCaptcha" alt="captcha" class="pull-right"
                    width="150" height="40">
                    <div class="clearfix"></div>
                </div>
            {{/if}}

            <button type="submit" on-click="doReset" class="btn do-login btn-success btn-large">重置密码</button>
        </form>
    </div>
</div>