{{#if step1}}

<div class="u-con u-con-1">
    <div class="s-step">
        <div class="s-step-lg-hr">
         <div class="s-step-progress">
</div>

        </div>
        <div class="main">
            <div class="step01">

            <img class="step-guide" src="/ccc/forgot/img/step1.png"/>
                <div class="verify-content">
                 
                    <div class="u-form-panel">
<!--
                        <div class="s-form-row">
                            <span></span>
                            <label for="users"><img src="/ccc/forgot/img/me.png">
                            </label>
                            <input class="u-form-text-def s-form-bor" type="text" name="name" id="users" value="{{user.loginName}}" placeholder="用户名" />
                        </div>
-->
                       <p class="test-title">手机号：</p>
                        <div class="s-form-row">
                         

                            <input class="u-form-text-def" type="text" name="name" value="{{user.mobile}}" placeholder="请输入手机号" id="phone" />
                        </div>
                    </div>
                    <div class="u-form-panel-lg">
                        <div class="s-form-row-lg">
                            <div class="border">
                          <p class="test-title">短信验证码：</p>      
<!--
                                <label>验证码
                                </label>
-->
                                <input class="u-form-text-lg" type="text" value="{{phone}}" id="phone02" placeholder="请输入短信验证码" />
                            </div>
                            <p id="get-text"><a href="javascript:;"  class="u-btn-blue getcaptcha" on-click="sendTelCode">获取短信验证码</a></p>
                        </div>
                    </div>
                    <p class="s-form-p-info" style="display:{{ telcode?'block':'none'}}">
                        动态码已发送至您的手机{{phone}},请在
                        <span class="s-form-time">{{time}}</span>秒内输入
                    </p>
                       <div class="errors">
						   <h1>
                        {{#if errors.visible }}
<!--                        <div class="u-content">-->
                            {{errors.msg}}
<!--                        </div>-->
							   {{/if}}
						   </h1>
                    </div>
                    
<!--
                    <div class="box-verify">
                        <div class="u-form-panel">
                            <div class="s-form-row-sm s-form-row-sm-s">
                                <span></span>
                                <label for="key"><img src="/ccc/forgot/img/key.png">
                                </label>
                                <input class="u-form-text-sm" type="text" placeholder="验证码" value="{{captcha.text}}" id="key" />
                            </div>
                        </div>
                        <div class="u-form-panel-sm">
                            <div class="s-form-row-xm">
                                <span></span>
                                 <input  type="text" name="name" value="ABCD" disabled /> 
                                <img src="{{captcha.img}}" class="u-form-text-xm captcha-img" />
                                <a href="javascript:;" class="refresh" on-click="changeCaptcha">刷新</a>
                            </div>
                        </div>
                    </div>
-->
                    <input type="submit" class="u-form-btn-red" on-click="next" value="下一步" />
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}} {{#if step2}}
<div class="u-con u-con-2">
    <div class="s-step">
        <div class="s-step-lg-hr">
            <div class="s-step-progress">
            </div>
        </div>
        <div class="main">
            <div class="step02">
                <img  class="step-guide" src="/ccc/forgot/img/step2.png"/>
                 <div class="verify-content">
               
<!--
                    <div class="u-form-panel-lg">
                        <div class="s-form-row-lg">
                            <div class="border">
                                <label for="phone02"><img src="/ccc/forgot/img/key.png">
                                </label>
                                <input class="u-form-text-lg" type="text" value="{{phone}}" id="phone02" placeholder="手机动态码" />
                            </div>
                            <a href="javascript:;" class="u-btn-blue getcaptcha" on-click="sendTelCode">获取短信动态码</a>
                        </div>
                    </div>
                    <p class="s-form-p-info" style="display:{{ telcode?'block':'none'}}">
                        动态码已发送至您的手机{{phone}},请在
                        <span class="s-form-time">{{time}}</span>秒内输入
                    </p>
-->
                    <div class="u-form-panel">
                        <div class="step-password">
                        <p class="test-title">密码：</p>
                        <div class="s-form-row">
                         
<!--
                            <label for="clock">
                                <img src="/ccc/forgot/img/clock.png">
                            </label>
-->
                            <input class="u-form-text-def s-form-bor" type="password" value="{{newPass}}" id="clock" placeholder="设置新密码，6-16位字符" />
                        </div>
                            </div>
                        <div  class="step-password-confirm">
                         <p class="test-title">确认密码：</p>
                        <div class="s-form-row">
                           
                            
<!--
                            <label for="clock02">
                                <img src="/ccc/forgot/img/clock.png">
                            </label>
-->
                            <input class="u-form-text-def" type="password" value="{{rePass}}" id="clock02" placeholder="请再次输入新密码" />
                        </div>
                            </div>
                    </div>
                          <div class="errors">
                        {{#if errors.visible }}
                        <h1 class="u-content">
                            {{errors.msg}}
						</h1>
                        {{/if}}
                    </div>
                    <input type="submit" class="u-form-btn-red" value="下一步" on-click="login" />
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}} {{#if step3}}
<div class="u-con u-con-3">
    <div class="s-step">
        <div class="s-step-lg-hr">
            <div class="s-step-progress1">
            </div>
        </div>
        <div class="main">
            <div class="step03">
            <img  class="step-guide" src="/ccc/forgot/img/step3.png"/>
                <div class="step04">
                    <div class="way04">
                        <div class="box_icon">
                            <img src="/ccc/forgot/img/ok.png">
                        </div>
                        <div class="next next02">
                            <h4>
<!--                                {{user.loginName}}-->
                                新密码设置成功，请妥善保存密码。</h4>
<!--                            <h3><a href="/account/index">进入我的帐户</a></h3>-->
                            <h3><a href="#">{{timeLeft}}</a>秒后自动跳转界面... <a href="/index">返回首页></a> </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/if}}