<link rel="stylesheet" type="text/css" href="styles/act/eclStyle.css">
<link rel="stylesheet" type="text/css" href="styles/act/newUser.css">
<header id="page-header" class="navbar u-off-margin-bottom">
    <div class="logo">
        <a href="./">
            <img width="100" ng-src="assets/image/nav-logo-new.png?v=2">
        </a>
    </div>
    <div class="userbar">
        <span>合作单位:</span>
        <div class="sider" style="width: 3.5rem;">
            <ul>
                <li>新奥集团(港02688)</li>
                <li>华夏幸福基业(600340)</li>
                <li>庞大集团(601258)</li>
                <li>荣盛(002146)</li>
                <li>升达林业(002259)</li>
            </ul>
        </div>
    </div>
</header>
<div class="banner">
    <div class="bannerImg {{self.uidclass}}">
    </div>
</div>


<div class="page-content">
    <div style="color:#df2525;font-weight:bold;line-height:1.12rem;font-size:0.4rem;text-align:center">五重安全保障 旗下村镇银行</div>
    <form class="form form-flatten form-horizontal" name="form"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off"
          novalidate
    >
        <div class="inputs container" style="width:8.08rem;border:0.0666666666666667rem solid #eb823b;-webkit-border-radius:0.0666666666666667rem ;-moz-border-radius: 0.0666666666666667rem;border-radius:0.0666666666666667rem ;margin:0 auto;">
            <div class="loginInput_title" style="font-size:0.56rem;text-align: center;font-weight:bold;">恭　喜　您</div>
            <div style="color:#d65d38;font-weight: bold;text-align:center;padding:1.2rem 0.3rem;font-size:0.46rem;line-height:0.8rem">领取成功！<br>
            赶快去投资让红包生钱提现吧！
            </div>
            <p class="container">
                <a href="login?next=dashbord" id="signBtn" class="btn btn-theme btn-block btn-lg" style="width:6rem;font-size:0.4rem;text-align: center;font-weight:bold;margin-bottom:1rem">马上理财</a>
            </p>
        </div>
    </form>
</div>


<script type="text/ng-template" id="ngt-register-agreement.tmpl">
    <div class="modal-body" style="max-height: 300px; overflow-y: auto;" ng-bind-html="content | sanitize"></div>

    <div class="modal-footer">
        <button class="btn btn-block btn-theme" ng-click="$close()">
            已阅读此协议
        </button>
    </div>
</script>





