<link rel="stylesheet" href="/ccc/aboutus/css/help2.css">
<!--<link rel="stylesheet" href="/ccc/aboutus/css/help2.css">-->

<div class="page-guide">
    <p id="aboutus-title"><a href="/">首页</a> >关于我们>{{tab.text}}</p>
    <div id="help-left" class="pull-left">

        {{>list}}
    </div>

    {{#if tab.text!='安全保障'}}
	{{#if contents.length===1}}
    <div id="help-right" class="pull-right">
        <div class="invest-container">
            <div class="invest-wrapper">
                <div class="help-title">
                </div>
                <div class="invest-wrapper">
                    {{{contents[0].content}}}
                </div>
            </div>
        </div>
    </div>
    {{else}}

    <div id="help-right" class="pull-right">
        <div class="invest-container">
            <div class="invest-wrapper">
                <div class="help-title">
                </div>
                {{#if tab.text!='帮助中心'}}
                <div class="invest-wrapper">
<!--                    <h2 class="ar-title">{{tab.text}}</h2>-->
                    {{#each contents}}
                    <div class="news-box">
                        <div class="news-brame"><a href="/cms/p/{{this.id}}">{{#if title.length > 40}}
                                {{title.substr(0,40)}}...
                            {{else}}
                                {{title}}
                            {{/if}}</a>
                        </div>
                        <div class="news-pubdate">{{pubDate}}</div>
                    </div>
                    <!--                              <div class="article-content">{{& content}}</div>-->
                    {{/each}}

                    <div class="page">
                        <ul>
<!--
                            {{#if current > 1}}
                            <li class="prev"><a href="/cms/news?page={{current - 1}}">上一页</a>
                            </li>
                            {{/if}} 
-->
                            {{#totalPage}}
                            <li class="item {{#if current == parseInt(@key) + 1}} active-page {{/if}}">
                                <a href="/aboutus/{{tab.name}}?page={{parseInt(@key) + 1}}">
                                    <span class="current">
                                        {{parseInt(@key) + 1}}
                                    </span>
                                </a>
                            </li>
                            {{/totalPage}} 
<!--
                            {{#if current< totalPage.length }} <li class="next"><a href="/cms/news?page={{current + 1}}">下一页</li>
                            {{/if}}
-->
                </ul>
            </div>
                        </div>
                         {{else}}
                            <div class="invest-wrapper">
                                <p class="new-guide">新手指引</p>
                                <img class="new-guide-pic" src="/ccc/aboutus/img/register-help.png"/>
                                <p class="new-guide">常见问题</p>
                            {{#each contents}}
                              <div class="each-question">
                              <div class="question-title"><img style="margin-right:10px;" src="/ccc/aboutus/img/question-icon.png"/>{{title}}</div>
                              <div class="article-content">{{& content}}</div>
                               </div>
                            {{/each}}
                                
                                
                                 <div class="page">
                        <ul>
<!--
                            {{#if current > 1}}
                            <li class="prev"><a href="/cms/news?page={{current - 1}}">上一页</a>
                            </li>
                            {{/if}} 
-->
                            {{#totalPage}}
                            <li class="item {{#if current == parseInt(@key) + 1}} active-page {{/if}}">
                                <a href="/aboutus/{{tab.name}}?page={{parseInt(@key) + 1}}">
                                    <span class="current">
                                        {{parseInt(@key) + 1}}
                                    </span>
                                </a>
                            </li>
                            {{/totalPage}} 
<!--
                            {{#if current
                            < totalPage.length }} <li
                            class="next"><a href="/cms/news?page={{current + 1}}">下一页</li>
                    {{/if}}
-->
                </ul>
            </div>
                                
                                
                                
                                
                        </div>
                        {{/if}}
                        
                        
                        
                    </div>
                    
                    
               
                    
                    
                </div>
            </div>
             

        {{/if}}
        {{else}}
        <div id="help-right" class="pull-right">
        <div class="invest-container">
            <div class="invest-wrapper">
                <div class="brand-box">
                    <div class="brand-left">
                        <p>品牌优势</p>
                        <img src="/ccc/aboutus/img/brand.png" />
                    </div>
                    <div class="brand-right">
                        <div class="brand-right-content">
                            <p>实力保障</p>
                            <h3>联想控股全资设立旗下企业正奇金融作为股东，品牌可信度高，资金实力雄厚。</h3>
                        </div>
                        <div class="brand-right-content">
                            <p>独立担保</p>
                            <h3>独立第三方机构担保，所有平台项目均由担保机构提供100%本息保障</h3>
                        </div>
                        <div class="brand-right-content">
                            <p>风险防控</p>
                            <h3>不仅具备多年传统金融领域积攒下来的优质项目资源，而且具有专业的风险防范管理技术，保障投资和借款人双方的利益。</h3>
                        </div>

                    </div>
                </div>
                <div class="safety-box">
                 
                    <div class="safety-left">
                        <div class="brand-right-content">
                            <p>安全认证</p>
                            <h3>引入“CFCA（中国金融认证中心）安全认证”，不仅保证了借款人身份的真实性，而且可以快速查询借款人是否有良好的信用记录，确保投资人效益。</h3>
                        </div>
                        <div class="brand-right-content">
                            <p>信息安全</p>
                            <h3>杜绝任何形式泄漏个人的信息，个人信息按照奇乐融隐私条款中的规定被严格保护。</h3>
                        </div>
                        <div class="brand-right-content">
                            <p>网站安全</p>
                            <h3>经过IBM AppScan及HP Fortify等安全权威工具多次扫描验证、主机、数据库、代码层、系统层全面扫描，数据加密并备份，高效的部署脚本与应急处理机制，保证系统可靠。</h3>
                        </div> 

                    </div>
                       <div class="safety-right">
                        <p>数据安全</p>
                        <img src="/ccc/aboutus/img/safety.png" />
                    </div>
                </div>


                <div class="brand-box">
                    <div class="brand-left">
                        <p>合法合规</p>
                        <img src="/ccc/aboutus/img/law.png" />
                    </div>
                    <div class="brand-right">
                        <div class="brand-right-content">
                            <p>法律保护</p>
                            <h3>《民法通则》、《合同法》、《关于人民法院审理借贷案件的若干意见》的有关法规规定，明确民间借贷的合法性，投资人的利益受法律保护。</h3>
                        </div>
                        <div class="brand-right-content">
                            <p>专业审定</p>
                            <h3>所有法律文本均由专业律师审定，符合国家法律法规，避免法律风险，能够有效保障投资人的债权追偿。</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="clear_left"></div>
</div>


<script src="/ccc/aboutus/js/main/common.js"></script>
