<dsBody layout={{dsLayoutPath}}>
<link rel="stylesheet" href="/ccc/global/css/base.css" media="all">
<link rel="stylesheet" href="/ccc/act/css/newUser.css" media="all">
<link rel="stylesheet" href="/ccc/global/css/base1.css">

	

<div class="banner"> 
	<div class="bannerImg" style="background-image:url(/ccc/act/img/banner.jpg)">
	</div>
	<div class="bannerAccountBox">
			<div class="signSucc">
				<p class="signSuccP1">协议年化利率<span class="signSuccP3">6%-12%</span></p>
				<!--<p class="signSuccP1">活期收益的<span class="signSuccP2">34倍</span></p>-->
				<a href="/newAccount/settings/authentication"><p class="btn">我的账户</p></a>
				{{#if user}}
                    <p class="signSuccP1">您当前登录的帐户是：<span >{{#if !user.name}}{{user.mobile}}{{else}}{{user.name}}{{/if}}</span></p>
                {{/if}}
			</div>
	</div>
</div>



<!--718金融优势-->
<div class="box">
	<div class="tit"><span>718金融的优势</span></div> 
	<ul class="youshiUl">
		<li class="youShi">
			<div class="imgIcon shouyi"></div>
			<div class="bold">收益高</div>
			<div>协议年化利率6%~12%</div>
		</li>
		<li class="youShi">
			<div class="imgIcon feiyong"></div>
			<div class="bold">0费用</div>
			<div>充值提现0费用</div>
		</li>
		<li class="youShi">
			<div class="imgIcon menkan"></div>
			<div class="bold">门槛低</div>
			<div>100元起投人人皆可受益</div>
		</li>
		<li class="youShi">
			<div class="imgIcon xinyu"></div>
			<div class="bold">信誉好</div>
			<div>互联网信用AA级企业</div>
		</li>
		<li class="youShi">
			<div class="imgIcon shili"></div>
			<div class="bold">实力强</div>
			<div>6重安全保障</div>
			<!--<div>6重安全保障，本息安全</div>-->
		</li>
		<li class="youShi">
			<div class="imgIcon qixian"></div>
			<div class="bold">期限短</div>
			<div>私人定制，多样选择</div>
		</li>
	</ul>
</div>
<!--产品介绍-->
<div class="box">
	<div class="tit"><span>产品介绍</span></div>
	<ul class="productList">
		<li class="product">
			<div class="proImg xinshou"></div>
			<div class="proDes">
				<div class="kuai">
					<div class="middleBox">
						<div class="kuaiTit">新手标</div>
						<div class="mt15 numBox purple">10%~15%</div>
					</div>
				</div>
				<div class="kuai kuaiLittleW kuaiLeft">
					<div class="middleBox">
						<div class="bold">协议年化利率</div>
						<div class="mt15 pink bold">12%</div>
						<div class="mt40 bold">封闭期</div>
						<div class="mt15 pink bold">1个月</div>
					</div>
				</div>
				<div class="kuai kuaiLittleW">
					<div class="middleBox">
						<div class="bold">起投金额</div>
						<div class="bold mt15">100元</div>
						<a class="buyBtn mt40" href="/invest">购买</a>
					</div>
				</div>
			</div>
		</li>
		<li class="product">
			<div class="proImg xinneng"></div>
			<div class="proDes">
				<div class="kuai">
					<div class="middleBox">
						<div class="kuaiTit">新能宝</div>
						<div class="mt15 numBox blue">6%~12%</div>
					</div>
				</div>
				<div class="kuai kuaiLittleW kuaiLeft">
					<div class="middleBox">
						<div class="bold">协议年化利率</div>
						<div class="mt15 pink bold">6%、9%、10%、12%</div>
						<div class="mt40 bold">封闭期</div>
						<div class="mt15 pink bold">1个月、3个月、<br>6个月、12个月</div>
					</div>
				</div>
				<div class="kuai kuaiLittleW">
					<div class="middleBox">
						<div class="bold">起投金额</div>
						<div class="bold mt15">100元</div>
						<a class="buyBtn mt40" href="/invest">购买</a>
					</div>
				</div>
			</div>
		</li>
		<li class="product">
			<div class="proImg xinjin"></div>
			<div class="proDes">
				<div class="kuai">
					<div class="middleBox">
						<div class="kuaiTit">新能宝</div>
						<div class="mt15 numBox pink">6%~10%</div>
					</div>
				</div>
				<div class="kuai kuaiLittleW kuaiLeft">
					<div class="middleBox">
						<div class="bold">协议年化利率</div>
						<div class="mt15 pink bold">6%、9%、10%</div>
						<div class="mt40 bold">封闭期</div>
						<div class="mt15 pink bold">1个月、3个月</div>
					</div>
				</div>
				<div class="kuai kuaiLittleW">
					<div class="middleBox">
						<div class="bold">起投金额</div>
						<div class="bold mt15">100元</div>
						<a class="buyBtn mt40" href="/invest">购买</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
<!--新手大礼包-->
<div class="box">
	<div class="tit"><span>新手大礼包</span></div>
	<ul class="libaoUl">
		<li class="libao">
			<div class="imgIcon yibai"></div>
			<div class="bold pink lbTit">注册成功</div>
			<div class="libaoWbox">
				<div>成功注册718金融</div>
				<div>用户可获得100元</div>
				<div>红包在我的账户中红包查看</div>
			</div>
			<a class="buyBtn mt15" href="/invest">立即投资</a>
		</li>
		<li class="libao">
			<div class="imgIcon wuyi"></div>
			<div class="bold pink lbTit">新户专享</div>
			<div class="libaoWbox">
				<div>5亿现金大派送（全场通用）</div>
				<div>P2P投资没有想象的那么复杂</div>
			</div>
			<a class="buyBtn mt15" href="/invest">立即投资</a>
		</li>
		<li class="libao">
			<div class="imgIcon liubai"></div>
			<div class="bold pink lbTit">开卷有益</div>
			<div class="libaoWbox">
				<div>用户可获得600元</div>
				<div>金融课程免费赠送学习赚钱真本领</div>
			</div>
			<a class="buyBtn mt15" href="/invest">立即投资</a>
		</li>
	</ul>
</div>
<!--顾问团-->
<div class="box">
	<div class="tit"><span>权威顾问团</span></div>
	<ul class="guwenUl">
	
		<!--<li class="guwen">-->
			<!--<div class="imgIcon wanghong"></div>-->
			<!--<div class="f18">王宏杰</div>-->
			<!--<div class="f18">董事合伙人</div>-->
			<!--<div class="guwenDes">经济师，南开大学经济学硕士，天津大学学士。历任中国银行河北省分行科长，华夏银行支行行长、总行信贷管理处处长，石家庄分行副行长、行长，华夏银行总行人力资源部总经理等职务。</div>-->
		<!--</li>-->
		<li class="guwen">
			<div class="imgIcon wutian"></div>
			<div class="f18">吴天鹏</div>
			<div class="f18">高级顾问</div>
			<div class="guwenDes">历任加拿大中国银行高级副总裁；中国银行授信评审委员会评审委员、副主任；中国银行总行全球金融市场部副总经理、总监；中国银行保险业务领导小组成员；中国银行总行金融机构部资深专家；《国际金融》常务副主编。</div>
		</li>
		<li class="guwen">
			<div class="imgIcon guowei"></div>
			<div class="f18">郭伟</div>
			<div class="f18">高级顾问</div>
			<div class="guwenDes">北京大学光华管理学院MBA、兰州大学哲学系哲学学士，曾历任中央直属机关人事局人事政策研究；和君创业管理咨询公司管理咨询；新奥集团首席人资总监；中国远大集团人资总监；华夏基石管理咨询公司业务副总裁、高级合伙人。</div>
		</li>
	</ul>
</div>
<!--保驾护航-->
<div class="box">
	<div class="tit"><span>718金融为您保驾护航</span></div>
	<ul class="huhangUl">
		<li class="huhang">
			<div class="huhangDes huhangDes1">
				<div class="huhangTit">千万级风险准备金</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;718金融为广大投资者推出的投后保障制度。 新毅控股出资千万级保证基金并且随日后交易额增加逐步追加，作为收购未来所有参与投资项目发生逾期或违约的资产，进一步保障投资者的本金及收益安全。
			</div>
			<div class="imgIcon qianwan"></div>
		</li>
		<li class="huhang">
			<div class="imgIcon jishu"></div>
			<div class="huhangDes huhangDes2">
				<div class="huhangTit">技术支持 信息安全</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系统采用云计算技术、国外知名机构颁发的服务器证书、128位密钥，前后台登录均使用图形验证码（彩色+扭曲+线条遮罩等干扰方式），连续5次登录失败直接锁定账号。成功及失败登录的来源（Web、App）、IP及相关信息后后台重点操作均保留操作日志记录。
			</div>
			
			
		</li>
		<li class="huhang">
			<div class="huhangDes huhangDes1">
				<div class="huhangTit">法律保障 律所护航</div>
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;718金融聘用了盈科律师事务所为常年法律顾问。盈科律师事务所，是一家全球化法律服务机构。致力于为718金融客户提供全方位商务法律服务。
       718金融的所有合同协议均通过专业律师审核。致力于为718金融客户搭建一个信息透明、诚信度高、风险低、回报稳定、成本可控的互联网借贷撮合平台。
			</div>
			<div class="imgIcon falv"></div>
		</li>
		<li class="huhang">
			<div class="imgIcon fengkong"></div>
			<div class="huhangDes huhangDes2">
				<div class="huhangTit">风控审核 项目优选</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;718金融挑选优质的资产，项目背景真实合法；银行级的21层风控审核，严查企业征信信息，保障项目来源真实、合法合规且符合国家的信贷政策，资金更安全，兑付有保障。
			</div>
			
		</li>
		<li class="huhang">
			<div class="huhangDes huhangDes1">
				<div class="huhangTit">AAA级项目来源</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应收账款，来自于国家支持绿色环保朝阳产业的国企、央企、上市公司应收账款融资、票据类资产融资项目；国企、央企、上市公司应付账款质押类资产。
       供应链金融， 应收账款衍生出来清洁能源、医疗器械、健康产业、3C、通信、环保等供应链融资。
			</div>
			<div class="imgIcon laiyuan"></div>
		</li>
	</ul>
</div>
<script src="/ccc/global.js" async></script>
<script src="/ccc/act/js/main/register.js"></script>

</dsBody>
