
<div id="list">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-3">&nbsp;</span>
        <span class="col-xs-6 title">我要投资</span>
        <span class="col-xs-3 actions"><span x-header-dropdown-menu></span></span>
    </div>
    </nav>

    <section class="omit-margin invest-list" x-gyro-disable-animation>
        <div ng-hide="loading">
            <uib-tabset class="invest-tab flex inline list" justified="true">
                <uib-tab ng-repeat="data in tabs"
                         heading="{{ {XSZX: '新手专享', LYG: '0元购', DQLC: '定期理财'}[data.key] }}"
                         active="data.active"
                         select="self.on_tab(data.key)"
                >
                    <div ng-switch="data.key">
                        <div ng-switch-when="XSZX">
                            <ul class="list list-unstyled u-off-margin-bottom">
                                <li class="item"
                                    ng-repeat="item in ::data track by $index"
                                >
                                    <a ng-href="loan/{{ ::item.id }}?go_back={{ ::page_path }}"
                                       x-loan-summary
                                       data-loan="item"
                                       data-layout="'without-chart'"
                                    ></a>
                                </li>
                            </ul>

                            <div ng-if="!data.length" class="container">
                                <h4 class="alert alert-info text-center">暂无数据</h4>
                            </div>
                        </div>

                        <div ng-switch-when="LYG">
                            <param x-lyg-directive class="embed" x-gyro-comment>
                        </div>

                        <div ng-switch-when="DQLC">
                            <ul class="list list-unstyled u-off-margin-bottom">
                                <li class="item"
                                    ng-repeat="item in ::data track by $index"
                                >
                                    <a ng-href="loan/{{ ::item.id }}?go_back={{ ::page_path }}"
                                       x-loan-summary
                                       data-loan="item"
                                       data-layout="'chart-right'"
                                    ></a>
                                </li>
                            </ul>

                            <div ng-if="!data.length" class="container">
                                <h4 class="alert alert-info text-center">暂无数据</h4>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

        <p class="text-center" ng-show="loading">
            <img src="assets/image/spinner.gif">
        </p>
    </section>

</div>
