
<div id="login">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <span class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </span>
        <span class="col-xs-6 title">登录</span>
        <span class="col-xs-3 actions" href="register"></span>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            DISABLED: '帐号密码错误次数过多，您的帐户已被锁定，请联系客服 400-872-7676 解锁。',
        }">
    </div>

    <div class="page-content">

        <div class="icon-doll" x-gyro-comment><img src="assets/image/login-doll.png"></div>

        <form class="form-flatten form-horizontal" name="form" ng-submit="self.login(store)" novalidate>
            <div class="inputs container">
                <div class="form-group merge">
                    <label for="login-username"><param class="glyphicon glyphicon-user"></label>
                    <input id="login-username" class="form-control input-target input-lg" type="text"
                           name="username"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           ng-model="store.username"
                           placeholder="用户名/手机号/邮箱"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="login-password"><param class="glyphicon glyphicon-lock"></label>
                    <input id="login-password" class="form-control input-target input-lg" type="password"
                           name="password"
                           ng-model="store.password"
                           placeholder="请输入密码"
                           required
                    >
                </div>
            </div>

            <div class="container">
                <div class="form-group container">
                    <button type="submit" class="btn btn-red btn-block btn-lg"
                            ng-disabled="self.submit_sending"
                    >登录</button>
                </div>

                <p class="links">
                    <a href="password">找回密码？</a>
                    <a href="register">免费注册</a>
                </p>

                <div class="flash-message alert alert-warning text-center"
                   ng-class="{ on: self.flashing_error_message }"
                >
                    <param class="glyphicon glyphicon-exclamation-sign">
                    <strong>用户名</strong> 或 <strong>密码</strong> 不匹配
                </div>
        </div>
        </form>

        <p class="container">
            <img class="img-responsive" ng-src="{{ banner.src }}">
        </p>

    </div>

</div>
