

<div class="tab-panel panel-HOLDING active">
    <table class="table table-striped">
<!--   <caption>条纹表格布局</caption>-->
           <thead>
              <tr>
                 <th style="width:250px;">标题</th>
                 <th>内容</th>
                 <th>时间</th>
              </tr>
           </thead>
           {{#list}}
           <tbody>
              <tr>
                <td>{{body.title}}</td>
                <td>
                  <div data-status="{{status}}" data-id="{{id}}"style="height: 22px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 500px;cursor:pointer" on-click="showContent">
                    {{body.content}}
                  </div>
                 </td>
                 <td>{{sentTime}}</td>
              </tr>
           </tbody>
           {{/list}}
    </table>     
</div>
<div class="invest-pager-wrapper" id="invest-pager"></div>

