
<div class="userinfowra">
	<div class="infoContent">
		<div class="info">
			<div class="tx"></div>
			{{#if user.enterprise}}

			<div class="name" style="width:500px;text-align:left;text-indent:45px;">

				{{#if user.name}}{{user.name}}{{else}}{{user.mobile}}{{/if}}
			</div>
			{{else}}
			<div class="name">
				{{#if user.name}}{{user.name}}{{else}}{{user.mobile}}{{/if}}
			</div>
			{{/if}}
		</div>
		<div class="credit">
			<ul class="doCredit">
				{{#if user.enterprise}}
					{{#if user.mobile}}
					<li class="rzpa cmo-active"></li>
					{{else}}
					<li class="rzpa cmo"></li>
					{{/if}}
				{{else}}
					{{#if user.mobile}}
					<li class="rzpa cmo-active"></li>
					{{else}}
					<li class="rzpa cmo"></li>
					{{/if}}
					{{#if user.name}}
				<li>
					<a href="/newAccount/settings/authentication" class="mouse-enter rzpa cid-active" ></a>
					<p class="info-tip" style="top:16px;left:23px;">点击查看实名认证</p>
				</li>
					{{else}}
				<li>
					<a href="/newAccount/settings/authentication" class="mouse-enter rzpa cid" id="mouse-enter"></a>
					<p class="info-tip" style="top:16px;left:23px;">点击查看实名认证</p>
				</li>
					{{/if}}
					{{#if paymentPasswordHasSet}}
				<li>
					<a href="/newAccount/settings/password" class="mouse-enter rzpa cpass-active"></a>
					<p class="info-tip" style="top:16px;left:85px;">点击设置交易密码</p>
				</li>
					{{else}}
				<li>
					<a href="/newAccount/settings/password" class="mouse-enter rzpa cpass"></a>
					<p class="info-tip" style="top:16px;left:85px;">点击设置交易密码</p>
				</li>
					{{/if}}
					{{#if banksabled}}
				<li>
					<a href="/newAccount/settings/bankCards" class="mouse-enter rzpa ccr-active"></a>
					<p class="info-tip" style="top:16px;left:152px;">点击设置银行卡</p>
				</li>
					{{else}}
				<li>
					<a href="/newAccount/settings/bankCards" class="mouse-enter rzpa ccr"></a>
					<p class="info-tip" style="top:16px;left:152px;">点击设置银行卡</p>
				</li>
					{{/if}}
					{{#if emailAuthenticated}}
				<li>
					<a href="/newAccount/settings/userInfo" class="mouse-enter rzpa cem-active"></a>
					<p class="info-tip" style="top:16px;left:220px;">点击设置邮箱</p>
				</li>
					{{else}}
				<li>
					<a href="/newAccount/settings/userInfo" class="mouse-enter rzpa cem"></a>
					<p class="info-tip" style="top:16px;left:220px;">点击设置邮箱</p>
				</li>
					{{/if}}
				
					{{#each groupMedal}}
				<li>
	                <img src="{{this}}" class="rzpa" alt="勋章" >
				</li>
	                {{/each}}
					
                {{/if}}
			</ul>
			{{#if !isEnterprise}}
			<div class="EdiT">
				{{#if showVip}}
				<div class="level" title='点击查看会员体系详情'>

					<span>会员等级：</span>
					<a href="/help/member" style="text-decoration:none"><span class="lev">{{vip}}</span></a>
				</div>
				{{/if}}
				<div class="safe">
					<div class="safety">安全等级：
					<span class="progress">
					    <div class="progress-bar" role="progressbar" aria-valuemax="100" style="width: {{ safetyProgress }}%;"></div>
					</span>
					<span class="risk">{{riskText}}</span></div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="space-30"></div>
<script type="text/javascript">
	
	
//	var classA =document.getElementsByClassName('mouse-enter');
//	console.log(classA);
//	for(var i = 0;i<classA.length;i++){
//		classA[i].onmouseover = function(){
//			classA[i].nextSibling.style.display = 'block';
//		}
//	}
</script>