
<div id="dashboard-recharge" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.back_path || self.next_path || 'dashboard' }}"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">充值</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div>
        <param ng-model="msg.success" ng-init="msg.success = '充值成功'">
    </div>

    <section class="text-center balance">
        <div class="title">账户余额</div>
        <div class="num">{{ available_amount | number: 2 }}</div>
    </section>

    <section class="form-wrapper">
        <form class="form-horizontal form-flatten"
              name="form"
              method="post"
              autocapitalize="none"
              autocomplete="off"
              autocorrect="off"
              novalidate
              id="batchForm"
        >
            <div class="inputs container">
                <div class="multi-line-container-item" x-gyro-comment>
                    <div class="form-group">
                        <label class="col-xs-4 control-label title">充值卡号</label>
                        <div class="col-xs-8 row">
                            <input class="form-control input-sm"
                                   type="text"
                                   value="{{ bank_account.account | string_mask }}"
                                   ng-disabled="true"
                            >
                        </div>
                    </div>
                </div>

                <div class="form-group merge">
                    <label>{{ bank_account.bank }}</label>
                    <input class="form-control input-target input-lg blank"
                           type="text"
                           value="{{ bank_account.mask }}"
                           disabled
                    >
                </div>
                <div class="form-group merge">
                    <label for="amount">充值金额</label>
                    <input class="form-control input-target input-lg"
                           type="number"
                           id="amount"
                           ng-model="amountValue"
                           max="1000000"
                           minlength="1"
                           placeholder="输入充值金额"
                           ng-pattern="/^(?!0+(?:\.0+)?$)(?:[1-9]\d*|0)(?:\.\d{1,2})?$/"
                           required
                           ng-change="self.modify_amonut()"
                    > <!--ng-pattern="/^[+]?[\d]+(([\.]{1}[\d]+)|([\d]*))$/"-->
                    <!--"/^[+]?[\d]+\.?[0-9]{0,2}/"-->
                </div>
            </div>

            <!--
            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="bankCode" value="{{bank_account.account}}">-->
            <input type="hidden" name="userId" value="{{self.user.info.id}}">
            <input type="hidden" name="amount" value="{{amountNew}}">
            <input type="hidden" name="isWAP" value="true">
            <input type="hidden" name="retUrl" value="{{ return_url}}">
            <input type="hidden" name="notifyUrl" value="">
            <p class="container limit"><span ng-bind="limit"></span></p>

            <p class="container">
                <button class="btn btn-theme btn-block btn-lg"
                        type="submit"
                        ng-click="self.submit($event,amountValue)"
                        ng-if="self.user.has_payment_account"
                        ng-disabled="form.$invalid || self.submit_sending"
                >确认</button>
            </p>
    </form>
    </section>

    <section class="container notice">
        <h2 class="title">温馨提示：</h2>

        <ol class="list">
            <li><p>718金融暂不收取您的充值费用（第三方收取的费用由718金融垫付）。
            <li><p>充值前请确认您的银行卡限额，718金融对您的充值额度没有限制，限额是由具体开户行决定，如有疑问详询银行客服。
            <li><p>禁止洗钱、虚假交易等行为，一经发现并确认，将终止该账户的使用。
            <li><p>充值过程遇到问题，请查看<a href="/helpCenter">帮助中心</a>或联系客服：<a href="tel:4001718718">4001-718-718</a>（工作日：8：30-17：30）。
        </ol>
    </section>
    
</div>
