
<div id="dashboard-payment-password" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="{{ self.back_path }}"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">交易密码</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
            SUCCEED: '设置成功！',
            FAILURE: '设置失败',
        }">
    </div>

    <div class="alert alert-info">
        重要提示：交易密码关系到您的投资、提现、解绑等操作，请妥善保管!
    </div>

    <div class="page-content">
        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.set_password(password, smsCaptcha)"
              novalidate
        >
            <div class="inputs container">
                <div class="form-group merge">
                    <label for="password"></label>
                    <input id="password" class="form-control input-target input-lg" type="password"
                           name="password"
                           ng-model="password"
                           minlength="6"
                           placeholder="设置 6 位交易密码"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="password2"></label>
                    <input id="password2" class="form-control input-target input-lg" type="password"
                           name="password2"
                           ng-model="password2"
                           placeholder="确认密码"
                           ui-validate=" '!!password && $value == password'"
                           ui-validate-watch=" 'password' "
                           required
                    >
                </div>

                <div class="form-group merge mobile-captcha"
                     ng-class="{
                        'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                        init: !self.captcha.has_sent,
                     }"
                >
                    <label for="mobile_captcha"></label>
                    <input class="form-control input-target input-lg captcha" type="tel"
                           id="mobile_captcha"
                           name="mobile_captcha"
                           ng-model="smsCaptcha"
                           pattern="^\d{6}$"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           placeholder="请输入短信验证码"
                           maxlength="6"
                           required
                    >

                    <button class="btn btn-default btn-sm btn-action btn-theme" type="button"
                            ng-click="self.send_mobile_captcha()"
                            ng-disabled="self.captcha.buffering"
                    >
                        <span class="text">获取验证码</span>
                        <span class="count" ng-show="self.captcha.buffering">
                            {{ self.captcha.count | number: 0 }}
                        </span>
                        <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                    </button>
                </div>

            </div>

            <div class="container">
                <div class="form-group container">
                    <button type="submit" class="btn btn-red btn-block btn-lg"
                            ng-disabled="form.$invalid || self.submit_sending"
                    >确认</button>
                </div>
            </div>
        </form>
    </div>

    <section class="container explain" x-gyro-comment>
        <h5>温馨提示：</h5>
        <ol>
            <li><p>为保障您的资金安全，绑卡前请先进行实名认证。</p></li>
            <li><p>您所绑定的银行卡须是您本人自己的借记卡，奇乐融严禁利用信用卡套现行为。</p></li>
            <li><p>请如实填写您银行卡的开户省市、开户支行信息，如果您不确定开户支行名称，建议您拨打银行“客户服务热线”进行电话咨询。</p></li>
            <li><p>奇乐融目前只支持绑定一张银行卡，认证支付充值提现采用同卡进出原则，即提现银行卡需与充值银行卡一致。</p></li>
        </ol>
    </section>

</div>
