
<div id="dashboard-payment-bind-card" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="{{ self.back_path }}"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">绑定银行卡</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div class="alert alert-info">
        <param class="glyphicon glyphicon-exclamation-sign">
        重要提示：此银行卡的开户名必须为
        <strong>{{ self.user.info.name }}</strong>
        的借记卡，否则提现会失败。每个用户只允许绑定1张银行卡，今后仅能使用该银行卡进行快捷充值与提现；
        绑定后如需更换，须联系客服经审核才能更换。请慎重选择！！
    </div>

    <div class="page-content">
        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.bind_card(store)"
              novalidate
        >
            <div class="inputs container">
                <div class="form-group merge">
                    <label for="bank-name"></label>
                    <select name="bankName" class="form-control input-sm"
                            id="bank-name"
                            ng-model="store.bankName"
                            ng-options="name for (code, name) in banks"
                    >
                        <option value="">...请选择开户银行</option>
                    </select>
                </div>

                <div class="form-group merge">
                    <label></label>

                    <select name="province" class="form-control input-sm"
                            id="province"
                            ng-model="store.province"
                            ng-change="self.fetch_city(store.province)"
                            ng-options="name as name for (name, code) in province"
                    >
                        <option value="">...省</option>
                    </select>

                    <select name="city" class="form-control input-sm"
                            id="city"
                            ng-model="store.city"
                            ng-options="name as name for (name, code) in city"
                    >
                        <option value="">...市</option>
                    </select>
                </div>

                <div class="form-group merge">
                    <label for="branch-name"></label>
                    <input id="branch-name" class="form-control input-target input-lg" type="text"
                           name="branch-name"
                           ng-model="store.branchName"
                           placeholder="开户行（如：招商银行肥西路支行）"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="card-no"></label>
                    <input id="card-no" class="form-control input-target input-lg" type="tel"
                           name="card-no"
                           ng-model="store.cardNo"
                           placeholder="银行卡号"
                           required
                    >
                </div>

                <div class="form-group merge hidden">
                    <label for="card-phone"></label>
                    <input id="card-phone" class="form-control input-target input-lg" type="tel"
                           name="card-phone"
                           ng-model="store.cardPhone"
                           ng-init="store.cardPhone = self.user.info.mobile"
                           placeholder="预留手机号"
                           required
                    >
                </div>

                <div class="form-group merge mobile-captcha"
                     ng-class="{
                        'has-error': form.mobile_captcha.$invalid && form.mobile_captcha.$dirty,
                        init: !self.captcha.has_sent,
                     }"
                >
                    <label for="mobile_captcha"></label>
                    <input class="form-control input-target input-lg captcha" type="tel"
                           id="mobile_captcha"
                           name="mobile_captcha"
                           ng-model="store.smsCaptcha"
                           pattern="^\d{6}$"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           placeholder="请输入短信验证码"
                           maxlength="6"
                           required
                    >

                    <button class="btn btn-default btn-sm btn-action btn-theme" type="button"
                            ng-click="self.send_mobile_captcha()"
                            ng-disabled="self.captcha.buffering"
                    >
                        <span class="text">获取验证码</span>
                        <span class="count" ng-show="self.captcha.buffering">
                            {{ self.captcha.count | number: 0 }}
                        </span>
                        <span class="icon" ng-hide="self.captcha.buffering">重发</span>
                    </button>
                </div>
            </div>

            <div class="container">
                <div class="form-group container">
                    <button type="submit" class="btn btn-red btn-block btn-lg"
                            ng-disabled="self.submit_sending"
                    >立即绑定</button>
                </div>

                <div class="form-group container">
                    <p class="flash-message alert alert-warning text-center"
                       ng-class="{ on: self.error.on }"
                    >
                        {{ self.error.message }}&nbsp;
                    </p>
                </div>
            </div>
        </form>
    </div>

    <section class="container explain">
        <h5>温馨提示：</h5>
        <ol>
            <li>为保障您的资金安全，绑卡前请先进行实名认证。</li>
            <li>您所绑定的银行卡须是借记卡，奇乐融严禁利用信用卡套现。</li>
            <li>奇乐融目前只支持绑定一张银行卡，认证支付充值、提现采用同卡进出原则，即提现银行卡需与充值银行卡一致。</li>
            <li>已绑定的银行卡如需更换，详情查看帮助中心，或联系客服：<a href="tel:4008727676">400-872-7676</a>。</li>
        </ol>
    </section>

</div>
