
<div id="dashboard-payment-register" class="">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="{{ self.back_path }}"><span class="glyphicon glyphicon-menu-left"></span></a>
        <span class="col-xs-6 title">实名认证</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div class="alert alert-info">
        您尚未进行实名认证，未实名认证将无法进行，绑卡、充值、提现、投资等操作。
    </div>

    <div class="page-content">
        <form class="form-flatten form-horizontal"
              name="form"
              ng-submit="self.open_payment_account(user_name, id_number)"
              novalidate
        >
            <div class="inputs container">
                <div class="form-group merge">
                    <label for="user-name"></label>
                    <input id="user-name" class="form-control input-target input-lg" type="text"
                           name="user_name"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           ng-model="user_name"
                           placeholder="真实姓名"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="id-number"></label>
                    <input id="id-number" class="form-control input-target input-lg" type="text"
                           name="id_number"
                           ng-model="id_number"
                           placeholder="身份证号"
                           required
                    >
                </div>
            </div>

            <div class="container">
                <div class="form-group container">
                    <button type="submit" class="btn btn-red btn-block btn-lg"
                            ng-disabled="self.submit_sending"
                    >立即认证</button>
                </div>

                <div class="form-group container">
                    <p class="flash-message alert alert-warning text-center"
                       ng-class="{ on: self.error.on }"
                    >
                        {{ self.error.message }}&nbsp;
                    </p>
                </div>
            </div>
        </form>
    </div>

    <section class="container explain">
        <h5>温馨提示：</h5>
        <ol>
            <li><p>账户实名认证仅面向年满18岁的具有完全民事行为能力的自然人</p></li>
            <li><p>填写的姓名、身份证信息需与您用于提现的银行卡账户名一致。为了保证后续交易提现，请认真如实填写相关信息。</p></li>
        </ol>
    </section>

</div>
