
<div id="lyg-order">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" href="dashboard/invest">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
        <span class="col-xs-6 title">0元购</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
        }">
    </div>

    <section class="container loan"
         x-invest-summary
         data-item="order"
         data-type=" 'repaying' "
    ></section>

    <section class="product">
        <p> <span class="name">商品名称</span> <span class="value">{{ goods.spmc || '{spmc}' }}</span>
        <p> <span class="name">商品编号</span> <span class="value">{{ goods.spbm }}</span>
        <p> <span class="name">商品价格</span> <span class="value">{{ goods.price | number: 2 }}元</span>
        <p> <span class="name">购买日期</span> <span class="value">{{ goods.timeCreate | date: 'yyyy-MM-dd' }}</span>
        <p> <span class="name">购买店铺</span> <span class="value">{{ goods.bmmc || '{bmmc}' }}</span>
        <p> <span class="name">营业员编号</span> <span class="value">{{ goods.gomeUserId }}</span>
    </section>

    <section class="tendering-result">
        <div class="code">
            <div class="code-label">
                <param class="icon glyphicon glyphicon-barcode">
                提货码
                <param class="icon glyphicon glyphicon-barcode">
            </div>
            <samp>{{ goods.goodsPickCode }}</samp>
            <div class="code-note">有效期至 {{ goods.timeExpired | date: 'yyyy-MM-dd' }}</div>
        </div>
    </section>

</div>
