
<div id="lyg">

    <nav class="omit-margin container page-nav">
    <div class="row">
        <a class="col-xs-3 back" ng-href="{{ self.back_path }}">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
        <span class="col-xs-6 title">0元购</span>
        <span class="col-xs-3">&nbsp;</a>
    </div>
    </nav>

    <div>
        <param ng-model="msg" ng-init="msg = {
                    LOAN_NOT_FOUND: '暂无对应的理财产品',
                 CALC_AMOUNT_ERROR: '暂无对应的理财额度',
                  GOODS_NOT_EXISTS: '商品不存在',
              GOME_USER_NOT_EXISTS: '营业员编号不存在',
            PAYMENT_PASSWORD_WRONG: '交易密码不正确',
              GET_PICK_CODE_FAILED: '获取提货码失败',
                       PRICE_LIMIT: '商品价格不正确，最小 <%= min %>元，最大<%= max %>元',

            LOGIN_EXPIRED: '登录过期',
            UNKNOWN: '未知错误',
        }">
    </div>

    <section class="form-wrapper omit-margin" ng-hide="pickup_code">

        <div class="logo" ng-if="!store.amount">
            <img width="92" ng-src="assets/image/lyg-logo.png">
            <i class="slogan">商品0元拿回家，再享银行同期收益！</i>
        </div>

        <form class="form form-horizontal form-flatten"
              name="form"
              autocapitalize="none"
              autocomplete="off"
              autocorrect="off"
              novalidate
        >
            <div class="inputs container u-off-margin-bottom">

                <div class="form-group merge" ng-show="store.goods_name">
                    <label for="goods_name">商品名称</label>
                    <input name="goods_name"
                           id="goods-name"
                           ng-model="store.goods_name"
                           type="text"
                           class="form-control input-target input-lg"
                           disabled
                    >
                </div>

                <div class="form-group merge">
                    <label for="goods">商品编码</label>
                    <input name="goods"
                           id="goods"
                           ng-model="store.goods"
                           ng-disabled="store.amount > 0"
                           type="tel"
                           class="form-control input-target input-lg"
                           placeholder="请输入商品编码"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="price">商品价格</label>
                    <input name="price"
                           id="price"

                           ng-model="store.price"
                           ng-blur="self.evaluate(store.price, 1, 1000000 - 0.01)"
                           ng-disabled="store.amount > 0"
                           maxlength="9"
                           type="text"
                           class="form-control input-target input-lg"
                           placeholder="请输入商品价格"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           required
                    >
                </div>

                <div class="form-group merge">
                    <label for="staff">营业员编号</label>
                    <input name="staff"
                           id="staff"
                           ng-model="store.staff"
                           ng-disabled="store.amount > 0"
                           type="tel"
                           class="form-control input-target input-lg"
                           placeholder="请输入营业员编号"
                           autocapitalize="none"
                           autocomplete="off"
                           autocorrect="off"
                           required
                    >
                </div>

                <div class="form-group merge the-amount" ng-show="store.amount">
                    <label for="amount">投资金额</label>
                    <input name="amount"
                           id="amount"
                           ng-model="store.amount"
                           type="text"
                           class="form-control input-target input-lg"
                           disabled
                    >
                </div>
            </div>
        </form>

        <div x-loan-summary data-loan="loan" data-layout="'chart-right'"
             class="loan-item"
             ng-if="loan"
        ></div>
    </section>

    <section class="container" ng-if="!store.amount">
        <button class="btn btn-theme btn-block btn-next"
                type="button"
                ng-click="self.next(store)"
                ng-disabled="   form.$invalid
                             || self.submitting
                             || (evaluation && !evaluation.good_to_go)
                "
        >下一步</button>
    </section>

    <section class="evaluation" ng-if="evaluation" ng-hide="store.amount">
        <div class="meant" ng-if="evaluation.meant">
            投资预估 <b>{{ evaluation.meant | number: 2 }}</b> 元即可拥有
        </div>

        <div class="remaining" ng-if="!evaluation.good_to_go">
            剩余可投金额 <b>{{ evaluation.remaining | number: 2 }}</b>
        </div>
    </section>

    <section ng-if="store.amount" ng-hide="pickup_code">
        <div class="container" ng-if="self.has_enough_balance()">
            <form class="password-form">
                <input class="form-control input-sm"
                       type="password"
                       ng-model="store.password"
                       placeholder="请输入交易密码"
                >

                <button class="btn btn-theme btn-sm"
                        ng-click="self.submit(store)"
                        ng-disabled="!store.password || self.submitting"
                >确认购买</button>
            </form>
        </div>

        <div class="recharging" ng-if="!self.has_enough_balance()">
            <p class="clearfix info">
                <span class="pull-left">
                    账户余额：{{ self.user.fund.availableAmount | number: 2 }}元
                </span>

                <span class="pull-right">
                    还需充值：<b>{{ self.has_enough_balance(true) | number: 2 }}</b>元
                </span>
            </p>

            <div class="container">
                <a ng-href="dashboard/recharge?amount={{ self.has_enough_balance(true) }}"
                   class="btn btn-theme btn-block btn-sm"
                >去充值</a>
            </div>
        </div>
    </section>

    <section class="tendering-result omit-margin" ng-show="pickup_code">
        <div class="title">购买成功</div>
        <div class="title-note">提货码已通过短信发送到您的手机</div>

        <div class="code">
            <div class="code-label">
                <param class="icon glyphicon glyphicon-barcode">
                提货码
                <param class="icon glyphicon glyphicon-barcode">
            </div>
            <samp>{{ pickup_code || '{pickup_code}' }}</samp>
            <div class="code-note">有效期至 {{ expire_time | date: 'yyyy-MM-dd' }}</div>
        </div>
    </section>
    <section class="container" ng-show="pickup_code">
        <a href="./" class="btn btn-block btn-theme btn-md">完成</a>
    </section>

</div>
