<style>
.ccc-agreement-wrap {}
.ccc-agreement-container {
    height: 300px;
    margin: 20px 20px 0;
    background: #F9F9F9;
    border-radius: 3px;
    overflow-y: auto;
}
.ccc-agreement-container > div {
    padding: 10px;
}
</style>
<div class="ccc-agreement-wrap">
	<div class="ccc-agreement-container">
		<div>
		    <p class="align-center" style="padding-top:30px">loading...</p>
		</div>
	</div>
	<div class="space space-10"></div>
	<div class="row">
		<div class="col-md-12 align-center">
			<button class="btn btn-primary btn-ok">{{okText}}</button>
		</div>
	</div>
</div>