{{>layouts.default.head}}
<link rel="stylesheet" href="/css/list.css">
{{>layouts.default.header}}
<div class="news-page">
    <div class="detail-container">
        <h1 class="article-title">{{detail.title}}</h1>
        <div class="detail-wrapper">
            <div class="detail-main">
               <div class="article-column">
                   <!--<span class="pull-left return_list"><a href="/cms/news">动态列表</a></span>-->
                   <span class="pull-right time">发布时间{{detail.pubDate}}</span>
                   <div class="clear"></div>
               </div>
                <div class="article-content">
                    {{{detail.content}}}                    
                </div>                
            </div>        
        </div>
    </div>
</div>
{{>layouts.default.footer}}
<script src="/assets/js/main/header.js"></script>