
<div id="help">

    <nav class="omit-margin container page-nav">
        <div class="row">
        <span class="col-xs-3 back" x-go-back>
            <param class="glyphicon glyphicon-menu-left">
        </span>
            <span class="col-xs-6 title">教育风险</span>
            <span class="col-xs-3">&nbsp;</span>
        </div>
    </nav>

    <section class="help-info" style="width:90%;margin:0.5rem auto">
        <ul class="list-group" style="padding-left:0">
            <li class="list-group-item"><a href="educationRisk?name=法律法规" style="display: inline-block;width:7rem;">法律法规<param class="pull-right glyphicon ng-scope glyphicon-menu-right"></a></li>
            <li class="list-group-item"><a href="educationRisk?name=出借人风险教育" style="display: inline-block;width:7rem;">出借人风险教育<param class="pull-right glyphicon ng-scope glyphicon-menu-right"></a></li>
            <li class="list-group-item"><a href="educationRisk?name=出借人风险教育" style="display: inline-block;width:7rem;">出借人风险教育<param class="pull-right glyphicon ng-scope glyphicon-menu-right"></a></li>
        </ul>
    </section>

</div>
