<link rel="stylesheet" href="styles/act/appHtml.css">
<div id="firmSecurity">
    <div class="imgFrame">
    <img src="assets/image/appHtml/advantage-first.png" alt="" width="100%">
    </div>
    <h2>千万级风险准备金</h2>
    <p>718金融为广大投资者推出的投后保障制度。 新毅控股出资千万级保证基金并且随日后交易额增加逐步追加，作为收购未来所有参与投资项目发生逾期或违约的资产，进一步保障投资者的本金及收益安全。</p>
    <div class="imgFrame">
    <img src="assets/image/appHtml/advantage-second.png" alt="" width="100%">
    </div>
    <h2>技术支持 信息安全</h2>
    <p>系统采用云计算技术、国外知名机构颁发的服务器证书、128位密钥，前后台登录均使用图形验证码（彩色+扭曲+线条遮罩等干扰方式），连续5次登录失败直接锁定账号。成功及失败登录的来源（Web、App）、IP及相关信息后后台重点操作均保留操作日志记录。</p>
    <div class="imgFrame">
    <img src="assets/image/appHtml/advantage-third.png" alt="" width="100%">
    </div>
    <h2>第三方财险承保 交易资金更安全</h2>
    <p>第三方财险承保 交易资金更安全 <br>
        718金融拟与第三方财险达成战略合作，拟由第三方财险承保718金融平台交易资金损失保险。</p>
    <div class="imgFrame">
    <img src="assets/image/appHtml/advantage-forth.png" alt="" width="100%">
    </div>
    <h2>法律保障 律所护航</h2>
    <p>718金融聘用了盈科律师事务所为常年法律顾问。盈科律师事务所，是一家全球化法律服务机构。致力于为718金融客户提供全方位商务法律服务。<br>
        718金融的所有合同协议均通过专业律师审核。致力于为718金融客户搭建一个信息透明、诚信度高、风险低、回报稳定、成本可控的互联网借贷撮合平台。</p>
    <div class="imgFrame">
    <img src="assets/image/appHtml/advantage-fifth.png" alt="" width="100%">
    </div>
    <h2>风控审核 项目优选</h2>
    <p>718金融挑选优质的资产，项目背景真实合法；银行级的21层风控审核，严查企业征信信息，保障项目来源真实、合法合规且符合国家的信贷政策，资金更安全，兑付有保障。</p>
    <div class="imgFrame">
    <img src="assets/image/appHtml/advantage-sixth.png" alt="" width="100%">
    </div>
    <h2>AAA级项目来源</h2>
    <p>应收账款，来自于国家支持绿色环保朝阳产业的国企、央企、上市公司应收账款融资、票据类资产融资项目；国企、央企、上市公司应付账款质押类资产。<br>
        供应链金融， 应收账款衍生出来清洁能源、医疗器械、健康产业、3C、通信、环保等供应链融资。</p>

</div>