<link rel="stylesheet" href="styles/act/swiper.min.css">
<link rel="stylesheet" href="styles/act/appHtml.css">
<!-- Demo styles -->
<style>
    html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 0.32rem;;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        background:#eeefef;
    }
    #swiper-container2 .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-container-horizontal>.swiper-scrollbar{bottom:0px;}
    #swiper-container2 .swiper-slide{
        line-height:2 !important;
        color:#666 !important;
        font-size:14px !important;
        background:#eee !important;

    }
    #swiper-container3 .swiper-slide{
        padding-top:1.3rem;
        /*font-family: 'Microsoft YaHei UI', 'Arial Unicode MS', Arial;*/
        background-color:#fff;
    }
    #swiper-container2{position:fixed;z-index:1000;height:1rem;font-size:0.32rem}
    #swiper-container2 .active-nav{
        /*background:#ddd !important;*/
        color:#5ca0f9!important;
    }

    /*配合修改*/
    .slide-1,.slide-2,.slide-3,.slide-4,.slide-5,.slide-6{padding-bottom:3rem}
    #swiper-container3 .swiper-slide h2{font-size:0.32rem;color:#5ca0f9; text-align: center}
    #swiper-container3 .swiper-slide article,#swiper-container3 .swiper-slide p{color:#777;font-size:0.2666667rem;line-height:0.7rem; text-indent: 2em;margin-bottom:0.5rem;padding:0 0.5rem;}
    #swiper-container3 .swiper-slide h3{font-size:0.2666667rem;color:#000;text-align: left;padding:0 0.5rem }
    #swiper-container3 .swiper-slide img{text-align:center;margin:0.3rem auto;width:100%;display:block}
    #swiper-container3 .swiper-slide p{text-indent:0;}
    .slide-1{heigth:55rem}
    #swiper-container3 .manage td{text-align: center;}
    #swiper-container3 .platInfo td{border-left: 1px solid #eeefef;border-top: 1px solid #eeefef;padding:5px;}
    #swiper-container3 .platInfo a,#swiper-container3 .companyInfo a{color:#36A9CE;}
    #swiper-container3 .opertion,#swiper-container3 .platInfo,#swiper-container3 .companyInfo{text-align: center;border-right: 1px solid #eeefef;border-bottom: 1px solid #eeefef;}
    #swiper-container3 .opertion td,#swiper-container3 .companyInfo td{text-align: center;padding:20px 0;border-left: 1px solid #eeefef;border-top: 1px solid #eeefef;}
</style>
    <div class="swiper-container" id="swiper-container2">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="(index,data) in informationList" ng-class="{'active-nav':index==0}" >
                {{data}}</div>
            <!--<div class="swiper-slide">-->
                <!--联系我们</div>-->
        </div>
    </div>
<div class="swiper-container" id="swiper-container3">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide" ng-repeat="(index,data) in informationDetail" ng-class="data.class" ng-bind-html="data.data">
        </div>
        

        <!--<div class="swiper-slide slide-7">-->
            <!--<h3>重大事件</h3>-->
        <!--</div>-->
    </div>
</div>
