{{>layouts.default.head}}
<link rel="stylesheet" href="/css/gonglue.css">
{{>layouts.default.header}}
<div class="page-gonglue">
    <div class="step1">           
    </div>
    <div class="step step2">
        <img src="/img/step2.jpg" />
    </div> 
    <div class="step step3">
        <img src="/img/step3.jpg" />
    </div>
    <div class="step step4">
        <img src="/img/step4.jpg" />
    </div>
    <div class="step step5">
        <img src="/img/step5.jpg" />
    </div>   
    
    <div class="step step6">
        <img src="/img/step6.jpg" />
    </div>
    <div class="step step7">
        <img src="/img/step7.jpg" />
    </div>
    <div class="step step8">
        <img src="/img/step8.jpg" />
    </div>
    <div class="step step9">
        <img src="/img/step9.jpg" />
    </div>
</div>

{{>layouts.default.footer}}
<script src="/assets/js/main/header.js"></script>