.page-account-recharge .amount-info-wp {
  padding: 15px;
  border-radius: 3px;
  background: #f5f5f5;
}
.page-account-recharge .amount-info-wp span {
  display: inline-block;
  vertical-align: middle;
}
.page-account-recharge .amount-info-wp span em {
  font-size: 2em;
  font-style: normal;
  vertical-align: sub;
  padding-left: 10px;
}
.page-account-recharge .amount-info-wp span.split {
  padding-left: 20px;
  padding-right: 20px;
}
ul.dec-li li {
  padding: 3px 0;
}
.bankcards-wrap {
  height: auto;
  clear: both;
  overflow: auto;
}
.bankcards-wrap .bankcard-box {
  width: 300px;
  height: 160px;
  border: 1px #ddd solid;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center -6px;
}
.bankcards-wrap .bankcard-box .bankcard-no {
  margin-top: 28px;
  border-top: 1px #ddd solid;
}
.bankcards-wrap .bankcard-box .bankcard-no span {
  display: inline-block;
  padding: 15px 0;
  font-size: 18px;
  color: #888;
}
.bankcards-wrap .bankcard-box .bank-img {
  margin: 30px auto 0 auto;
}
.inputsMs {
  width: 160px;
  height: 40px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
.inputsMs:focus {
  border-color: #66afe9;
}
.sendCode {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  background-color: #b5a16b;
  float: right;
  position: relative;
  left: 0px;
}
.rechargeMthod {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border-bottom: 2px #ccc solid;
  text-align: center;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}
.current {
  font-size: 16px;
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.bankwrap .bankItem {
  width: 160px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  margin: 10px 10px 0 0;
}
.currentBank {
  border-width: 2px;
  border-style: solid;;
  border-color: #f0ad4e;
}
.ABC {
  background: url(/ccc/global/img/banks/ABCs.png) no-repeat center #fff;
}
.BCCB {
  background: url(/ccc/global/img/banks/BCCB.png) no-repeat center #fff;
}
.CCB {
  background: url(/ccc/global/img/banks/CCBs.png) no-repeat center #fff;
}
.CIB {
  background: url(/ccc/global/img/banks/CIBs.png) no-repeat center #fff;
}
.PAB {
  background: url(/ccc/global/img/banks/PAB.png) no-repeat center #fff;
}
.CITIC {
  background: url(/ccc/global/img/banks/CITIC.png) no-repeat center #fff;
}
.CMBC {
  background: url(/ccc/global/img/banks/CMBCs.png) no-repeat center #fff;
}
.CMB {
  background: url(/ccc/global/img/banks/CMBs.png) no-repeat center #fff;
}
.SPDB {
  background: url(/ccc/global/img/banks/SPDBs.png) no-repeat center #fff;
}
.ICBC {
  background: url(/ccc/global/img/banks/ICBCs.png) no-repeat center #fff;
}
.BOCOM {
  background: url(/ccc/global/img/banks/BOCOMs.png) no-repeat center #fff;
}
.CEB {
  background: url(/ccc/global/img/banks/CEBs.png) no-repeat center #fff;
}
.BOC {
  background: url(/ccc/global/img/banks/BOCs.png) no-repeat center #fff;
}
.SRCB {
  background: url(/ccc/global/img/banks/SRCBs.png) no-repeat center #fff;
}
.HXB {
  background: url(/ccc/global/img/banks/HXBs.png) no-repeat center #fff;
}
.HKBEA {
  background: url(/ccc/global/img/banks/HKBEAs.png) no-repeat center #fff;
}
.WZCB {
  background: url(/ccc/global/img/banks/WZCBs.png) no-repeat center #fff;
}
.PSBC {
  background: url(/ccc/global/img/banks/PSBCs.png) no-repeat center #fff;
}
/*# sourceMappingURL=/ccc/account/css/recharge.css.map */