<!DOCTYPE html>
<html>
<head>
	<title>step1</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/rongzi.css">
	<link rel="stylesheet" type="text/css" href="../css/jquery.datetimepicker.css">
	<script src="http://libs.baidu.com/jquery/1.8.0/jquery.min.js"></script>
	<script src="../js/rzcommon.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/houIndex.css">
	<style type="text/css">
		.rongzi{background-color: #fff;}
	</style>
</head>
<body>
	<div class="nav">
		<div class="navstep1 relative0 active">企业信息</div>
		<div class="navstep2 relative15">融资需求</div>
		<div class="navstep3 relative30">担保情况</div>
	</div>
	<div class="common" style="height:790px;">
		<div class="rongzi step1">
			<div class="leftInfor" style="border: 0;">
				<div class="rzInforBox">
					<ul>
						<li>
							<label for="companyName"><span class="red">*</span>公司全称:</label>
							<input id="companyName" type="text" maxlength="60">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="userName"><span class="red">*</span>法人姓名:</label>
							<input id="userName" type="text" maxlength="20">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="userCode"><span class="red">*</span>法人身份证:</label>
							<input id="userCode" type="text"  maxlength="18">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="companyAddress"><span class="red">*</span>公司地址:</label>
							<input id="companyAddress" type="text" maxlength="60">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="business"><span class="red">*</span>公司经营范围:</label>
							<input id="business" type="text" maxlength="100">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="phoneNum"><span class="red">*</span>联系电话:</label>
							<input id="phoneNum" type="text"  maxlength="12">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="email"><span class="red">*</span>电子邮箱:</label>
							<input id="email" type="text"  maxlength="60">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="companyDate"><span class="red">*</span>公司成立日期:</label>
							<input id="companyDate" type="text" onfocus="this.blur()" >
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="companyLicence"><span class="red">*</span>营业执照号码:</label>
							<input id="companyLicence" type="text"  maxlength="15">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="companyIC"><span class="red">*</span>组织机构代码:</label>
							<input id="companyIC" type="text">
							<div class="tip hiddenrz"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="rongzi step2 hide">
			<div class="leftInfor">
				<div class="rzInforBox">
					<ul>
						<li>
							<label for="rongziMoney"><span class="red">*</span>融资金额:</label>
							<input id="rongziMoney" type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'') "><span>元</span>
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="rongziTime"><span class="red">*</span>融资期限:</label>
							<input id="rongziTime" type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'') "><span>天</span>
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="rongziStyle">融资方式:</label>
							<select>
								<option value="">应收账款转让</option>
								<option value="">质押贷款</option>
								<option value="">抵押贷款</option>
								<option value="">信用担保贷款</option>
								<option value="">供应链融资</option>
								<option value="">其他</option>
							</select>
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="APY"><span class="red">*</span>拟承担年化利率:</label>
							<div id="APY">
								<input id="APYstart" type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'') "> % -
								<input id="APYend" type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'') "> %
							</div>
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="repaymentStyle"><span class="red">*</span>还款方式:</label>
							<select id="repaymentStyle">
								<option value="">一次性到期还本付息</option>
								<option value="">按季付息到期还本</option>
								<option value="">按月付息到期还本</option>
							</select>
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="rongziUse"><span class="red">*</span>融资用途:</label>
							<input id="rongziUse" type="text">
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="otherInf">其它情况:</label>
							<input id="otherInf" type="text">
							<div class="tip hiddenrz"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="rongzi step3 hide">
			<div class="leftInfor">
				<div class="rzInforBox">
					<ul>
						<li style="text-align: center;">
							<label for="assure" style="float: none;"><span class="red">*</span>融资企业是否可以提供担保:</label>
							<div id="assure">
								<input type="radio" name="assure" value="yes" checked/>是
								<input type="radio" name="assure" value="no" />否
							</div>
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="assureStyle">担保方式:</label>
							<select>
								<option value="ziranren">自然人担保</option>
								<option value="jihou">机构担保</option>
								<option value="zidi">资产抵押</option>
								<option value="zizhi">资产质押</option>
								<option value="danbaoOther">其他方式</option>
							</select>
							<div class="tip hiddenrz"></div>
						</li>
						<li>
							<label for="assureInf"><span class="red">*</span>担保情况介绍:</label>
							<input id="assureInf" type="text">
							<div class="tip hiddenrz"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<div style="width:320px;margin:auto;font-size:0;margin-top:20px;">
		<div class="agreeBtn htBtn">同意</div>
		<div class="falseBtn htBtn">驳回</div>
	</div>
	
	<div class="falseInf hide">
		<div class="closeBtn">x</div>
		<div>
			<span class="dlbTop">驳回原因</span>
			<textarea class="dlbTop falseText resizeno" width="200" height="150" ></textarea>
		</div>
		
		<div class="htBtn bohuiCauseBtn">提交</div>
	</div>
	<script src="/project-xyjr/web/src/nnfe/rongzi/js/rongziForm.js"></script>
	<script type="text/javascript" src="../js/jquery.datetimepicker.full.min.js"></script>
	<script type="text/javascript" src="../js/houIndex.js"></script>
</body>
</html>