<!DOCTYPE html>
<html>
<head>
	<title>step1</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/rongzi.css">
	<script src="http://libs.baidu.com/jquery/1.8.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/houIndex.css">
</head>
<body>
	<div class="common">
		<div class="rongzi step4">
			<div class="rzList">
		<div class="dib">显示
			<select>
				<option>10</option>
			</select>
			条记录
		</div>
		<div class="fr">搜索
			<input type="text">
		</div>
		<table style="width:100%;" cellspacing="0">
			<thead>
				<tr>
					<td>联系人</td>
					<td>手机号码</td>
					<td>申请金额</td>
					<td>申请时间</td>
					<td>申请期限</td>
					<td>拟承担年化利率</td>
					<td>借款用途</td>
					<td>企业全称</td>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="blue">苏尼尼</span></td>
					<td>18668017235</td>
					<td>100000</td>
					<td>2016-04-07 06:11:33</td>
					<td>9个月</td>
					<td>10%-15%</td>
					<td>用途</td>
					<td>诉你你企业融资</td>

				</tr>
			</tbody>
		</table>
		<div style=" padding: 30px 0;">
			<div class="dib">显示第1-1条记录，共1条</div>
			<div class="page fr">
				<div class="prev">《</div>
				<div class="pageNum active">1</div>
				<div class="next">》</div>
			</div>
		</div>
	</div>
	<script src="/project-xyjr/web/src/nnfe/rongzi/js/rongziForm.js"></script>
	<script type="text/javascript" src="../js/jquery.datetimepicker.full.min.js"></script>
	<script type="text/javascript" src="../js/houIndex.js"></script>
</body>
</html>