<!DOCTYPE html>
<html>
<head>
	<title>step1</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/rongzi.css">
</head>
<body>
	<div class="header"></div>
	<div class="rongzi step1">
		<div class="leftInfor">
			<div class="rongziheadImg rongziheadImg1"></div>
			<div class="rzInforBox">
			<ul>
				<li>
					<label for="companyName"><span class="red">*</span>公司全称:</label>
					<input id="companyName" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="userName"><span class="red">*</span>法人姓名:</label>
					<input id="userName" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="userCode"><span class="red">*</span>法人身份证:</label>
					<input id="userCode" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="companyAddress"><span class="red">*</span>公司地址:</label>
					<input id="companyAddress" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="business"><span class="red">*</span>公司经营范围:</label>
					<input id="business" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="phoneNum"><span class="red">*</span>联系电话:</label>
					<input id="phoneNum" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="email"><span class="red">*</span>电子邮箱:</label>
					<input id="email" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="companyDate"><span class="red">*</span>公司成立日期:</label>
					<input id="companyDate" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="companyLicence"><span class="red">*</span>营业执照号码:</label>
					<input id="companyLicence" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="companyIC"><span class="red">*</span>组织机构代码:</label>
					<input id="companyIC" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<div class="nextStep off">下一步</div>
				</li>
			</ul>
			</div>
		</div>
		<div class="rzRight">
			<div class="rzrightTit"><i class="rzrightIcon"></i><span>借款流程</span></div>
			<div class="rightImg"></div>
		</div>
	</div>
	<div class="rongzi step2">
		<div class="leftInfor">
			<div class="rongziheadImg rongziheadImg2"></div>
			<div class="rzInforBox">
			<ul>
				<li>
					<label for="rongziMoney"><span class="red">*</span>融资金额:</label>
					<input id="rongziMoney" type="text"><span>元</span>
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="rongziTime"><span class="red">*</span>融资期限:</label>
					<input id="rongziTime" type="text"><span>天</span>
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="rongziStyle"><span class="red">*</span>融资方式:</label>
					<select>
						<option value="">应收账款转让</option>
						<option value="">质押贷款</option>
						<option value="">抵押贷款</option>
						<option value="">信用担保贷款</option>
						<option value="">供应链融资</option>
						<option value="">其他</option>
					</select>
					<input id="userCode" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="companyAddress"><span class="red">*</span>公司地址:</label>
					<input id="companyAddress" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="business"><span class="red">*</span>公司经营范围:</label>
					<input id="business" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="phoneNum"><span class="red">*</span>联系电话:</label>
					<input id="phoneNum" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="email"><span class="red">*</span>电子邮箱:</label>
					<input id="email" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="companyDate"><span class="red">*</span>公司成立日期:</label>
					<input id="companyDate" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="companyLicence"><span class="red">*</span>营业执照号码:</label>
					<input id="companyLicence" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<label for="companyIC"><span class="red">*</span>组织机构代码:</label>
					<input id="companyIC" type="text">
					<div class="tip hiddenrz"></div>
				</li>
				<li>
					<div class="nextStep off">下一步</div>
				</li>
			</ul>
			</div>
		</div>
		<div class="rzRight">
			<div class="rzrightTit"><i class="rzrightIcon"></i><span>借款流程</span></div>
			<div class="rightImg"></div>
		</div>
	</div>
	<div class="footer"></div>
<script src="http://libs.baidu.com/jquery/1.8.0/jquery.min.js"></script>
<!--<script type="text/javascript">-->
	<!--$.get("/project-xyjr/web/src/nnfe/global/header.html",function(data){-->
		<!--$(".header").html(data);-->
	<!--});-->
	<!--$.get("/project-xyjr/web/src/nnfe/global/footer.html",function(data){-->
		<!--$(".footer").html(data);-->
	<!--});-->
<!--</script>-->
<script src="/project-xyjr/web/src/nnfe/rongzi/js/rzcommon.js"></script>
</body>
</html>