<!DOCTYPE html>
<html>
<head>
	<title>step1</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/rongzi.css">
	<script src="http://libs.baidu.com/jquery/1.8.0/jquery.min.js"></script>
	<script src="/project-xyjr/web/src/nnfe/rongzi/js/rzcommon.js"></script>
	<script src="/project-xyjr/web/src/nnfe/rongzi/js/rongziForm.js"></script>
</head>
<body>
	<!--<div class="header"></div>-->
	<script src="../applyloan_files/id.php" charset="utf-8"></script>

	<link rel="stylesheet" href="../applyloan_files/base-db6d74b2.css">
	<link rel="stylesheet" href="../applyloan_files/base1-2ab14ffe.css">



	<style type="text/css">
		.header-sider{
			width: 330px;
			height: 30px;
			overflow: hidden;
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}
		.header-sider img{
			position: absolute;
			top: 0;
		}
	</style>
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".login").css("display","none");
			var userId="05FDDC09-6ECB-4404-8A16-464EE47C46E8";
			if(!userId){
				return;
			}
			$.ajax({
				url:"/api/v2/user/"+userId,
				type:"get",
				dataType:"json",
				success:function(data){
					if(data){
						$(".logout").css("display","none");
						$(".login").css("display","block");
					}
				},
				error:function(data){
					//location.href="/login";
				}
			})
		})
	</script>
	<!--头部start-->
	<div class="s-header" id="s-header-height">
		<!--客服电话 登录 注册start-->
		<div class="s-header-info" id="nav-color" style="background:#eee">
			<div class="s-header-info-content u-pos-r-center">
				<span class="nav-phone"><img src="../applyloan_files/phone-953a49c0.png"></span>
				<span class="nav-customer" style="color:#999">客服电话：4001-718-718</span>
				<div class="header-sider" style="margin-left:-45px;">
					<img src="../applyloan_files/lc-header-sider-b74cb001.png" alt="合作下载" style="top: -24.8488px;">
					<img src="../applyloan_files/lc-header-sider-b74cb001.png" alt="合作下载" style="top: 155.151px;">
				</div>
				<script type="text/javascript">
					jQuery(function(){
						clone();
						function gundong(){
							var imgH1=parseInt(jQuery('.header-sider img').eq(0).css('top'));
							if (imgH1>-180) {
								jQuery('.header-sider img').animate({top: '-=30'},500);
							}else if(imgH1==-180){
								jQuery('.header-sider img').eq(0).remove();
								clone();
							}
						}
						function clone(){
							jQuery('.header-sider img').clone().appendTo('.header-sider');
							jQuery('.header-sider img').eq(1).css('top','180px');
						}
						var t1 = window.setInterval(gundong,1000);
					})
				</script>
				<img style="display:none" class="float-img" src="../applyloan_files/app-cf682a29.png" alt="扫码下载APP">

				<!--未登录start-->
				<div class="nav-mobile logout" style="width:64px;">
					<span>|</span>
					<a href="" id="mobileCustomer" class="text">
						<img src="../applyloan_files/mobile-41f91aa2.png" onmouseover="this.src=&#39;/ccc/global/img/mobile-nav-8b136859.png&#39;" onmouseout="this.src=&#39;/ccc/global/img/mobile-41f91aa2.png&#39;">
					</a>
				</div>
				<div class="nav-fastregister logout">
					<span>|</span>
					<a href="http://www.718zc.com/register" id="dingbuzhuce" class="text">注册</a>
				</div>
				<div class="nav-fastlogin logout">
					<a href="http://www.718zc.com/login" id="dingbudenglu" class="text">登录</a>
				</div>
				<!--未登录end-->
				<!--已登录start-->
				<a href="/help/login" class="text account login" style="color:#999;font-size:12px;margin-left:10px;text-decoration:none">帮助中心 </a>
				<!--loginName存在-->
				<a href="/newAccount/message" class="login">
					<div  style="color:#f58220;position:relative;bottom:4px;" class="text"><img  						src="/ccc/newAccount/img/message.png" alt="" style="margin:0;width:20px;						"><span id='head-message-container' style="color:#009ada;font-size:12px;						margin:0;position:relative;top:1px;margin-left:5px;"></span>
					</div>
				</a>

				<a href="/logout" class="text login" style="color:#999;margin-right:5px;">退出&nbsp;&nbsp;|</a>
				<!--用户名存在-->
				<a href="/newAccount/home" class="login"><div id='head-ractive-container' 					style="color:#009ada;position:relative;bottom:1px;" class="text">用户名</div></a>

				<a href="/newAccount/home" class="login"><div id='head-ractive-container' 					style="color:#f58220;position:relative;bottom:1px;" class="text">手机号</div></a>
				<!--已登录end-->

			</div>
		</div>
		<!--客服电话 登录 注册end-->
		<!--头部菜单栏start-->
		<div class="s-header-menu" id="menu">
			<div class="s-header-menu-content u-pos-r-center">
				<a href="http://www.718zc.com/" style="float: left;" alt="新毅" title="新毅">
					<img class="s-icon" style="margin-width:300px;" src="../applyloan_files/navLogo-e6670385.png">
				</a>
				<ul class="u-nolist-ul">
					<li class="u-nolist-ul-li">
						<a class="u-nolist-a" href="http://www.718zc.com/" style="background: rgb(255, 255, 255);">首页</a>
						<ul class="u-seclist-ul" style="display: none;"></ul>
					</li>
					<li class="u-nolist-ul-li">
						<a class="u-nolist-a" href="http://www.718zc.com/invest">理财产品</a>
						<ul class="u-seclist-ul">
							<li><a href="http://www.718zc.com/invest/XNB">新能宝</a></li>
							<li><a href="http://www.718zc.com/invest/HDZX">活动标</a></li>
							<li><a href="http://www.718zc.com/invest/XSZX">新手标</a></li>
						</ul>
					</li>
					<li class="u-nolist-ul-li">
						<a class="u-nolist-a" href="http://www.718zc.com/userKnow">用户须知</a>
						<ul class="u-seclist-ul"></ul>
					</li>
					<li class="u-nolist-ul-li">
						<a class="u-nolist-a" href="http://www.718zc.com/newAccount/home">我的地盘</a>
						<ul class="u-seclist-ul"></ul>
					</li>
				</ul>
			</div>
		</div>
		<!--头部菜单栏end-->
	</div>
	<script src="../applyloan_files/header.js"></script>
	<!--头部end-->




	<!--++++++++++++++++++++=====-->
	<form name="loanIntent" action="" method="post">
		<div class="rongzi step1 hide">
			<div class="leftInfor">
				<div class="rongziheadImg rongziheadImg1"></div>
				<div class="rzInforBox">
				<ul>
					<li>
						<label for="companyName"><span class="red">*</span>公司全称:</label>
						<input id="companyName" type="text" name="coporationName">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="userName"><span class="red">*</span>法人姓名:</label>
						<input id="userName" type="text" name="name">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="userCode"><span class="red">*</span>法人身份证:</label>
						<input id="userCode" type="text" name="idcard">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="companyAddress"><span class="red">*</span>公司地址:</label>
						<input id="companyAddress" type="text" name="addressDetail">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="business"><span class="red">*</span>公司经营范围:</label>
						<input id="business" type="text" name="businessScope">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="phoneNum"><span class="red">*</span>联系电话:</label>
						<input id="phoneNum" type="text" name="mobile">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="email"><span class="red">*</span>电子邮箱:</label>
						<input id="email" type="text" name="email">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="companyDate"><span class="red">*</span>公司成立日期:</label>
						<input id="companyDate" type="text" name="companyCreateTime">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="companyLicence"><span class="red">*</span>营业执照号码:</label>
						<input id="companyLicence" type="text" name="licenseNumber">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="companyIC"><span class="red">*</span>组织机构代码:</label>
						<input id="companyIC" type="text" name="organizationNumber">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<div class="nextStep">下一步</div>
					</li>
				</ul>
				</div>
			</div>
			<div class="rzRight">
				<div class="rzrightTit"><i class="rzrightIcon"></i><span>借款流程</span></div>
				<div class="rightImg"></div>
			</div>
		</div>
		<div class="rongzi step2 hide">
			<div class="leftInfor">
				<div class="rongziheadImg rongziheadImg2"></div>
				<div class="rzInforBox">
				<ul>
					<li>
						<label for="rongziMoney"><span class="red">*</span>融资金额:</label>
						<input id="rongziMoney" type="text" name="amout"><span>元</span>
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="rongziTime"><span class="red">*</span>融资期限:</label>
						<input id="rongziTime" type="text" name="days"><span>天</span>
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="rongziStyle">融资方式:</label>
						<select name="financingWay">
							<option value="RECEIVABLE">应收账款转让</option>
							<option value="HYPOTHECATED">质押贷款</option>
							<option value="MORTGAGE">抵押贷款</option>
							<option value="CREDIT">信用担保贷款</option>
							<option value="CHAIN">供应链融资</option>
							<option value="OTHER">其他</option>
						</select>
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="APY"><span class="red">*</span>拟承担年化利率:</label>
						<div id="APY">
							<input id="APYstart" type="text" name="minRate"> % -
							<input id="APYend" type="text" name="maxRate"> %
						</div>
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="repaymentStyle"><span class="red">*</span>还款方式:</label>
						<select id="repaymentStyle" name="repayWay">
							<option value="ONETIME">一次性到期还本付息</option>
							<option value="QUARTERLY">按季付息到期还本</option>
							<option value="MONTHLY">按月付息到期还本</option>
						</select>
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="rongziUse"><span class="red">*</span>融资用途:</label>
						<input id="rongziUse" type="text" name="loanPurposeCustomized">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="otherInf">其它情况:</label>
						<input id="otherInf" type="text" name="description">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<div class="nextStep">下一步</div>
					</li>
				</ul>
				</div>
			</div>
			<div class="rzRight">
				<div class="rzrightTit"><i class="rzrightIcon"></i><span>借款流程</span></div>
				<div class="rightImg"></div>
			</div>
		</div>
		<div class="rongzi step3 hide">
			<div class="leftInfor">
				<div class="rongziheadImg rongziheadImg3"></div>
				<div class="rzInforBox">
				<ul>
					<li style="text-align: center;">
						<label for="assure" style="float: none;"><span class="red">*</span>融资企业是否可以提供担保:</label>
						<div id="assure">
							<input type="radio" name="assure" value="1" checked/>是
							<input type="radio" name="assure" value="0" />否
						</div>
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="assureStyle">担保方式:</label>
						<select  name="assureWay">
							<option value="NATURAL">自然人担保</option>
							<option value="NATURAL">机构担保</option>
							<option value="NATURAL">资产抵押</option>
							<option value="ASSETS">资产质押</option>
							<option value="OTHER">其他方式</option>
						</select>
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<label for="assureInf"><span class="red">*</span>担保情况介绍:</label>
						<input id="assureInf" type="text" name="assureInfo">
						<div class="tip hiddenrz"></div>
					</li>
					<li>
						<!--
												<div class="nextStep off">下一步</div>
						-->
						<button type="submit" class="nextStep">下一步</button>
					</li>
				</ul>
				</div>
			</div>
			<div class="rzRight">
				<div class="rzrightTit"><i class="rzrightIcon"></i><span>借款流程</span></div>
				<div class="rightImg"></div>
			</div>
		</div>
		<div class="rongzi step4">
			<div class="leftInfor">
				<div class="rongziheadImg rongziheadImg4"></div>
				<div class="rzInforBox">
					<div class="rzFinishImg"></div>
					<div class="rzFinishWord">资料已提交成功，我们将在3～5个工作日给您回复！</div>
				</div>
			</div>
			<div class="rzRight">
				<div class="rzrightTit"><i class="rzrightIcon"></i><span>借款流程</span></div>
				<div class="rightImg"></div>
			</div>
		</div>
	</div>
	<div class="footer"></div>
</body>
</html>