<div class="ccc-confirm-wrap">
    <div class="space space-30"></div>
    <div class="align-center">
        <p>{{msg}}</p>
        <span>验证码</span>
        <input type="text" class="msmcaptcha" autocomplete="off" />
        <a href="javascript:;"  class="u-btn-blue getcaptcha">获取短信验证码</a>
    </div>
    <div class="space space-30"></div>
    <div class="row">
        <div class="col-md-12 align-center">
            <button class="btn btn-success btn-confirm-ok">{{okText}}</button>
        </div>
    </div>
</div>