<link rel="stylesheet" href="/ccc/activity/css/festival.css">
<div class="big-container">
    <div class="banner"></div>
    <div class="main_content">
        <div class="detail">
            <div class="title">
                <img src="/ccc/activity/img/festival/head.png">
            </div>
            <div class="list">
                <img src="/ccc/activity/img/festival/title_time.png">
                <p class="time">12月4日-12月15日</p>
            </div>
            <div class="list title_content">
                <img src="/ccc/activity/img/festival/title_content.png">
                <p class="time">活动内容</p>
                <div class="list_detail">
                    <div class="list_detail_1">
                        <img src="/ccc/activity/img/festival/one.png">
                        <div class="right_content">
                            <div class="list_detail_common_title">1%加息奖励</div>
                            <p class="space10">活动期间购买奇乐融“外快节”活动标的，皆有1%的加息奖励，举例说明：</p>
                            <p>用户小A在活动期间购买了奇乐融年化收益率为10%、投资期限为12个月的“外快节”活动标的，投资金额为50万元，除了可获得5万元利息外，还可额外获得加息奖励：</p>
                            <div class="bigger">500000元x1%=5000元</div>
                        </div> 
                    </div>
                    <div class="list_detail_2">
                        <img src="/ccc/activity/img/festival/two.png">
                        <div class="right_content">
                            <div class="list_detail_common_title">投资奖励</div>
                            <p class="space10">活动期间购买奇乐融“外快节”活动标的，单笔投资金额达到相应的区间值，即可获得相应的返现红包奖励，活动奖励如下：</p>
                        </div>
                    </div>
                    <div class="list_detail_box"></div>
                </div>
            </div>
            <div class="button">
                <a href="/invest">
                    <img src="/ccc/activity/img/festival/button.png">
                    <p class="invest_word">立即投资</p>
                </a>
                
                
            </div>
        </div>
    </div>
    <div class="rule">
        <div class="rule_detail">
            <ul class="rule_list">
                <li>1、加息奖励在每张标的结标后2~3个工作日内审核发放；</li>
                <li>2、投资奖励在每张标的结标后3~5个工作日内审核发放；</li>
                <li>3、1%加息奖励以现金形式进行发放，金额计算采取四舍五入形式，保留小数点后2位；</li>
                <li>4、所有奖励请在奇乐融“我的账户-我的红包”处查询；</li>
                <li>5、活动最终解释权归奇乐融所有！</li>
            </ul>
        </div>
    </div>
</div>
