<!DOCTYPE html>
<html lang="en">
<head>
    <title>活动</title>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link href="/ccc/activity/css/common.css" rel="stylesheet" type="text/css" />

    <link href="/ccc/activity/css/activity.css" rel="stylesheet" type="text/css" />
</head>
{{>layouts.default.head}}
<body id="top">

<div id="main-container">
    <a href="/"><img src="/ccc/activity/img/bg-activityv2.png" width="100%" /></a>

    <div class="s-activity-view u-pos-r-center">
        <img src="/ccc/activity/img/activity-detailv2.png" />
        <div class="s-content-view">
            <h2>规则说明</h2>
            <ul>
                <li>1、活动时间：2015年5月6日-2015年5月31日；</li>
                <li>2、用户注册并完成首笔投资，即可获得50元返现券；</li>
                <li>3、返现券将于项目筹建完毕后一个工作日内，发送到用户帐户；</li>
                <li>4、用户投资10000元以上，可选用返现券，返现金额将于24小时内到达用户账户；</li>
                <li>5、返现券有效截止日期5月31日，且不可拆分、提现和转让；</li>
                <li>6、返现券不能与其他优惠同时使用。</li>
                <li>首次投资用户除获得返现券外，还可以享投资金额最高10‰现金红包，规则如下：</li>
                <li>投资10000元以下,3月期产品，按0.5‰返现；6月期，按2‰返现；</li>
                <li>投资10000元以上（含）,30000元以下，3月期产品，按1‰返现；6月期，按4‰返现；</li>
                <li>投资30000元以上（含）,60000元以下，3月期产品，按1.5‰返现；6月期，按6‰返现；</li>
                <li>投资60000元以上（含）,100000元以下，3月期产品，按2‰返现；6月期，按8‰返现；</li>
                <li>投资1000000元以上（含），3月期产品，按2.5‰返现；6月期，按10‰返现。</li>
                <li>返现红包将于活动结束后，一个工作日内派发到用户帐户，红包可直接提现或用于投资。</li>
                <li>本活动遵循九信金融法律声明，规则解释权归九信金融所有。</li>
            </ul>

            <a href="#top"><i class="mdi mdi-arrow-up"></i>返回顶部</a>
        </div>
    </div>

</div>

{{>layouts.default.footer}}
</body>
</html>