<!DOCTYPE html>
<html lang="en">
<head>
    <title>活动</title>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link href="/ccc/activity/css/common.css" rel="stylesheet" type="text/css" />

    <link href="/ccc/activity/css/activity.css" rel="stylesheet" type="text/css" />
</head>
{{>layouts.default.head}}
<body id="top">

<div id="main-container">
    <a href="/"><img src="/ccc/activity/img/bg-activity.jpg" width="100%" /></a>

    <div class="s-activity-view u-pos-r-center">
        <img src="/ccc/activity/img/activity-detail.png" />
        <div class="s-content-view">
            <h2>规则说明</h2>
            <ul>
                <li>1、	活动时间：2015年5月5日-2015年5月31日；</li>
                <li>2、用户注册并完成首笔投资，即可获得50元投资券；</li>
                <li>3、用户投资10000元以上，可直接用投资券抵扣本金,投资券有限截止日期5月31日；</li>
                <li>4、投资券只能用于购买理财产品，不可拆分、提现或转让；</li>
                <li>5、投资券不能与其他优惠同时使用。</li>
                <li>首次投资用户除获得投资券外，还可以享现金红包，规则如下：</li>
                <li>投资10000元以下,按投资金额2‰返现；</li>
                <li>投资10000元以上（含）,30000元以下，按投资金额4‰返现；</li>
                <li>投资30000元以上（含）,60000元以下，按投资额金额6‰返现；</li>
                <li>投资60000元以上（含）,100000元以下，按投资额金额8‰返现；</li>
                <li>投资1000000元以上（含），按投资额金额10‰返现；</li>
                <li>返现红包将于投资到期时，与本息一起派发到用户帐户，红包可直接提现或用于投资。</li>
                <li>本活动遵循九信金融法律声明，规则解释权归九信金融所有。</li>
            </ul>

            <a href="#top"><i class="mdi mdi-arrow-up"></i>返回顶部</a>
        </div>
    </div>

</div>

{{>layouts.default.footer}}
</body>
</html>