<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/common.css">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    name="viewport" />    
    <meta name="format-detection" content="telephone=no" />

    <script type="text/javascript">
        function openpageandroid() {
            if (!isWeiXin()) {
                document.location =
                    'http://www.laitou.cn/download/app/laitou.apk';
            } else {
                document.location = '/app/down';
            }
        }

        function isWeiXin() {
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == "micromessenger") {
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<body class="download-body">
    <div class="container-app">
        <br/>
        <br/>
        <br/>    
        <div class="logo">
            <img src="/img/logo.png">
        </div>
        <br/>
        <br/>
        <br/>        
        <div class="andriod_box">
            <img id="android" src="/img/app_android.png" onclick="openpageandroid()" />
        </div>
        <div class="name">
            <img src="/img/name.png">
        </div>
    </div>
</body>
</html>

