<link rel="stylesheet" href="/ccc/account/css/common.css">
<link rel="stylesheet" href="/ccc/global/css/modules/cccTips.css">
<link rel="stylesheet" href="/ccc/global/css/modules/cccPaging.css">
<link rel="stylesheet" href="/ccc/account/css/invite.css">

<div class="account-wraper">
    {{>topNav}}

    <div>
        <div class="space space-20"></div>
        <div class="has-line">
            <div class="row ccc-container">
                <div class="col-md-12">
                    <div class="header-text pull-left">我的邀请</div>
                    
                </div>
            </div>
        </div>
     <div class="space space-20"></div>
        <div class="ccc-container row">
            <div class="col-md-12 ccc-invests-wrap">
            	<div class="ccc-tab-panels">
            		<div class="tab-panel invite-wrap active">
            			<p class="loading">加载中...</p>
            		</div>
            	</div>
            </div>
        </div>
        <div class="space space-50"></div>
    </div>
</div>

<script src="/ccc/global/js/ZeroClipboard.js"></script>
<script src="/ccc/account/js/main/invite.js"></script>
