{{>layouts.default.head}}
<link rel="stylesheet" href="/css/index.css">
{{>layouts.default.header}}
<div id="main-container">

    <img class="u-v-edge" src="/assets/img/header.png" />

    <div class="s-lightview s-view">
        <div class="s-view-content u-pos-r-center" style="height:425px;">
            <div class="s-view-title">集团背景</div>

            <table class="s-c-2">
                <tr>
                    <td class="s__t-l u-pad-right60" style="line-height:24px;">
                        <p>
                            九信金融是国内知名金融集团九鼎投资倾力打造的互联网金融平台。九鼎投资是第一家登录国内资本市场的私募股权机构，为“中国PE第一股”，净资产超110亿元，总市值近700亿元。九鼎投资以其雄厚的资金实力、优质的金融资产和业内顶尖的风控体系为九信金融提供坚实后盾。<br/>
                            九鼎投资旗下拥有从事PE业务的昆吾九鼎、从事公募基金业务的九泰基金、从事证券业务的九州证券、从事个人风险投资业务的晨星计划及从事第三方支付业务的金佰仕等诸多金融企业。同时，九鼎投资正在进行保险公司和银行的收购，未来将实现金融领域的全牌照布局。
                        </p>
                    </td>
                    <td>
                        <table>
                            <tr class="s__height120">
                                <td colspan="4" class="s__v-top"><img src="/img/logos.jpg"  style="position:relative;bottom:35px;";/></td>
                            <tr>
                        </table>
                    </td>
                </tr>
            </table>

            <a href="/info/group"><button class="s-btn-read-more">查看更多</button></a>
        </div>
    </div>

    <div class="s-darkview s-view">
        <div class="s-view-content u-pos-r-center">
            <div class="s-view-title">顶级私募立体风控系统</div>
            <table class="s-c-4">
                <tr>
                    <td class="s__has-bgcolor-w">
                        <img src="/assets/img/cell11.png" /><p class="u-high-line150" style="margin-top:28px">顶尖投研团队</p>
                        <div class="s-mouse-show"><div class="s-m-s-content"><p>九信金融共享集团覆盖全行业的顶尖投研团队。投研团队进行高度专业化分工，专注大消费、TMT、医疗医药、农业、高端制造、新材料、矿业、节能环保等领域。同时，公司不断引进在相关具体行业领域有过多年工作经验的专家，以此进一步提高专业性。</p></div></div>
                    </td>
                    <td class="s__has-bgcolor-w">
                        <img src="/assets/img/cell12.png" /><p class="u-high-line150" style="margin-top:28px">专职，独立的风控团队</p>
                        <div class="s-mouse-show"><div class="s-m-s-content"><p>风控团队成员均来自于四大会计师事务所及国内顶尖事务所，具备多年审计、会计及财务尽职调查经验。在项目开发、尽职调查、评审等过程中，相关风控部门人员全程参与，并对过程中所有相关风险进行及时有效的揭示、评估和诊断。</p></div></div>
                    </td>
                    <td class="s__has-bgcolor-w">
                        <img src="/assets/img/cell13.png" /><p class="u-high-line150" style="margin-top:28px">最严苛的项目审评机制</p>
                        <div class="s-mouse-show"><div class="s-m-s-content"><p>集团建立了行业内最严苛的项目审批流程，确保所投项目优中选优，为投资人创造最大的价值。在对项目尽职调查过程中，至少会经过三轮复核机制。同时，还会邀请与项目方没有利益关系的专家，共同进行实地考察、关键事项和环节验证。</p></div></div>
                    </td>
                    <td class="s__has-bgcolor-w">
                        <img src="/assets/img/cell14.png" /><p class="u-high-line150" style="margin-top:28px">全方位专业法律服务团队</p>
                        <div class="s-mouse-show"><div class="s-m-s-content"><p>九信金融拥有来自金杜、中伦等国内顶尖律师事务所的法务专家团队，全程参与九信金融所有产品的设计、融资前的资产审核评估、融资后的资产处置等，提供全方位法律支持服务。</p></div></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="s-lightview s-view">
        <div class="s-view-content u-pos-r-center">
            <div class="s-view-title">双重保障</div>
            <table class="s-c-2 u-pad-top30">
                <tr>
                    <td>
                        <img src="/assets/img/cell21.png" />
                    </td>
                    <td>
                        <img src="/assets/img/cell22.png" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>上市公司连带保证</h4>
                    </td>
                    <td>
                        <h4>优质金融资产担保</h4>
                    </td>
                </tr>
                <tr>
                    <td class="s__pad-left-right">
                        <p class="u-text-a-l" style="line-height:24px;">“PE第一股“九鼎投资（430719）为九信金融的产品提供连带责任保证担保，凭借其雄厚的资金实力为所有投资者提供最坚实的本息安全保障。</p>
                    </td>
                    <td class="s__pad-left-right">
                        <p class="u-text-a-l" style="line-height:24px;">所有融资项目皆会提供足值的金融资产作为担保物，担保物包括最具增值潜力的私募基金份额和成长性企业股权，以及来自公募基金、证券公司、保险公司等的债权类和权益类资产。凭借九信金融专业审核评估，灵活增信措施，最终实现用户对安全性、流动性与收益性要求的完美平衡。</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="s-darkview s-view">
        <div class="s-view-content u-pos-r-center">
            <div class="s-view-title">项目来源</div>
            <table class="s-c-3 u-pad-top30">
                <tr>
                    <td>
                        <img src="/assets/img/cell31.png" />
                    </td>
                    <td>
                        <img src="/assets/img/cell32.png" />
                    </td>
                    <td>
                        <img src="/assets/img/cell33.png" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>九鼎投资</h4>
                        <p class="u-text-a-l" style="line-height:24px;">九鼎投资作为国内顶尖且第一家上市的私募股权投资机构，凭借上市的先发优势拥有大量的资金和项目优势。</p>
                    </td>
                    <td>
                        <h4>九鼎控股金融机构</h4>
                        <p class="u-text-a-l" style="line-height:24px;">九鼎投资旗下拥有九泰基金、九州证券、昆吾九鼎等领先金融机构，且形成了金控集团多牌照的资源整合效应，结合九信金融的互联网创新为投资者提供丰富的投资品种和灵活的投资方式。</p>
                    </td>
                    <td>
                        <h4>300多家已投企业</h4>
                        <p class="u-text-a-l" style="line-height:24px;">九信金融的项目将来源于九鼎累计投资的300多家企业形成的庞大资源网络，其中已上市及处于上市审核过程中的企业超过60家，九信金融将为这些优质客户提供便捷的供应链融资服务。</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="s-lightview s-view">
        <div class="s-view-content u-pos-r-center">
            <div class="s-view-title">独立资金托管与技术安全</div>
            <table class="s-c-3 u-pad-top30">
                <tr>
                    <td>
                        <img src="/assets/img/cell41.png" />
                    </td>
                    <td>
                        <img src="/assets/img/cell42.png" />
                    </td>
                    <td>
                        <img src="/assets/img/cell43.png" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>第三方资金托管</h4>
                        <p class="u-text-a-l" style="line-height:24px;">九信金融使用第三方支付联动优势提供的专业资金托管系统，平台资金与用户资金分离，彻底杜绝平台自建资金池及随意挪用资金风险。项目融资完成后，资金将从投资人账户直接划拨给借款人。用户资金仅能转出到通过认证和绑定的银行卡。</p>

                    </td>
                    <td>
                        <h4>银行级网站安全构架</h4>
                        <p class="u-text-a-l" style="line-height:24px;">平台采用银行级安全架构：页面、后台、数据库三层数据验证，公安部实名认证，EV SSL, 短信、邮件验证保证安全；多层物理隔离部署环境，代码与数据隔离，防止用户及平台关键信息泄露。</p>
                    </td>
                    <td>
                        <h4>隐私安全</h4>
                        <p class="u-text-a-l" style="line-height:24px;">平台将对用户信息严格保密，设有严格的安全系统，防止未经授权的任何人包括公司员工获取用户信息。因服务器务必要委托第三方，在获取用户信息时，被严格要求遵守保密责任。</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{{>layouts.default.footer}}
<script src="/assets/js/main/header.js"></script>
