{{>layouts.default.head}}
<link rel="stylesheet" href="/css/index.css">
{{>layouts.default.header}}
<div class="page-safe">
    <div class="banner-container">
        <div class="banner-wrapper">
            <div class="banner-img"><img src="/img/bag.png" /></div>
            <div class="banner-span">为投资人提供完备无忧的资金安全保障</div>
        </div>
    </div>
    <div class="content-odd-container">
        <div class="content-wrapper">
            <p class="content-title border-bottom">
                伙伴安全
            </p>
            <div class="partner-main">
                <div class="partner-desc">
                    <p>
                       我们对合作机构设置了高标准的准入门槛，建立了多层次的风险防范措施，实施严格的授信总额控制并对合作机构进行严密的风险监控；根据不同担保机构风险水平，针对性引入担保机构主发起人连带责任担保，构建了可随时启动在线垫付的担保机制。 
                    </p>                    
                    <div><img src="/img/hanhua.png" /></div>
                    <p>
                        瀚华金控旗下瀚华担保股份有限公司是<span class="hint">信贷市场AAA-信用评级、资本市场AA+信用评级、</span>中国融资担保业协会副会长单位、中国最具公信力中小企业信用担保机构。
                    </p>                                         
                    <div class="mt15"><img src="/img/xiaodai.png" /></div>
                    <p>
                        瀚华系列小贷公司由分布在全国11个省（市、区）的小贷公司组成，合计注册资本金近30亿元，在资金实力、覆盖地域、服务客户数、运营管理等方面均居全国小贷公司前列。瀚华小贷为中国小额信贷机构联席会副会长单位、中国小额信贷联盟理事单位、各省市级小贷公司协会会长或副会长单位，多次获评中国小贷公司竞争力100强等荣誉称号。
                    </p>                                                           
                </div>
                <div class="partner-img">
                    <img src="/img/partner.png" />
                </div> 
                <div class="clear"></div>               
            </div>            
        </div>
    </div>
    <div class="content-even-container">
        <div class="content-wrapper fund-wrapper">
            <p class="content-title border-bottom">
                资产安全
            </p>
            <div class="money-img"><img src="/img/money.png" /></div>
            <p>
                依托瀚华金控雄厚的信贷专业能力，精心选择优质安全的可投资项目，并依托瀚华金控覆盖全国的专业团队，对贷后项目进行风险监控，确保每一个投资标的在项目周期内风险可控。
            </p>
        </div>
    </div>
    <div class="content-odd-container">
        <div class="content-wrapper">
            <p class="content-title border-bottom">
                资金安全
            </p>
            <div class="fund-img"><img src="/img/fund.png" /></div>
            <div class="fund-detail border-bottom">
                <div class="fund-detail-img"><img src="/img/cfca.png" /></div>
                <p>
                    与中国金融认证中心（CFCA）合作，建立类似银行体系的电子安全保障机制。<br />盈投保平台生成的每一份借贷合同，都经过中国金融认证中心(CFCA)的数字证书认证;认证后的电子合同无法被篡改、伪造，有效保证各方的合法权益。
                </p>
                <div class="clear"></div>
            </div>
            <div class="fund-detail pb40">
                <div class="fund-detail-img"><img src="/img/ump.png" /></div>
                <p>
                    平台交易资金由第三方支付机构联动优势（中国移动与中国银联联合发起成立）独立托管，杜绝资金池。资金托管系统采用支付密码+短信验证码+短信提醒多重验证方式，采用国际最先进的动态密码算法，最大限度保护账户及资金安全。资金托管系统的资金流转信息透明，您的账户信息变实时短信提醒，保证投资人完全掌握资金动态。
                </p>
                <div class="clear"></div>
            </div>
        </div>    
    </div>
    <div class="content-even-container info-container">
        <div class="content-wrapper">
            <p class="content-title">
                信息安全
            </p>      
            <div class="info-container  border-bottom">
                <div class="info-desc">
                    <p class="subtext">
                        银行级的数据传输和加密通道 ，高级别网络安全防护保障，有效保障平台用户信息安全。
                    </p>                    
                    <ul>
                        <li>
                            <div class="number">1.</div>
                            <p class="safe-detail">                       
                                采用SSL256位等多种加密保护技术，确保用户在进行个人账户操作或敏感信息的操作时，传输信息进行加密处理。采用高级别网络安全系统，对表示层、应用层和数据层        进行隔离，有效防范各种入侵和恶意攻击等行为。 
                            </p>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="number">2.</div>
                            <p class="safe-detail">
                                使用银行级别加密传输技术，对所有交互信息进行加密，最大限度保护客户交易信息的安全。
                            </p>
                        </li>
                        <li>
                            <div class="number">3.</div>
                            <p class="safe-detail">
                                服务器采用国内顶尖机构进行托管，建立了实时、异地备份数据中心，制定了多套灾备应急方案，确保数据万无一失。
                            </p>
                        </li>
                    </ul>                                                                                             
                </div>
                <div class="info-img"><img src="/img/umbrella.png" /></div>
                <div class="clear"></div>
            </div> 
            <div class="info-container pb20">
                <p class="content-title pt10">
                隐私安全
                </p> 
                <div class="info-desc">
                    <p>
                        盈投保郑重承诺本平台会严格按照隐私条款保护您的所有信息，未经您的同意不会向任何第三方公司、组织和个人披露您的个人信息、账户信息以及交易信息（法律法规另有规定的除外）。
                    </p>
                </div>
                <div class="clear"></div>
            </div>             
        </div>
    </div>
</div>

{{>layouts.default.footer}}
<script src="/assets/js/main/header.js"></script>