<!--detail页面的 相关资料部分-->
{{#if imgLen}}
<div class="insurance">
    <a href="#">
        <img src="{{ imgs[currentIndex].src }}!1" 
            alt="{{ imgs[currentIndex].text }}" 
            class="preview"
            on-click="begin-big-pic" />
    </a>
    <div class="insurance-intro">{{ imgs[currentIndex].text }}</div>    
</div>

<div class="controler">
    {{#if imgs.lenght > 4}}
        <a href="#" class="left" on-click="left-selector"></a>
    {{/if}}
    <div class="selectors-wrapper">
        <ul class="selectors" style="{{#selectorsMarginLeft}} margin-left: {{ selectorsMarginLeft }}px; {{/}}">
            {{#each imgs}}
                <li class="selector {{#if currentIndex === @index}}active{{/if}}">
                    <a href="#">
                        <img src="{{ src }}!1" 
                            alt="{{ text }}"
                            on-click="selector-click" />
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
    {{#if imgs.length > 4}}
        <a href="#" class="right" on-click="right-selector"></a>
    {{/if}}
</div>
{{ else }}
    <div>
        暂无相关资料
    </div>
{{/if}}