<p class="controler-title">企业认证图片</p>
{{#if career.length}}
<div class="controler" style="margin-left:12px;">
    <div id="carousel-com-career" class="carousel slide li-content" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner" role="listbox">
            {{#career}}
            <div class="item item-pic {{#if @index===0}} active {{/if}}" style="background-image:url({{uri}});" on-click="begin-big-pic-career">
<!--
                <div class="row">
                    <div class="col-xs-6 col-md-2 imgs-list" style="width:350px;">
                        <a  class="thumbnail-border" style="float:left">
                            <img src="{{uri}}" style="width:100%;">
                        </a>

                    </div>
                </div>
-->
            </div>
            {{/career}} 
        </div>

        <a class="left carousel-control" href="#carousel-com-career" role="button" data-slide="prev" style="width:10%;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-com-career" role="button" data-slide="next" style="width:10%;">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

{{ else }}
<div style="text-align:center">
    暂无相关资料
</div>
{{/if}}

<p class="controler-title" style="margin-top:30px;">风控认证图片</p>
{{#if loanPurpose.length}}
<div class="controler">
    <div id="carousel-com-loan" class="carousel slide li-content" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner" role="listbox">
            {{#loanPurpose}}
            <div class="item item-pic {{#if @index===0}} active {{/if}}" style="background-image:url({{uri}});" on-click="begin-big-pic-loan">
<!--
                <div class="row">
                    <div class="col-xs-6 col-md-2 imgs-list" style="width:350px;">
                        <a on-click="begin-big-pic-loan" class="thumbnail-border" style="float:left">
                            <img src="{{uri}}" style="width:350px;">
                        </a>

                    </div>
                </div>
-->
            </div>
            {{/loanPurpose}} 
        </div>

        <a class="left carousel-control" href="#carousel-com-loan" role="button" data-slide="prev" style="width:10%;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-com-loan" role="button" data-slide="next" style="width:10%;">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

{{ else }}
<div style="text-align:center">
    暂无相关资料
</div>
{{/if}}