
<div>
<footer id="page-footer" class="container text-center">
    <div class="copyright">
        版权所有 &copy; 2015 奇乐融  皖ICP备XXXXXX号
    </div>

    <div class="contact">
        客服热线 <a class="hotline" href="tel:400000000">400-000-000</a>
    </div>

    <div class="certification">
        <img height="24" src="assets/image/certification/norton.png">
        <img height="24" src="assets/image/certification/360.png">
        <img height="24" src="assets/image/certification/aqlm-dngj.png">
    </div>
</footer>

<div style="margin-bottom: 66px;" x-gyro-comment></div>
<nav id="page-tab-nav" x-gyro-comment>
    <ul class="container list-unstyled u-off-margin-bottom">
        <li class="col-xs-4" ng-class="{ active: state === 'list' }">
            <a href="list">
                <param class="glyphicon glyphicon-th-list">
                产品列表
            </a>
        </li>

        <li class="col-xs-4" ng-class="{ active: state === 'dashboard' }">
            <a href="dashboard">
                <param class="glyphicon glyphicon-user">
                我的投资
            </a>
        </li>

        <li class="col-xs-4" ng-class="{ active: state === 'invite' }">
            <a href="dashboard/invite">
                <param class="glyphicon glyphicon-share">
                邀请好友
            </a>
        </li>
    </ul>
</nav>
</div>
